Repository ForgeRock/ping-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, davinci-client, device-client, test

fix(davinci-client): invoke RTK Query selectors with state for cache lookups
  e2e/davinci-app/server-configs.ts
  e2e/davinci-suites/playwright.config.ts
  e2e/davinci-suites/src/password-policy.test.ts
  e2e/mock-api-v2/tsconfig.app.json
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.test.ts
  packages/davinci-client/src/lib/client.store.ts
  pnpm-lock.yaml
  tools/api-report/src/fixer.ts
  tools/interface-mapping-validator/package.json
Labels: docs, test

refactor(journey-client): use Either for response parsing in start and next
  e2e/journey-suites/src/login.test.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/package.json
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/journey.utils.test.ts
  packages/journey-client/src/lib/journey.utils.ts
  packages/journey-client/src/types.ts
  pnpm-lock.yaml
Labels: docs, test

fix(journey-client): create JourneyLoginFailure step, handle Login Failure case
  .changeset/whole-mangos-find.md
  e2e/journey-app/main.ts
  e2e/journey-suites/src/login.test.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/package.json
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/journey.utils.test.ts
  packages/journey-client/src/lib/journey.utils.ts
  packages/journey-client/src/types.ts
  pnpm-lock.yaml
Labels: docs, test

feat: implement recognize client and error handling in SDK
  e2e/recognize-app/src/index.ts
  packages/recognize/src/index.ts
  packages/recognize/src/lib/errors.ts
  packages/recognize/src/lib/recognize.spec.ts
  packages/recognize/src/lib/recognize.ts
  packages/recognize/src/lib/recognize.types.ts
  packages/recognize/tsconfig.lib.json
Labels: test

chore: fix-snapshot
  .github/workflows/publish.yml
Labels: CI

feat: refactor recognize SDK error handling and improve type definitions
  e2e/recognize-app/src/index.ts
  packages/recognize/package.json
  packages/recognize/src/index.ts
  packages/recognize/src/lib/defs/recognize-error-code.ts
  packages/recognize/src/lib/defs/recognize-sdk-to-recognize-proxy-error-map.ts
  packages/recognize/src/lib/functions/create-recognize-error.ts
  packages/recognize/src/lib/recognize.ts
  packages/recognize/src/lib/recognize.types.ts
Labels: test

feat: update error handling in recognize SDK to throw descriptive errors for initialization and element validation
  packages/recognize/src/lib/defs/recognize-error-code.ts
  packages/recognize/src/lib/recognize.ts
Labels: none

feat: update RecognizeWcCompleteDetail to use interface instead of type alias
  packages/recognize/src/lib/recognize.types.ts
Labels: none

feat: enhance recognize tests and update vitest configuration for jsdom environment
  packages/recognize/src/lib/recognize.spec.ts
  packages/recognize/vitest.config.mts
Labels: none

feat: update createRecognizeError to use Error type for cause and improve type definitions
  packages/recognize/src/lib/functions/create-recognize-error.ts
  packages/recognize/src/lib/recognize.types.ts
Labels: none

feat: optimize error and event handling
  packages/recognize/package.json
  packages/recognize/src/lib/classes/recognize-error.ts
  packages/recognize/src/lib/defs/constants.ts
  packages/recognize/src/lib/functions/create-recognize-error.ts
  packages/recognize/src/lib/recognize-sdk/index.d.ts
  packages/recognize/src/lib/recognize.spec.ts
  packages/recognize/src/lib/recognize.ts
  packages/recognize/src/lib/recognize.types.ts
Labels: none

fix: export RecognizeError from recognize.types so index.ts can re-export it
  packages/recognize/src/lib/recognize.types.ts
Labels: none

chore: replace empty interfaces with type aliases and reorder RecognizeError export
  packages/recognize/src/lib/recognize.types.ts
Labels: none

fix(oidc-client): address PR feedback
  .changeset/brave-foxes-dance.md
  e2e/oidc-app/src/utils/oidc-app.ts
  e2e/oidc-suites/src/session.spec.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/client.store.test.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/oidc.api.ts
  packages/oidc-client/src/lib/session.micros.test.ts
  packages/oidc-client/src/lib/session.micros.ts
  packages/oidc-client/src/lib/session.types.ts
Labels: docs, test

feat(oidc-client): add oidc session check with response type of id_token and none
  .changeset/brave-foxes-dance.md
  e2e/oidc-app/src/ping-am/index.html
  e2e/oidc-app/src/ping-one/index.html
  e2e/oidc-app/src/utils/oidc-app.ts
  e2e/oidc-suites/src/session.spec.ts
  e2e/oidc-suites/src/utils/login.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/package.json
  packages/oidc-client/src/lib/client.store.test.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/oidc.api.ts
  packages/oidc-client/src/lib/session.micros.test.ts
  packages/oidc-client/src/lib/session.micros.ts
  packages/oidc-client/src/lib/session.types.ts
  packages/oidc-client/src/types.ts
  packages/sdk-effects/iframe-manager/src/lib/iframe-manager.effects.test.ts
  packages/sdk-effects/iframe-manager/src/lib/iframe-manager.effects.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: docs, test

refactor(sdk-utilities): extract handleMicroExit helper from oidc-client
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/sdk-utilities/package.json
  packages/sdk-utilities/src/index.ts
  packages/sdk-utilities/src/lib/micro.utils.ts
  pnpm-lock.yaml
Labels: none

feat(oidc-client): add no redirect support for response type none
  e2e/oidc-app/src/ping-am/index.html
  e2e/oidc-app/src/ping-one/index.html
  e2e/oidc-app/src/utils/oidc-app.ts
  e2e/oidc-suites/src/session.spec.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/oidc-client/README.md
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/client.store.test.ts
  packages/oidc-client/src/lib/oidc.api.ts
  packages/oidc-client/src/lib/session.micros.test.ts
  packages/oidc-client/src/lib/session.micros.ts
  packages/oidc-client/src/lib/session.types.ts
Labels: docs, test

feat(oidc-client): add oidc session check with response type of id_token and none (#682)
  .changeset/brave-foxes-dance.md
  e2e/oidc-app/src/ping-am/index.html
  e2e/oidc-app/src/ping-one/index.html
  e2e/oidc-app/src/utils/oidc-app.ts
  e2e/oidc-suites/src/session.spec.ts
  e2e/oidc-suites/src/utils/login.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/oidc-client/README.md
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/package.json
  packages/oidc-client/src/lib/client.store.test.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/oidc.api.ts
  packages/oidc-client/src/lib/session.micros.test.ts
  packages/oidc-client/src/lib/session.micros.ts
  packages/oidc-client/src/lib/session.types.ts
  packages/oidc-client/src/types.ts
  packages/sdk-effects/iframe-manager/src/lib/iframe-manager.effects.test.ts
  packages/sdk-effects/iframe-manager/src/lib/iframe-manager.effects.ts
  packages/sdk-utilities/package.json
  packages/sdk-utilities/src/index.ts
  packages/sdk-utilities/src/lib/micro.utils.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: docs, test

feat(recognize): rename Wc types, refactor error model, update bundled SDK
  e2e/recognize-app/src/index.ts
  packages/recognize/eslint.config.mjs
  packages/recognize/src/index.ts
  packages/recognize/src/lib/classes/recognize-error.ts
  packages/recognize/src/lib/defs/recognize-error-code.ts
  packages/recognize/src/lib/defs/recognize-sdk-to-recognize-proxy-error-map.ts
  packages/recognize/src/lib/functions/create-recognize-error.ts
  packages/recognize/src/lib/recognize-sdk/index.d.ts
  packages/recognize/src/lib/recognize-sdk/index.js
  packages/recognize/src/lib/recognize-sdk/pthreads/wasm.js
  packages/recognize/src/lib/recognize-sdk/pthreads/wasm.wasm
  packages/recognize/src/lib/recognize-sdk/wasm.js
  packages/recognize/src/lib/recognize-sdk/wasm.wasm
  packages/recognize/src/lib/recognize.spec.ts
  packages/recognize/src/lib/recognize.ts
  packages/recognize/src/lib/recognize.types.ts
Labels: test

feat(davinci-client): add BooleanCollector and refactor ReadOnlyCollector/AgreementCollector
  .changeset/silent-ideas-joke.md
  .changeset/single-checkbox.md
  e2e/davinci-app/components/agreement.ts
  e2e/davinci-app/components/boolean.ts
  e2e/davinci-app/components/label.ts
  e2e/davinci-app/components/read-only.ts
  e2e/davinci-app/main.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/collector.types.test-d.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
Labels: docs, test

feat: standardize SDK configuration
  .changeset/sdks-5067-unified-config.md
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.test.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/config.types.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/config.types.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/authorize.request.micros.ts
  packages/oidc-client/src/lib/authorize.request.utils.test.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/oidc-client/src/lib/client.store.test.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/config.types.ts
  packages/oidc-client/src/lib/logout.request.test.ts
  packages/oidc-client/src/lib/logout.request.ts
  packages/oidc-client/src/lib/oidc.api.ts
  packages/sdk-effects/logger/package.json
  packages/sdk-effects/logger/src/lib/logger.types.ts
  packages/sdk-effects/logger/tsconfig.lib.json
  packages/sdk-effects/oidc/src/lib/authorize.test.ts
  packages/sdk-effects/oidc/src/lib/authorize.utils.ts
  packages/sdk-types/src/lib/authorize.types.ts
  packages/sdk-types/src/lib/config.types.ts
  packages/sdk-utilities/src/index.ts
  packages/sdk-utilities/src/lib/config/config.effects.ts
  packages/sdk-utilities/src/lib/config/config.test.ts
  packages/sdk-utilities/src/lib/config/config.types.ts
  packages/sdk-utilities/src/lib/config/config.utils.ts
  packages/sdk-utilities/src/lib/config/index.ts
  pnpm-lock.yaml
Labels: docs, test

refactor(sdk-utilities): remove per-property parser exports — inline primitives in section parsers
  packages/sdk-utilities/src/lib/config/config.test.ts
  packages/sdk-utilities/src/lib/config/config.types.ts
  packages/sdk-utilities/src/lib/config/config.utils.ts
Labels: test

chore(eslint): add simple-import-sort and consistent-type-imports rules
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Labels: none

chore: update ESLint config to ignore recognize-sdk directory
  packages/recognize/eslint.config.mjs
Labels: none

chore(context): preserve personal CLAUDE.md as CLAUDE.local.md
  .github/copilot-instructions.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  package.json
Labels: CI, docs

feat(davinci-client): add form image collector
  .changeset/curly-wolves-swim.md
  e2e/davinci-app/components/form-image.ts
  e2e/davinci-app/main.ts
  e2e/davinci-app/server-configs.ts
  e2e/davinci-suites/src/form-image.test.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/collector.types.test-d.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
Labels: docs, test

fix(davinci-client): address PR review comments on ImageCollector
  .changeset/curly-wolves-swim.md
  e2e/davinci-app/components/form-image.ts
  e2e/davinci-suites/src/form-image.test.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
Labels: docs, test

feat(davinci-client): add form image collector (#698)
  .changeset/curly-wolves-swim.md
  e2e/davinci-app/components/form-image.ts
  e2e/davinci-app/main.ts
  e2e/davinci-app/server-configs.ts
  e2e/davinci-suites/src/form-image.test.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/collector.types.test-d.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
Labels: docs, test

chore: fix Mend security vulnerabilities
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: fix Mend security vulnerabilities (#714)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: fix vite CVE-2026-53632/53571 and prune redundant overrides
  package.json
  pnpm-lock.yaml
Labels: none

chore: fix vite CVE-2026-53632/53571 and prune redundant overrides (#717)
  package.json
  pnpm-lock.yaml
Labels: none

chore(changeset): remove am-mock-api from changeset and add to ignore list
  .changeset/config.json
  .changeset/some-shirts-joke.md
Labels: docs

chore(changeset): remove am-mock-api from changeset and add to ignore list (#718)
  .changeset/config.json
  .changeset/some-shirts-joke.md
Labels: docs

chore: fix RTK cache selector lookup and fast-uri CVE-2026-13676
  .changeset/rtk-cache-selector-lookup.md
  package.json
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  pnpm-lock.yaml
Labels: docs

chore: fix RTK cache selector lookup and fast-uri CVE-2026-13676 (#719)
  .changeset/rtk-cache-selector-lookup.md
  package.json
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  pnpm-lock.yaml
Labels: docs

ci: add-fixtures-and-generate-bundles
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  e2e/bundle-check-app/fixtures/davinci-client-flow.ts
  e2e/bundle-check-app/fixtures/davinci-client.ts
  e2e/bundle-check-app/fixtures/device-client.ts
  e2e/bundle-check-app/fixtures/effect-barrel-option.ts
  e2e/bundle-check-app/fixtures/effect-subpath-option.ts
  e2e/bundle-check-app/fixtures/journey-client-device.ts
  e2e/bundle-check-app/fixtures/journey-client-policy.ts
  e2e/bundle-check-app/fixtures/journey-client-qr-code.ts
  e2e/bundle-check-app/fixtures/journey-client-recovery-codes.ts
  e2e/bundle-check-app/fixtures/journey-client-webauthn.ts
  e2e/bundle-check-app/fixtures/journey-client.ts
  e2e/bundle-check-app/fixtures/journey-full.ts
  e2e/bundle-check-app/fixtures/oidc-client-logout.ts
  e2e/bundle-check-app/fixtures/oidc-client-token.ts
  e2e/bundle-check-app/fixtures/oidc-client.ts
  e2e/bundle-check-app/fixtures/protect.ts
  e2e/bundle-check-app/fixtures/redirect.ts
  e2e/bundle-check-app/package.json
  e2e/bundle-check-app/src/bundle.ts
  e2e/bundle-check-app/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Labels: CI, test

fix(davinci-client): remove try/catch from update dispatch — errors are now state
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
Labels: test

test: add failing tests for validation error cases in reducer
  packages/davinci-client/src/lib/node.reducer.test.ts
Labels: test

fix(davinci-client): replace reducer throws with collector.error state writes
  packages/davinci-client/src/lib/node.reducer.ts
Labels: none

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

test:
  - e2e/**/*
  - packages/**/*.test.ts
