Repository ForgeRock/ping-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, davinci-client, device-client, test

chore: make-cli-more-readable
  nx.json
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  pnpm-lock.yaml
  tools/treeshake-check/src/index.ts
  tools/treeshake-check/src/lib/analysis.ts
  tools/treeshake-check/src/lib/explanations.ts
  tools/treeshake-check/src/lib/schemas.ts
  tsconfig.json
Labels: docs

test(treeshake-check): add JS fixture packages for integration tests
  tools/treeshake-check/src/__fixtures__/clean/package.json
  tools/treeshake-check/src/__fixtures__/enum-only/package.json
  tools/treeshake-check/src/__fixtures__/mixed/package.json
  tools/treeshake-check/src/lib/treeshake-check.test.ts
Labels: none

test(treeshake-check): add rollup integration tests against JS fixtures
  tools/treeshake-check/src/treeshake-check.integration.test.ts
Labels: none

feat(treeshake-check): acorn AST-based UnannotatedCall detection
  pnpm-lock.yaml
  tools/treeshake-check/package.json
  tools/treeshake-check/src/lib/analysis.test.ts
  tools/treeshake-check/src/lib/analysis.ts
Labels: none

test(treeshake-check): annotate writeTempPackage Scope requirement in comment
  tools/treeshake-check/src/lib/treeshake-check.test.ts
Labels: none

feat(treeshake-check): resolve entry from exports field
  tools/treeshake-check/src/lib/analysis.test.ts
  tools/treeshake-check/src/lib/analysis.ts
  tools/treeshake-check/src/lib/schemas.ts
  tools/treeshake-check/src/lib/treeshake-check.test.ts
  tools/treeshake-check/src/lib/treeshake-check.ts
Labels: none

refactor(treeshake-check): pipe style + Schema.encode in renderJson
  tools/treeshake-check/src/index.ts
  tools/treeshake-check/src/lib/treeshake-check.ts
Labels: none

test(treeshake-check): strengthen integration tests with assert narrowing and error path
  tools/treeshake-check/src/__fixtures__/bad-syntax/dist/index.js
  tools/treeshake-check/src/treeshake-check.integration.test.ts
Labels: none

test(treeshake-check): commit fixture dist files and unblock gitignore
  nx.json
  tools/treeshake-check/eslint.config.mjs
  tools/treeshake-check/src/__fixtures__/.gitignore
  tools/treeshake-check/src/__fixtures__/clean/dist/index.js
  tools/treeshake-check/src/__fixtures__/enum-only/dist/index.js
  tools/treeshake-check/src/__fixtures__/mixed/dist/index.js
  tools/treeshake-check/src/treeshake-check.integration.test.ts
Labels: none

test(treeshake-check): move fixture JS out of dist/ and fix CI failures
  .prettierignore
  package.json
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  pnpm-lock.yaml
  tools/treeshake-check/eslint.config.mjs
  tools/treeshake-check/src/__fixtures__/.gitignore
  tools/treeshake-check/src/__fixtures__/bad-syntax/index.js
  tools/treeshake-check/src/__fixtures__/clean/index.js
  tools/treeshake-check/src/__fixtures__/enum-only/index.js
  tools/treeshake-check/src/__fixtures__/mixed/index.js
  tools/treeshake-check/src/treeshake-check.integration.test.ts
Labels: docs

feat(davinci-client): add RichContent types to ReadOnlyField
  .changeset/rich-content-links.md
  .nxignore
  e2e/davinci-app/components/label.ts
  e2e/davinci-app/main.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/collector.types.test-d.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/mock-data/mock-form-fields.data.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
Labels: docs, test

fix(devtools): resolve TS errors and add Learn tab types
  packages/devtools-bridge/src/lib/oidc-bridge.test.ts
  packages/devtools-extension/src/background/message-handler.test.ts
  packages/devtools-extension/src/background/serialize-diagnosis.test.ts
  packages/devtools-extension/src/panel/src/Types.elm
  packages/devtools-extension/src/panel/src/View.elm
Labels: test

feat(devtools-extension): add Learn tab with canvas-based request lifecycle view
  packages/devtools-extension/src/panel/src/LearnView.elm
  packages/devtools-extension/src/panel/src/Model.elm
  packages/devtools-extension/src/panel/src/Update.elm
  packages/devtools-extension/src/panel/src/View.elm
  packages/devtools-extension/tests/UpdateTests.elm
Labels: none

fix(devtools): use proper mouse event decoders in Learn canvas
  packages/devtools-extension/src/panel/src/LearnView.elm
Labels: none

feat(devtools-extension): add accordion card detail and Learn tab CSS
  packages/devtools-extension/src/panel/panel.html
  packages/devtools-extension/src/panel/src/LearnView.elm
Labels: none

feat(devtools): broaden Learn tab network event correlation
  packages/devtools-extension/src/panel/src/LearnView.elm
Labels: none

fix(devtools): correct error source attribution in Learn tab
  .superpowers/brainstorm/694753-1778353306/content/learn-error-states.html
  .superpowers/brainstorm/694753-1778353306/content/learn-icons-v2.html
  .superpowers/brainstorm/694753-1778353306/content/learn-layout.html
  .superpowers/brainstorm/694753-1778353306/content/waiting-2.html
  .superpowers/brainstorm/694753-1778353306/content/waiting.html
  .superpowers/brainstorm/694753-1778353306/state/server-stopped
  .superpowers/brainstorm/694753-1778353306/state/server.log
  .superpowers/brainstorm/694753-1778353306/state/server.pid
  packages/devtools-bridge/src/lib/emit.test.ts
  packages/devtools-bridge/src/lib/journey-bridge.test.ts
  packages/devtools-extension/elm.json
  packages/devtools-extension/src/background/event-store.service.test.ts
  packages/devtools-extension/src/background/serialize-diagnosis.ts
  packages/devtools-extension/src/background/service-worker.ts
  packages/devtools-extension/src/panel/Main.elm
  packages/devtools-extension/src/panel/jwt.test.ts
  packages/devtools-extension/src/panel/jwt.ts
  packages/devtools-extension/src/panel/panel.ts
  packages/devtools-extension/src/panel/src/Decode.elm
  packages/devtools-extension/src/panel/src/FlowView.elm
  packages/devtools-extension/src/panel/src/Graph.elm
  packages/devtools-extension/src/panel/src/Helpers.elm
  packages/devtools-extension/src/panel/src/Inspector.elm
  packages/devtools-extension/src/panel/src/LearnView.elm
  packages/devtools-extension/src/panel/src/Timeline.elm
  packages/devtools-extension/tests/DecodeTests.elm
  packages/devtools-extension/tests/HelpersTests.elm
  packages/devtools-types/src/lib/auth-event.schema.test.ts
  packages/devtools-types/src/lib/flow-state.schema.test.ts
Labels: test

docs(devtools-extension): add screenshots and Learn tab section to README
  packages/devtools-extension/README.md
  packages/devtools-extension/screenshots/Flow-Screen.png
  packages/devtools-extension/screenshots/Learn-Tab-Error-Screen.png
  packages/devtools-extension/screenshots/Timeline-Screen.png
Labels: docs

feat(devtools): add agnostic OIDC network intelligence layer
  packages/devtools-extension/README.md
  packages/devtools-extension/manifest.json
  packages/devtools-extension/src/background/diagnosis-engine.test.ts
  packages/devtools-extension/src/background/diagnosis-engine.ts
  packages/devtools-extension/src/background/event-store.service.ts
  packages/devtools-extension/src/background/message-handler.test.ts
  packages/devtools-extension/src/background/message-handler.ts
  packages/devtools-extension/src/devtools/devtools.ts
  packages/devtools-extension/src/devtools/dpop-detector.test.ts
  packages/devtools-extension/src/devtools/dpop-detector.ts
  packages/devtools-extension/src/devtools/network-observer.test.ts
  packages/devtools-extension/src/devtools/network-observer.ts
  packages/devtools-extension/src/devtools/oidc-annotator.test.ts
  packages/devtools-extension/src/devtools/oidc-annotator.ts
  packages/devtools-extension/src/devtools/oidc-discovery.test.ts
  packages/devtools-extension/src/devtools/oidc-discovery.ts
  packages/devtools-extension/src/devtools/oidc-flow-tracker.test.ts
  packages/devtools-extension/src/devtools/oidc-flow-tracker.ts
  packages/devtools-extension/src/devtools/oidc-integration.test.ts
  packages/devtools-extension/src/devtools/par-detector.test.ts
  packages/devtools-extension/src/devtools/par-detector.ts
  packages/devtools-extension/src/panel/panel.html
  packages/devtools-extension/src/panel/panel.ts
  packages/devtools-extension/src/panel/src/Decode.elm
  packages/devtools-extension/src/panel/src/FlowView.elm
  packages/devtools-extension/src/panel/src/Helpers.elm
  packages/devtools-extension/src/panel/src/Inspector.elm
  packages/devtools-extension/src/panel/src/JsonTree.elm
  packages/devtools-extension/src/panel/src/LearnView.elm
  packages/devtools-extension/src/panel/src/Timeline.elm
  packages/devtools-extension/src/panel/src/Types.elm
  packages/devtools-extension/src/panel/src/Update.elm
  packages/devtools-extension/src/panel/src/View.elm
  packages/devtools-extension/src/shared/jwt-utils.ts
  packages/devtools-extension/tests/HelpersTests.elm
  packages/devtools-extension/tests/JwtDecodeTest.elm
  packages/devtools-extension/tests/UpdateTests.elm
  packages/devtools-types/src/lib/auth-event.schema.ts
  typedoc.json
Labels: docs, test

perf(devtools): minify esbuild bundles
  packages/devtools-extension/project.json
Labels: none

feat(davinci-client): add ValidatedPasswordCollector with embedded password policy
  .changeset/embed-password-policy-in-component.md
  e2e/davinci-app/components/password.ts
  e2e/davinci-app/main.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/collector.types.test-d.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/davinci.utils.test.ts
  packages/davinci-client/src/lib/mock-data/mock-form-fields.data.ts
  packages/davinci-client/src/lib/mock-data/node.next.mock.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
  packages/davinci-client/src/lib/password-policy.rules.ts
  packages/davinci-client/src/lib/updater-narrowing.types.test-d.ts
  pnpm-lock.yaml
Labels: docs, test

docs(journey-client): fix FRDevice mapping, export PolicyParams, improve migration guide
  .changeset/cool-kings-learn.md
  MIGRATION.md
  interface_mapping.md
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/src/types.ts
Labels: docs

feat(davinci-client): support single checkbox component
  .changeset/single-checkbox.md
  .gitignore
  e2e/davinci-app/components/boolean.ts
  e2e/davinci-app/main.ts
  e2e/davinci-suites/src/form-fields.test.ts
  package.json
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.types.test-d.ts
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/collector.types.test-d.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
Labels: docs, test

fix(davinci-client): narrow validator input type
  .changeset/single-checkbox.md
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/password-policy.rules.ts
Labels: docs, test

test(davinci-client): add polling e2e tests
  e2e/davinci-app/index.html
  e2e/davinci-app/main.ts
  e2e/davinci-app/server-configs.ts
  e2e/davinci-app/style.css
  e2e/davinci-suites/src/polling.test.ts
  e2e/davinci-suites/src/protect.test.ts
  lefthook.yml
Labels: test

docs(journey-client): fix FRDevice mapping, export PolicyParams, improve migration guide (#630)
  .changeset/cool-kings-learn.md
  MIGRATION.md
  interface_mapping.md
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/src/types.ts
Labels: docs

feat: expose subscribe method on journey-client and oidc-client
  .changeset/export-subscribe-method.md
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/client.store.test.ts
  packages/oidc-client/src/lib/client.store.ts
Labels: docs, test

feat: add-recognize-proxy
  e2e/recognize-app/eslint.config.mjs
  e2e/recognize-app/package.json
  e2e/recognize-app/src/index.html
  e2e/recognize-app/src/index.ts
  e2e/recognize-app/src/styles.css
  e2e/recognize-app/tsconfig.app.json
  e2e/recognize-app/tsconfig.json
  e2e/recognize-app/vite.config.ts
  packages/recognize/README.md
  packages/recognize/eslint.config.mjs
  packages/recognize/package.json
  packages/recognize/src/index.ts
  packages/recognize/src/lib/recognize-sdk/index.d.ts
  packages/recognize/src/lib/recognize-sdk/index.js
  packages/recognize/src/lib/recognize-sdk/pthreads/wasm.js
  packages/recognize/src/lib/recognize-sdk/pthreads/wasm.wasm
  packages/recognize/src/lib/recognize-sdk/wasm.data
  packages/recognize/src/lib/recognize-sdk/wasm.js
  packages/recognize/src/lib/recognize-sdk/wasm.wasm
  packages/recognize/src/lib/recognize.spec.ts
  packages/recognize/src/lib/recognize.ts
  packages/recognize/src/lib/recognize.types.ts
  packages/recognize/tsconfig.json
  packages/recognize/tsconfig.lib.json
  packages/recognize/tsconfig.spec.json
  packages/recognize/vitest.config.mts
  pnpm-lock.yaml
  tsconfig.json
Labels: docs, test

deploy: 43076b71bddd1b93369483f8aa59fa7c4278027f
  pr-556/43076b71bddd1b93369483f8aa59fa7c4278027f/coverage-matrix/assets/index-DDtKDAbE.css
  pr-556/43076b71bddd1b93369483f8aa59fa7c4278027f/coverage-matrix/assets/index-DhBvpytp.js
  pr-556/43076b71bddd1b93369483f8aa59fa7c4278027f/coverage-matrix/data/.gitkeep
  pr-556/43076b71bddd1b93369483f8aa59fa7c4278027f/coverage-matrix/data/coverage-matrix.json
  pr-556/43076b71bddd1b93369483f8aa59fa7c4278027f/coverage-matrix/data/runtime-coverage.json
  pr-556/43076b71bddd1b93369483f8aa59fa7c4278027f/coverage-matrix/data/static-analysis.json
  pr-556/43076b71bddd1b93369483f8aa59fa7c4278027f/coverage-matrix/index.html
Labels: none

chore(copyright): add sync-header-years script and tests
  eslint.config.mjs
  lefthook.yml
  package.json
  pnpm-lock.yaml
  tools/copyright/sync-header-years.mjs
  tools/copyright/sync-header-years.test.mjs
Labels: none

chore: update-node-24
  .github/actions/setup/action.yml
  .node-version
Labels: CI

feat(oidc-client): add PAR (Pushed Authorization Request) support
  .changeset/some-shirts-joke.md
  e2e/am-mock-api/src/app/constants.js
  e2e/am-mock-api/src/app/responses.js
  e2e/am-mock-api/src/app/routes.auth.js
  e2e/oidc-app/src/index.html
  e2e/oidc-app/src/par/index.html
  e2e/oidc-app/src/par/main.ts
  e2e/oidc-app/src/utils/oidc-app.ts
  e2e/oidc-app/vite.config.ts
  e2e/oidc-suites/src/login.spec.ts
  e2e/oidc-suites/src/par.spec.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/device-client/src/lib/device.store.test.ts
  packages/journey-client/src/lib/client.store.test.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/package.json
  packages/oidc-client/src/lib/authorize.request.micros.test.ts
  packages/oidc-client/src/lib/authorize.request.micros.ts
  packages/oidc-client/src/lib/authorize.request.ts
  packages/oidc-client/src/lib/authorize.request.utils.test.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/oidc-client/src/lib/client.store.test.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/config.types.ts
  packages/oidc-client/src/lib/oidc.api.ts
  packages/oidc-client/src/lib/par.types.ts
  packages/oidc-client/src/types.ts
  packages/oidc-client/tsconfig.lib.json
  packages/sdk-effects/oidc/src/lib/authorize.effects.ts
  packages/sdk-effects/oidc/src/lib/authorize.test.ts
  packages/sdk-effects/oidc/src/lib/authorize.utils.ts
  packages/sdk-effects/sdk-request-middleware/src/lib/request-mware.derived.ts
  pnpm-lock.yaml
Labels: docs, test

refactor(oidc-client): move useParFlow derivation out of authorizeµ parameter default
  packages/oidc-client/src/lib/authorize.request.ts
  packages/oidc-client/src/lib/authorize.request.utils.test.ts
Labels: test

fix(davinci-client): fix collector value types and simplify node reducer imports
  .changeset/little-lamps-float.md
  .gitignore
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.types.test-d.ts
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/updater-narrowing.types.test-d.ts
Labels: docs

test(davinci-client): e2e tests for agreements, single checkbox, rich text
  e2e/davinci-app/components/boolean.ts
  e2e/davinci-app/components/text.ts
  e2e/davinci-app/main.ts
  e2e/davinci-app/server-configs.ts
  e2e/davinci-suites/src/form-fields.test.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
Labels: docs, test

feat(davinci-client): support rich text and appearance in single checkbox
  .changeset/single-checkbox.md
  e2e/davinci-app/components/boolean.ts
  e2e/davinci-app/components/label.ts
  e2e/davinci-app/helper.ts
  e2e/davinci-suites/src/form-fields.test.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/collector.types.test-d.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
Labels: docs, test

chore: update copyright
  e2e/davinci-app/components/label.ts
  e2e/davinci-app/components/text.ts
  e2e/davinci-app/main.ts
  e2e/davinci-app/server-configs.ts
  e2e/davinci-suites/src/form-fields.test.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/collector.types.test-d.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
Labels: docs, test

chore: add syncpack v15 and align all deps to pnpm catalogs
  .github/workflows/ci.yml
  .syncpackrc
  e2e/am-mock-api/package.json
  e2e/davinci-app/main.ts
  e2e/davinci-app/package.json
  e2e/davinci-app/tsconfig.app.json
  e2e/davinci-suites/src/basic.test.ts
  e2e/device-client-app/package.json
  e2e/protect-app/package.json
  lefthook.yml
  package.json
  packages/device-client/package.json
  packages/journey-client/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scratchpad/package.json
  tools/api-report/package.json
  tools/interface-mapping-validator/package.json
Labels: CI, device-client, test

test(iframe-manager): add unit tests with jsdom
  packages/sdk-effects/iframe-manager/src/lib/iframe-manager.effects.test.ts
  packages/sdk-effects/iframe-manager/vite.config.ts
Labels: test

fix(journey-client): create JourneyLoginFailure step, handle Login Failure case
  .changeset/whole-mangos-find.md
  e2e/journey-app/main.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/journey.utils.test.ts
  packages/journey-client/src/lib/journey.utils.ts
  packages/journey-client/src/types.ts
Labels: docs, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

test:
  - e2e/**/*
  - packages/**/*.test.ts
