Repository ForgeRock/ping-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, davinci-client, device-client, test

refactor(davinci-client): simplify maxRepeatedCharacters and remove redundant casts
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/password-policy.rules.ts
Labels: none

fix(oidc-client): always pass prompt=none on background authorize calls
  packages/oidc-client/src/lib/client.store.test.ts
  packages/oidc-client/src/lib/client.store.ts
Labels: test

chore: add changeset for oidc-client prompt=none background fix
  .changeset/oidc-prompt-none-background.md
Labels: docs

fix(oidc-client): remove forced prompt=none from background authorize
  packages/oidc-client/src/lib/authorize.request.micros.ts
Labels: none

fix(oidc-client): always include prompt=none in background authorization
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/oidc-client/src/lib/client.store.test.ts
  packages/oidc-client/src/lib/client.store.ts
Labels: docs, test

refactor(recognize): simplify AbortController lifecycle to a single const
  packages/recognize/src/lib/recognize.ts
Labels: none

fix(oidc-client): forward config loginHint, acrValues, query via buildAuthorizeOptions
  packages/oidc-client/src/lib/authorize.request.utils.test.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
Labels: test

fix(oidc-client): enforce prompt=none on background-only authorize paths
  .changeset/oidc-prompt-none-background.md
  e2e/mock-api-v2/package.json
  e2e/oidc-suites/src/par.spec.ts
  package.json
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/wellknown.api.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/journey-client/src/lib/wellknown.api.ts
  packages/oidc-client/src/lib/authorize.request.micros.ts
  packages/oidc-client/src/lib/client.store.test.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/wellknown.api.ts
  packages/sdk-types/src/index.ts
  pnpm-lock.yaml
Labels: docs, test

Merge pull request #748 from ForgeRock/fix/oidc-client-prompt-none-background
  .changeset/oidc-prompt-none-background.md
  e2e/mock-api-v2/package.json
  e2e/oidc-suites/src/par.spec.ts
  package.json
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/wellknown.api.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/journey-client/src/lib/wellknown.api.ts
  packages/oidc-client/src/lib/authorize.request.micros.ts
  packages/oidc-client/src/lib/client.store.test.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/wellknown.api.ts
  packages/sdk-types/src/index.ts
  pnpm-lock.yaml
Labels: docs, test

chore: release version 2.1.1
  .changeset/oidc-prompt-none-background.md
  packages/davinci-client/CHANGELOG.md
  packages/davinci-client/package.json
  packages/device-client/CHANGELOG.md
  packages/device-client/package.json
  packages/journey-client/CHANGELOG.md
  packages/journey-client/package.json
  packages/oidc-client/CHANGELOG.md
  packages/oidc-client/package.json
  packages/protect/CHANGELOG.md
  packages/protect/package.json
  packages/sdk-effects/iframe-manager/CHANGELOG.md
  packages/sdk-effects/iframe-manager/package.json
  packages/sdk-effects/logger/CHANGELOG.md
  packages/sdk-effects/logger/package.json
  packages/sdk-effects/oidc/CHANGELOG.md
  packages/sdk-effects/oidc/package.json
  packages/sdk-effects/sdk-request-middleware/CHANGELOG.md
  packages/sdk-effects/sdk-request-middleware/package.json
  packages/sdk-effects/storage/CHANGELOG.md
  packages/sdk-effects/storage/package.json
  packages/sdk-types/CHANGELOG.md
  packages/sdk-types/package.json
  packages/sdk-utilities/CHANGELOG.md
  packages/sdk-utilities/package.json
  pnpm-lock.yaml
Labels: docs, davinci-client, device-client

chore: release version 2.1.1
  .changeset/oidc-prompt-none-background.md
  packages/davinci-client/CHANGELOG.md
  packages/davinci-client/package.json
  packages/device-client/CHANGELOG.md
  packages/device-client/package.json
  packages/journey-client/CHANGELOG.md
  packages/journey-client/package.json
  packages/oidc-client/CHANGELOG.md
  packages/oidc-client/package.json
  packages/protect/CHANGELOG.md
  packages/protect/package.json
  packages/sdk-effects/iframe-manager/CHANGELOG.md
  packages/sdk-effects/iframe-manager/package.json
  packages/sdk-effects/logger/CHANGELOG.md
  packages/sdk-effects/logger/package.json
  packages/sdk-effects/oidc/CHANGELOG.md
  packages/sdk-effects/oidc/package.json
  packages/sdk-effects/sdk-request-middleware/CHANGELOG.md
  packages/sdk-effects/sdk-request-middleware/package.json
  packages/sdk-effects/storage/CHANGELOG.md
  packages/sdk-effects/storage/package.json
  packages/sdk-types/CHANGELOG.md
  packages/sdk-types/package.json
  packages/sdk-utilities/CHANGELOG.md
  packages/sdk-utilities/package.json
  pnpm-lock.yaml
Labels: docs, davinci-client, device-client

Revert "chore: release version 2.1.1"
  .changeset/oidc-prompt-none-background.md
  packages/davinci-client/CHANGELOG.md
  packages/davinci-client/package.json
  packages/device-client/CHANGELOG.md
  packages/device-client/package.json
  packages/journey-client/CHANGELOG.md
  packages/journey-client/package.json
  packages/oidc-client/CHANGELOG.md
  packages/oidc-client/package.json
  packages/protect/CHANGELOG.md
  packages/protect/package.json
  packages/sdk-effects/iframe-manager/CHANGELOG.md
  packages/sdk-effects/iframe-manager/package.json
  packages/sdk-effects/logger/CHANGELOG.md
  packages/sdk-effects/logger/package.json
  packages/sdk-effects/oidc/CHANGELOG.md
  packages/sdk-effects/oidc/package.json
  packages/sdk-effects/sdk-request-middleware/CHANGELOG.md
  packages/sdk-effects/sdk-request-middleware/package.json
  packages/sdk-effects/storage/CHANGELOG.md
  packages/sdk-effects/storage/package.json
  packages/sdk-types/CHANGELOG.md
  packages/sdk-types/package.json
  packages/sdk-utilities/CHANGELOG.md
  packages/sdk-utilities/package.json
  pnpm-lock.yaml
Labels: docs, davinci-client, device-client

chore: release version 2.1.1
  .changeset/oidc-prompt-none-background.md
  packages/davinci-client/CHANGELOG.md
  packages/davinci-client/package.json
  packages/device-client/CHANGELOG.md
  packages/device-client/package.json
  packages/journey-client/CHANGELOG.md
  packages/journey-client/package.json
  packages/oidc-client/CHANGELOG.md
  packages/oidc-client/package.json
  packages/protect/CHANGELOG.md
  packages/protect/package.json
  packages/sdk-effects/iframe-manager/CHANGELOG.md
  packages/sdk-effects/iframe-manager/package.json
  packages/sdk-effects/logger/CHANGELOG.md
  packages/sdk-effects/logger/package.json
  packages/sdk-effects/oidc/CHANGELOG.md
  packages/sdk-effects/oidc/package.json
  packages/sdk-effects/sdk-request-middleware/CHANGELOG.md
  packages/sdk-effects/sdk-request-middleware/package.json
  packages/sdk-effects/storage/CHANGELOG.md
  packages/sdk-effects/storage/package.json
  packages/sdk-types/CHANGELOG.md
  packages/sdk-types/package.json
  packages/sdk-utilities/CHANGELOG.md
  packages/sdk-utilities/package.json
Labels: docs, davinci-client, device-client

ci: block merge when PR carries 'Do not merge' label
  .github/workflows/ci.yml
Labels: CI

fix(recognize): use const for reassigned variables in getRecognizeErrorCodeKey
  packages/recognize/src/lib/functions/get-recognize-error-code-key.ts
Labels: none

fix(recognize-app): fix type errors after RecognizeError and RecognizeWebComponentEvent type updates
  e2e/recognize-app/src/index-callback-test.ts
Labels: test

fix(davinci-client): replace reducer throws with collector.error state writes
  packages/davinci-client/src/lib/node.reducer.ts
Labels: none

test: add failing tests for validation error cases in reducer
  packages/davinci-client/src/lib/node.reducer.test.ts
Labels: test

fix(davinci-client): clear stale collector error on successful value update
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
Labels: test

fix(davinci-client): remove try/catch from update dispatch — errors are now state
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
Labels: test

refactor(davinci-client): remove throws in node reducer updater
  .changeset/five-badgers-rule.md
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/client.types.test-d.ts
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.types.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
Labels: docs, test

feat: extract wellknownApi to shared @forgerock/sdk-wellknown package
  goals/centralize-redux-store/facts-result.json
  goals/centralize-redux-store/facts-review.json
  goals/centralize-redux-store/facts.md
  goals/centralize-redux-store/facts.meta.json
  goals/centralize-redux-store/goal.md
  goals/centralize-redux-store/interview-result.json
  goals/centralize-redux-store/interview.json
  goals/centralize-redux-store/plan.md
  packages/davinci-client/package.json
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/tsconfig.json
  packages/davinci-client/tsconfig.lib.json
  packages/journey-client/package.json
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/journey-client/src/lib/wellknown.api.ts
  packages/journey-client/tsconfig.lib.json
  packages/oidc-client/package.json
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/wellknown.api.ts
  packages/oidc-client/tsconfig.lib.json
  packages/sdk-effects/wellknown/eslint.config.mjs
  packages/sdk-effects/wellknown/package.json
  packages/sdk-effects/wellknown/src/index.ts
  packages/sdk-effects/wellknown/src/lib/wellknown.api.ts
  packages/sdk-effects/wellknown/tsconfig.json
  packages/sdk-effects/wellknown/tsconfig.lib.json
  packages/sdk-effects/wellknown/tsconfig.spec.json
  packages/sdk-effects/wellknown/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: docs, davinci-client

feat: centralize Redux stores — expose SdkStore from davinci/journey, inject into oidc
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/shared-store.test.ts
  packages/sdk-effects/wellknown/vite.config.ts
  packages/sdk-types/src/index.ts
  packages/sdk-types/src/lib/store.types.ts
Labels: docs, test

fix(oidc): warn when requestMiddleware is silently dropped with sharedStore
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/shared-store.test.ts
Labels: test

chore: update-to-rc
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

fix(davinci-client): remove trailing newline, finish Either→Result migration in node.reducer
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
Labels: docs

test: improve protect e2e tests
  e2e/davinci-app/server-configs.ts
  e2e/davinci-suites/src/protect.test.ts
  e2e/journey-suites/package.json
  e2e/journey-suites/src/protect.test.ts
  e2e/journey-suites/tsconfig.json
  e2e/protect-suites/package.json
  e2e/protect-suites/playwright.config.ts
  e2e/protect-suites/src/protect-native.test.ts
  pnpm-lock.yaml
Labels: test

chore: remove protect e2e app and suites
  .changeset/config.json
  AGENTS.md
  e2e/protect-app/.gitignore
  e2e/protect-app/eslint.config.mjs
  e2e/protect-app/package.json
  e2e/protect-app/public/callback.html
  e2e/protect-app/public/typescript.svg
  e2e/protect-app/public/vite.svg
  e2e/protect-app/src/index.html
  e2e/protect-app/src/protect-native.html
  e2e/protect-app/src/protect-native.ts
  e2e/protect-app/src/style.css
  e2e/protect-app/tsconfig.app.json
  e2e/protect-app/tsconfig.json
  e2e/protect-app/tsconfig.spec.json
  e2e/protect-app/vite-env.d.ts
  e2e/protect-app/vite.config.ts
  e2e/protect-suites/eslint.config.mjs
  e2e/protect-suites/package.json
  e2e/protect-suites/playwright.config.ts
  e2e/protect-suites/src/protect-native.test.ts
  e2e/protect-suites/src/utils/demo-user.ts
  e2e/protect-suites/tsconfig.e2e.json
  e2e/protect-suites/tsconfig.json
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  pnpm-lock.yaml
  tsconfig.json
Labels: docs, test

chore: add explicit client exports in default entry points
  package.json
  packages/device-client/src/index.ts
  packages/oidc-client/src/index.ts
Labels: none

chore(davinci-client): add fido entry point
  packages/davinci-client/api-report/davinci-client.fido.api.md
  packages/davinci-client/package.json
  packages/davinci-client/src/index.ts
  packages/davinci-client/src/lib/fido/fido.types.ts
  packages/davinci-client/src/lib/fido/index.ts
Labels: docs, davinci-client

feat(journey-client): add-create-journey-step-to-api
  .changeset/tender-signs-crash.md
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/src/index.ts
Labels: docs

fix(journey-client): add back baseUrl & export createJourneyStep for edge cases
  e2e/journey-app/services/delete-webauthn-device.ts
  packages/journey-client/api-report/journey-client._utils.api.md
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/package.json
  packages/journey-client/src/_utils.ts
  packages/journey-client/src/index.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/config.slice.test.ts
  packages/journey-client/src/lib/config.slice.ts
  packages/journey-client/src/lib/config.types.test-d.ts
  packages/journey-client/src/lib/config.types.ts
  packages/sdk-types/src/lib/config.types.ts
  packages/sdk-utilities/src/lib/config/config.test.ts
Labels: docs, test

chore: update-paths
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/config.slice.test.ts
  packages/journey-client/src/lib/config.slice.ts
Labels: test

chore: add-lsp-plugin \r https://github.com/microsoft/typescript-go
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: none

chore: pr-comments
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: none

chore: remove-package
  package.json
  pnpm-lock.yaml
Labels: none

fix: exclude test fixtures from Nx project graph
  .nxignore
Labels: none

chore: remove obsolete E2E coverage note from PR comment
  .github/workflows/ci.yml
Labels: CI

fix: deploy PR dashboard to preview path, use relative base
  .github/workflows/ci.yml
  tools/coverage-matrix/vite.config.ts
Labels: CI

fix: move dashboard deploy to publish workflow, note E2E CI limitation
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Labels: CI

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

test:
  - e2e/**/*
  - packages/**/*.test.ts
