Repository ForgeRock/ping-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, davinci-client, device-client, test

chore: add changeset for journey-client error handling fix
  .changeset/fix-journey-social-login-errors.md
Labels: docs

chore: fix pnpm pack on stackblitz publish
  .github/actions/publish-beta/action.yml
  .github/workflows/ci.yml
Labels: CI

chore: update changeset
  .changeset/rich-cows-try.md
Labels: docs

fix(device-client): fix device profile query type
  .changeset/soft-moose-read.md
  packages/device-client/src/lib/types/profile-device.types.ts
Labels: docs

fix(journey-client): remove duplicate middleware config
  .changeset/hip-lands-call.md
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/journey-client/src/lib/config.slice.test.ts
  packages/journey-client/src/lib/config.slice.ts
  packages/journey-client/src/lib/config.types.ts
  packages/journey-client/src/types.ts
Labels: docs, test

test(journey-client): update middleware e2e test
  e2e/journey-app/main.ts
  e2e/journey-suites/src/request-middleware.test.ts
Labels: test

chore: import client types and update READMEs
  e2e/davinci-app/components/fido.ts
  e2e/device-client-app/src/utils/index.ts
  e2e/oidc-app/src/utils/oidc-app.ts
  e2e/protect-app/src/protect-native.ts
  packages/device-client/README.md
  packages/journey-client/README.md
  packages/oidc-client/README.md
Labels: docs, device-client, test

fix(journey-client): remove undefined from JourneyResult return type
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/wellknown.utils.test.ts
Labels: test

test(journey-client): add type regression tests and remove AAA comments
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.types.test-d.ts
  packages/journey-client/src/lib/config.slice.test.ts
  packages/journey-client/src/lib/wellknown.utils.test.ts
  packages/journey-client/vite.config.ts
  packages/sdk-effects/oidc/src/lib/wellknown.effects.test.ts
Labels: test

chore(device-client): update publish config
  packages/device-client/package.json
Labels: device-client

chore: fix-packagejson
  packages/journey-client/package.json
Labels: none

chore: fix-dependencies
  package.json
  pnpm-lock.yaml
Labels: none

SDKS-4619 Update README.md
  README.md
Labels: docs

chore: fix-publish-dirs
  packages/davinci-client/package.json
  packages/device-client/package.json
  packages/journey-client/LICENSE
  packages/journey-client/package.json
  packages/oidc-client/LICENSE
  packages/oidc-client/package.json
  packages/protect/LICENSE
  packages/protect/package.json
  packages/sdk-effects/iframe-manager/LICENSE
  packages/sdk-effects/iframe-manager/package.json
  packages/sdk-effects/logger/LICENSE
  packages/sdk-effects/logger/package.json
  packages/sdk-effects/oidc/LICENSE
  packages/sdk-effects/oidc/package.json
  packages/sdk-effects/sdk-request-middleware/LICENSE
  packages/sdk-effects/sdk-request-middleware/package.json
  packages/sdk-effects/storage/LICENSE
  packages/sdk-effects/storage/package.json
  packages/sdk-types/LICENSE
  packages/sdk-types/package.json
  packages/sdk-utilities/LICENSE
  packages/sdk-utilities/package.json
Labels: davinci-client, device-client

feat(journey-app): delete webauthn devices using device client
  e2e/journey-app/components/webauthn-devices.ts
  e2e/journey-app/components/webauthn.ts
  e2e/journey-app/main.ts
  e2e/journey-app/package.json
  e2e/journey-app/server-configs.ts
  e2e/journey-app/services/delete-webauthn-devices.ts
  e2e/journey-app/style.css
  e2e/journey-app/tsconfig.app.json
  e2e/journey-suites/src/webauthn-devices.test.ts
  packages/device-client/package.json
  pnpm-lock.yaml
Labels: device-client, test

feat(journey-app): reduce implementation complexity
  e2e/journey-app/components/delete-device.ts
  e2e/journey-app/components/webauthn-devices.ts
  e2e/journey-app/components/webauthn.ts
  e2e/journey-app/main.ts
  e2e/journey-app/server-configs.ts
  e2e/journey-app/services/delete-webauthn-devices.ts
  e2e/journey-suites/src/webauthn-devices.test.ts
Labels: test

chore: update release documentation
  .github/workflows/publish.yml
  contributing_docs/releases.md
Labels: CI, docs

chore: fix files distributed in effect packages
  .changeset/odd-parents-joke.md
  packages/sdk-effects/iframe-manager/package.json
  packages/sdk-effects/logger/package.json
  packages/sdk-effects/oidc/package.json
  packages/sdk-effects/sdk-request-middleware/package.json
  packages/sdk-effects/storage/package.json
Labels: docs

fix: restore missing pnpm catalog entries in lockfile
  pnpm-lock.yaml
Labels: none

fix: exclude test fixtures from Nx project graph
  .nxignore
Labels: none

fix: move dashboard deploy to publish workflow, note E2E CI limitation
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Labels: CI

chore: fix slack message for beta publishes
  .github/workflows/publish.yml
Labels: CI

fix: write e2e coverage to project dirs for DTE artifact transfer
  e2e/shared/coverage-fixture.ts
  nx.json
  tools/coverage-matrix/scripts/__tests__/collect-e2e-coverage.test.ts
  tools/coverage-matrix/scripts/lib/collect-e2e-coverage.ts
Labels: test

chore: remove obsolete E2E coverage note from PR comment
  .github/workflows/ci.yml
Labels: CI

feat(journey-app): delete webauthn device from AM using device client
  e2e/journey-app/components/webauthn-step.ts
  e2e/journey-app/components/webauthn.ts
  e2e/journey-app/main.ts
  e2e/journey-app/services/delete-webauthn-device.ts
  e2e/journey-suites/src/WEBAUTHN_TESTING.md
  e2e/journey-suites/src/webauthn-device.test.ts
  e2e/journey-suites/src/webauthn-devices.test.ts
Labels: docs, test

fix: use workspace-relative paths for e2e coverage matching, dedupe PR comment
  .github/workflows/ci.yml
  tools/coverage-matrix/scripts/lib/merge.ts
Labels: CI

fix: deploy coverage dashboard from PR workflow
  .github/workflows/ci.yml
Labels: CI

deploy: ad696f84044fa807ba7b8177608d77c28264b5b7
  coverage-matrix/assets/index-DDtKDAbE.css
  coverage-matrix/assets/index-DhBvpytp.js
  coverage-matrix/data/.gitkeep
  coverage-matrix/data/coverage-matrix.json
  coverage-matrix/data/runtime-coverage.json
  coverage-matrix/data/static-analysis.json
  coverage-matrix/index.html
Labels: none

fix: deploy PR dashboard to preview path, use relative base
  .github/workflows/ci.yml
  tools/coverage-matrix/vite.config.ts
Labels: CI

deploy: 59a382f1b514708ebf74f6a8181937de355ab394
  pr-556/59a382f1b514708ebf74f6a8181937de355ab394/coverage-matrix/assets/index-DDtKDAbE.css
  pr-556/59a382f1b514708ebf74f6a8181937de355ab394/coverage-matrix/assets/index-DhBvpytp.js
  pr-556/59a382f1b514708ebf74f6a8181937de355ab394/coverage-matrix/data/.gitkeep
  pr-556/59a382f1b514708ebf74f6a8181937de355ab394/coverage-matrix/data/coverage-matrix.json
  pr-556/59a382f1b514708ebf74f6a8181937de355ab394/coverage-matrix/data/runtime-coverage.json
  pr-556/59a382f1b514708ebf74f6a8181937de355ab394/coverage-matrix/data/static-analysis.json
  pr-556/59a382f1b514708ebf74f6a8181937de355ab394/coverage-matrix/index.html
Labels: none

feat(journey-app): delete webauthn device from AM using device client (#549)
  e2e/journey-app/components/delete-device.ts
  e2e/journey-app/components/webauthn-step.ts
  e2e/journey-app/main.ts
  e2e/journey-app/package.json
  e2e/journey-app/services/delete-webauthn-device.ts
  e2e/journey-app/style.css
  e2e/journey-app/tsconfig.app.json
  e2e/journey-suites/src/WEBAUTHN_TESTING.md
  e2e/journey-suites/src/webauthn-device.test.ts
  packages/device-client/package.json
  pnpm-lock.yaml
Labels: docs, device-client, test

fix(journey-client): extend JourneyClientConfig from AsyncLegacyConfigOptions
  .changeset/journey-client-config-alignment.md
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/config.types.test-d.ts
  packages/journey-client/src/lib/config.types.ts
Labels: docs, test

feat(davinci-client): add challenge polling support (SDKS-4687)
  e2e/davinci-app/components/polling.ts
  e2e/davinci-app/main.ts
  package.json
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.slice.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
  packages/davinci-client/src/types.ts
  packages/sdk-effects/sdk-request-middleware/src/lib/request-mware.derived.ts
Labels: test

feat(davinci-client): add QRCode collector support
  .changeset/fast-ways-rest.md
  e2e/davinci-app/components/qr-code.ts
  e2e/davinci-app/main.ts
  e2e/davinci-app/server-configs.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
  packages/davinci-client/src/types.ts
Labels: docs, test

feat(davinci-client): add continue polling support
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  e2e/davinci-app/components/polling.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.slice.ts
  packages/davinci-client/src/types.ts
Labels: CI, test

chore: pr-comments
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  e2e/davinci-app/components/qr-code.ts
  e2e/davinci-suites/src/qr-code.test.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/tsconfig.lib.json
Labels: CI, davinci-client, test

feat: SSR compatibility for journey-client and oidc-client (PoC)
  .gitignore
  e2e/oidc-app/src/utils/oidc-app.ts
  e2e/svelte-app/package.json
  e2e/svelte-app/src/app.html
  e2e/svelte-app/src/lib/config.ts
  e2e/svelte-app/src/routes/+layout.svelte
  e2e/svelte-app/src/routes/+page.server.ts
  e2e/svelte-app/src/routes/+page.svelte
  e2e/svelte-app/src/routes/callback/+page.server.ts
  e2e/svelte-app/src/routes/callback/+page.svelte
  e2e/svelte-app/svelte.config.js
  e2e/svelte-app/tsconfig.json
  e2e/svelte-app/vite.config.ts
  nx.json
  packages/davinci-client/src/lib/davinci.api.ts
  packages/journey-client/src/index.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/config.types.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/exchange.request.ts
  packages/oidc-client/src/lib/exchange.utils.ts
  packages/oidc-client/src/types.ts
  packages/sdk-effects/oidc/src/lib/authorize.effects.ts
  packages/sdk-effects/oidc/src/lib/authorize.test.ts
  packages/sdk-effects/oidc/src/lib/state-pkce.effects.ts
  packages/sdk-effects/storage/src/lib/storage.effects.ts
  pnpm-lock.yaml
Labels: test

fix(ci): remove broken npm self-install and remediate CVEs
  .github/workflows/publish.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: CI

fix(ci): remove path-to-regexp override that broke Express and MSW
  package.json
  pnpm-lock.yaml
Labels: none

chore: refactor-micro-polling
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/client.types.ts
Labels: none

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

test:
  - e2e/**/*
  - packages/**/*.test.ts
