Repository ForgeRock/ping-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, davinci-client, device-client, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

test:
  - e2e/**/*
  - packages/**/*.test.ts

chore: fixing changeset frontmatter
  .changeset/deep-hornets-hunt.md
Labels: docs

feat(davinci-client): implement logger module
  .changeset/happy-dots-nail.md
  .changeset/wide-cooks-show.md
  .gitignore
  e2e/davinci-app/main.ts
  e2e/davinci-app/package.json
  e2e/davinci-app/tsconfig.app.json
  e2e/davinci-app/tsconfig.json
  e2e/davinci-suites/src/logging.test.ts
  packages/davinci-client/package.json
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/davinci.utils.test.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/node.slice.ts
  packages/davinci-client/src/types.ts
  packages/davinci-client/tsconfig.json
  packages/davinci-client/tsconfig.lib.json
  packages/sdk-effects/logger/package.json
  packages/sdk-effects/logger/src/lib/logger.effects.ts
  packages/sdk-effects/logger/src/lib/logger.test.ts
  packages/sdk-effects/logger/src/lib/logger.types.ts
  packages/sdk-effects/logger/src/types.ts
  pnpm-lock.yaml
Labels: docs, davinci-client, test

chore: fixing changeset frontmatter
  .changeset/deep-hornets-hunt.md
Labels: docs

chore: update-contributing-guidelines
  README.md
  migrations.json
Labels: docs

chore: update-nx
  .github/instructions/nx.instructions.md
  .gitignore
  package.json
  pnpm-lock.yaml
Labels: CI, docs

feat(protect): add protect package
  .changeset/config.json
  e2e/oidc-app/package.json
  packages/protect/README.md
  packages/protect/eslint.config.mjs
  packages/protect/package.json
  packages/protect/src/index.ts
  packages/protect/src/lib/protect.mock.data.ts
  packages/protect/src/lib/protect.test.ts
  packages/protect/src/lib/protect.ts
  packages/protect/src/lib/protect.types.ts
  packages/protect/src/lib/signals-sdk.js
  packages/protect/src/types.ts
  packages/protect/tsconfig.json
  packages/protect/tsconfig.lib.json
  packages/protect/tsconfig.spec.json
  packages/protect/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: docs, test

chore: update-changesets-config
  .changeset/config.json
  .github/instructions/nx.instructions.md
  nx.json
Labels: CI, docs

test(protect): add protect e2e tests
  e2e/protect-app/.gitignore
  e2e/protect-app/eslint.config.mjs
  e2e/protect-app/package.json
  e2e/protect-app/public/callback.html
  e2e/protect-app/public/typescript.svg
  e2e/protect-app/public/vite.svg
  e2e/protect-app/src/index.html
  e2e/protect-app/src/protect-marketplace.html
  e2e/protect-app/src/protect-marketplace.ts
  e2e/protect-app/src/protect-native.html
  e2e/protect-app/src/protect-native.ts
  e2e/protect-app/src/style.css
  e2e/protect-app/tsconfig.app.json
  e2e/protect-app/tsconfig.json
  e2e/protect-app/tsconfig.spec.json
  e2e/protect-app/vite-env.d.ts
  e2e/protect-app/vite.config.ts
  e2e/protect-suites/eslint.config.mjs
  e2e/protect-suites/package.json
  e2e/protect-suites/playwright.config.ts
  e2e/protect-suites/src/protect-native.test.ts
  e2e/protect-suites/src/utils/demo-user.ts
  e2e/protect-suites/tsconfig.e2e.json
  e2e/protect-suites/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Labels: test

test(davinci): skip mfa test
  e2e/davinci-suites/src/mfa.test.ts
Labels: test

chore(device-client): update device client
  packages/device-client/README.md
  packages/device-client/src/lib/device.store.test.ts
  packages/device-client/src/lib/device.store.ts
  packages/device-client/src/lib/mock-data/msw-mock-data.ts
  packages/device-client/src/lib/services/index.ts
  packages/device-client/src/lib/types/bound-device.types.ts
  packages/device-client/src/lib/types/index.ts
  packages/device-client/src/lib/types/oath.types.ts
  packages/device-client/src/lib/types/profile-device.types.ts
  packages/device-client/src/lib/types/webauthn.types.ts
  packages/device-client/src/types.ts
  packages/device-client/tsconfig.lib.json
  packages/device-client/tsconfig.spec.json
  packages/device-client/vite.config.ts
Labels: docs, device-client, test

chore(protect): ignore protect e2e in changeset
  .changeset/config.json
Labels: none

chore: fix-caching
  nx.json
  packages/davinci-client/eslint.config.mjs
  packages/protect/eslint.config.mjs
  packages/sdk-utilities/eslint.config.mjs
Labels: davinci-client

fix: device-options-field
  .changeset/angry-roses-wash.md
  e2e/davinci-app/components/flow-link.ts
  e2e/davinci-app/components/single-value.ts
  e2e/davinci-suites/src/phone-number-field.test.ts
  e2e/davinci-suites/src/register.test.ts
  e2e/davinci-suites/src/utils/demo-user.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/node.reducer.ts
Labels: docs, test

fix: error-states-should-clear
  .changeset/cute-snails-burn.md
  packages/davinci-client/src/lib/node.slice.test.ts
  packages/davinci-client/src/lib/node.slice.ts
Labels: docs, test

fix: error-states-should-clear
  .changeset/cute-snails-burn.md
  .github/instructions/nx.instructions.md
  .github/workflows/ci.yml
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/node.slice.test.ts
  packages/davinci-client/src/lib/node.slice.ts
  packages/protect/src/lib/protect.test.ts
Labels: CI, docs, test

test(device-client): add e2e tests
  .changeset/config.json
  e2e/device-client-app/.gitignore
  e2e/device-client-app/eslint.config.mjs
  e2e/device-client-app/package.json
  e2e/device-client-app/public/typescript.svg
  e2e/device-client-app/public/vite.svg
  e2e/device-client-app/src/_callback/index.html
  e2e/device-client-app/src/autoscript.ts
  e2e/device-client-app/src/device-binding/index.html
  e2e/device-client-app/src/device-binding/main.ts
  e2e/device-client-app/src/device-profile/index.html
  e2e/device-client-app/src/device-profile/main.ts
  e2e/device-client-app/src/index.html
  e2e/device-client-app/src/index.ts
  e2e/device-client-app/src/oath/index.html
  e2e/device-client-app/src/oath/main.ts
  e2e/device-client-app/src/push/index.html
  e2e/device-client-app/src/push/main.ts
  e2e/device-client-app/src/style.css
  e2e/device-client-app/src/types.ts
  e2e/device-client-app/src/vite-env.d.ts
  e2e/device-client-app/src/webauthn/index.html
  e2e/device-client-app/src/webauthn/main.ts
  e2e/device-client-app/tsconfig.app.json
  e2e/device-client-app/tsconfig.json
  e2e/device-client-app/vite.config.ts
  packages/device-client/package.json
  pnpm-lock.yaml
  tsconfig.json
Labels: device-client, test

fix(davinci-client): return-url-from-external-idp
  .changeset/clear-cars-tan.md
  e2e/davinci-app/components/social-login-button.ts
  e2e/davinci-app/main.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/davinci.utils.ts
Labels: docs, test

chore: refactor
  e2e/davinci-app/components/social-login-button.ts
  e2e/davinci-app/main.ts
  packages/davinci-client/package.json
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/tsconfig.json
  packages/davinci-client/tsconfig.lib.json
  pnpm-lock.yaml
Labels: davinci-client, test

update storage name to serverInfo
  packages/davinci-client/src/lib/client.store.ts
Labels: none

chore(device-client): update device client
  packages/device-client/README.md
  packages/device-client/src/lib/device.store.test.ts
  packages/device-client/src/lib/device.store.ts
  packages/device-client/src/lib/mock-data/msw-mock-data.ts
  packages/device-client/src/lib/services/index.ts
  packages/device-client/src/lib/types/bound-device.types.ts
  packages/device-client/src/lib/types/index.ts
  packages/device-client/src/lib/types/oath.types.ts
  packages/device-client/src/lib/types/profile-device.types.ts
  packages/device-client/src/lib/types/webauthn.types.ts
  packages/device-client/src/types.ts
  packages/device-client/tsconfig.lib.json
  packages/device-client/tsconfig.spec.json
  packages/device-client/vite.config.ts
Labels: docs, device-client, test

test(device-client): add e2e tests
  .changeset/config.json
  e2e/device-client-app/.gitignore
  e2e/device-client-app/eslint.config.mjs
  e2e/device-client-app/package.json
  e2e/device-client-app/public/typescript.svg
  e2e/device-client-app/public/vite.svg
  e2e/device-client-app/src/_callback/index.html
  e2e/device-client-app/src/autoscript.ts
  e2e/device-client-app/src/device-binding/index.html
  e2e/device-client-app/src/device-binding/main.ts
  e2e/device-client-app/src/device-profile/index.html
  e2e/device-client-app/src/device-profile/main.ts
  e2e/device-client-app/src/index.html
  e2e/device-client-app/src/index.ts
  e2e/device-client-app/src/oath/index.html
  e2e/device-client-app/src/oath/main.ts
  e2e/device-client-app/src/push/index.html
  e2e/device-client-app/src/push/main.ts
  e2e/device-client-app/src/style.css
  e2e/device-client-app/src/types.ts
  e2e/device-client-app/src/vite-env.d.ts
  e2e/device-client-app/src/webauthn/index.html
  e2e/device-client-app/src/webauthn/main.ts
  e2e/device-client-app/tsconfig.app.json
  e2e/device-client-app/tsconfig.json
  e2e/device-client-app/vite.config.ts
  packages/device-client/eslint.config.mjs
  packages/device-client/package.json
  packages/device-client/src/lib/device.store.test.ts
  packages/device-client/src/lib/device.store.test.utils.ts
  packages/device-client/src/lib/device.store.ts
  packages/device-client/src/lib/device.store.utils.ts
  packages/device-client/src/lib/mock-data/device.store.mock.ts
  packages/device-client/tsconfig.lib.json
  packages/device-client/tsconfig.spec.json
  packages/device-client/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: device-client, test

chore: refactoring-work
  .github/instructions/nx.instructions.md
  e2e/device-client-app/package.json
  e2e/device-client-app/src/autoscript.ts
  e2e/device-client-app/src/device-binding/main.ts
  e2e/device-client-app/src/device-profile/main.ts
  e2e/device-client-app/src/oath/main.ts
  e2e/device-client-app/src/push/main.ts
  e2e/device-client-app/src/service/device-client.ts
  e2e/device-client-app/src/util-effects/index.ts
  e2e/device-client-app/src/webauthn/main.ts
  package.json
  pnpm-lock.yaml
Labels: CI, docs, test

chore(device-client): finish refactor
  .github/instructions/nx.instructions.md
  e2e/device-client-app/src/device-binding/main.ts
  e2e/device-client-app/src/device-profile/main.ts
  e2e/device-client-app/src/oath/main.ts
  e2e/device-client-app/src/push/main.ts
  e2e/device-client-app/src/service/device-client.ts
  e2e/device-client-app/src/util-effects/index.ts
  e2e/device-client-app/src/utils/index.ts
  e2e/device-client-app/src/webauthn/main.ts
  packages/device-client/src/lib/device.store.ts
  packages/device-client/src/lib/services/index.ts
  pnpm-lock.yaml
Labels: CI, docs, test

chore(device-client): update docs
  packages/device-client/README.md
  packages/device-client/src/lib/device.store.ts
Labels: docs, device-client

chore: update-nx
  e2e/davinci-suites/src/basic.test.ts
  migrations.json
  package.json
  pnpm-lock.yaml
Labels: test

ci: make true a string in ci flow
  .github/workflows/snapshot.yml
  nx.json
Labels: CI

chore: build-before-docs
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Labels: CI

chore: fix-provenance-snapshot
  .github/workflows/snapshot.yml
Labels: CI

fix: export internalerrorresponse
  .changeset/full-lies-kneel.md
  e2e/davinci-app/components/social-login-button.ts
  packages/davinci-client/src/types.ts
Labels: docs, test

chore: add-back-node-states
  .changeset/plenty-turtles-decide.md
  packages/davinci-client/src/types.ts
Labels: docs

chore: update-external-idp-comment
  packages/davinci-client/src/lib/client.store.ts
Labels: none

chore: remove-integration-branch
  .whitesource
Labels: none

feat(davinci-client): implement protect collector
  e2e/davinci-app/main.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
Labels: test

chore: refactor-to-latest-effect-api
  e2e/mock-api-v2/eslint.config.mjs
  e2e/mock-api-v2/package.json
  e2e/mock-api-v2/src/assets/.gitkeep
  e2e/mock-api-v2/src/endpoints/custom-html.endpoint.ts
  e2e/mock-api-v2/src/endpoints/davinci-authorize.endpoint.ts
  e2e/mock-api-v2/src/endpoints/open-id-configuration.endpoint.ts
  e2e/mock-api-v2/src/endpoints/token.endpoint.ts
  e2e/mock-api-v2/src/endpoints/userinfo.endpoint.ts
  e2e/mock-api-v2/src/handlers/authorize.handler.ts
  e2e/mock-api-v2/src/handlers/healthcheck.handler.ts
  e2e/mock-api-v2/src/handlers/open-id-configuration.handler.ts
  e2e/mock-api-v2/src/handlers/token.handler.ts
  e2e/mock-api-v2/src/handlers/userinfo.handler.ts
  e2e/mock-api-v2/src/helpers/cookie.ts
  e2e/mock-api-v2/src/helpers/test/cookie.test.ts
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/middleware/Authorization.ts
  e2e/mock-api-v2/src/middleware/CookieMiddleware.ts
  e2e/mock-api-v2/src/schemas/authorize.schema.ts
  e2e/mock-api-v2/src/schemas/custom-html-template/custom-html-template-request.schema.ts
  e2e/mock-api-v2/src/schemas/custom-html-template/custom-html-template-response.schema.ts
  e2e/mock-api-v2/src/schemas/open-id-configuration/open-id-configuration-response.schema.ts
  e2e/mock-api-v2/src/schemas/token/token.schema.ts
  e2e/mock-api-v2/src/schemas/userinfo/userinfo.schema.ts
  e2e/mock-api-v2/src/services/authorize.service.ts
  e2e/mock-api-v2/src/services/cookie.service.ts
  e2e/mock-api-v2/src/services/custom-html-template.service.ts
  e2e/mock-api-v2/src/services/mock-env-helpers/index.ts
  e2e/mock-api-v2/src/services/tokens.service.ts
  e2e/mock-api-v2/src/services/userinfo.service.ts
  e2e/mock-api-v2/src/spec.ts
  e2e/mock-api-v2/src/types/index.ts
  e2e/mock-api-v2/tsconfig.app.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: test

chore: further-refactor, working swagger
  e2e/mock-api-v2/package.json
  e2e/mock-api-v2/src/example-server.ts
  e2e/mock-api-v2/src/handlers/custom-html-template.handler.ts
  e2e/mock-api-v2/src/handlers/token.handler.ts
  e2e/mock-api-v2/src/handlers/userinfo.handler.ts
  e2e/mock-api-v2/src/helpers/match.ts
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/schemas/return-success-response-redirect.schema.ts
  e2e/mock-api-v2/src/services/cookie.service.ts
  e2e/mock-api-v2/src/services/mock-env-helpers/tests/index.test.ts
  e2e/mock-api-v2/src/services/request.service.ts
  e2e/mock-api-v2/src/services/tests/authorize.service.test.ts
  e2e/mock-api-v2/src/services/tests/cookie.service.test.ts
  e2e/mock-api-v2/src/services/tests/custom-html-template.service.test.ts
  e2e/mock-api-v2/src/services/tests/request.service.test.ts
  e2e/mock-api-v2/src/services/tests/token.service.test.ts
  e2e/mock-api-v2/src/services/tests/userinfo.service.test.ts
  e2e/mock-api-v2/src/services/tokens.service.ts
  e2e/mock-api-v2/src/services/userinfo.service.ts
  e2e/mock-api-v2/src/spec.ts
  pnpm-workspace.yaml
Labels: test

chore: implement auth middleware and schema refactor
  e2e/mock-api-v2/README.md
  e2e/mock-api-v2/src/errors/index.ts
  e2e/mock-api-v2/src/handlers/userinfo.handler.ts
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/middleware/Authorization.ts
  e2e/mock-api-v2/src/schemas/custom-html-template/custom-html-template-request.schema.ts
  e2e/mock-api-v2/src/schemas/custom-html-template/custom-html-template-response.schema.ts
  e2e/mock-api-v2/src/schemas/custom-html-template/form-data.schema.ts
  e2e/mock-api-v2/src/schemas/userinfo/userinfo.schema.ts
  e2e/mock-api-v2/src/services/userinfo.service.ts
  e2e/mock-api-v2/src/spec.ts
Labels: docs, test

chore: add-security-to-swagger
  e2e/mock-api-v2/package.json
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/middleware/Authorization.ts
  e2e/mock-api-v2/src/spec.ts
Labels: test

chore: added-session-middleware-untested
  e2e/mock-api-v2/eslint.config.mjs
  e2e/mock-api-v2/package.json
  e2e/mock-api-v2/src/helpers/test/match.test.ts
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/middleware/Authorization.ts
  e2e/mock-api-v2/src/middleware/Session.ts
  e2e/mock-api-v2/src/schemas/authorize.schema.ts
  e2e/mock-api-v2/src/services/session.service.ts
  e2e/mock-api-v2/src/spec.ts
  e2e/mock-api-v2/vite.config.ts
  pnpm-lock.yaml
Labels: test

chore: add-console-telemetry
  e2e/mock-api-v2/package.json
  e2e/mock-api-v2/src/handlers/authorize.handler.ts
  e2e/mock-api-v2/src/handlers/healthcheck.handler.ts
  e2e/mock-api-v2/src/handlers/open-id-configuration.handler.ts
  e2e/mock-api-v2/src/handlers/token.handler.ts
  e2e/mock-api-v2/src/handlers/userinfo.handler.ts
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/services/session.service.ts
  pnpm-lock.yaml
Labels: test

chore: end-session and revoke
  e2e/mock-api-v2/README.md
  e2e/mock-api-v2/src/handlers/end-session.handler.ts
  e2e/mock-api-v2/src/handlers/revoke.handler.ts
  e2e/mock-api-v2/src/handlers/userinfo.handler.ts
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/middleware/Authorization.ts
  e2e/mock-api-v2/src/middleware/CookieMiddleware.ts
  e2e/mock-api-v2/src/responses/revoke/revoke.ts
  e2e/mock-api-v2/src/schemas/end-session.schema.ts
  e2e/mock-api-v2/src/schemas/revoke/revoke.schema.ts
  e2e/mock-api-v2/src/schemas/userinfo/userinfo.schema.ts
  e2e/mock-api-v2/src/services/tokens.service.ts
  e2e/mock-api-v2/src/spec.ts
Labels: docs, test
