Repository ForgeRock/ping-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, davinci-client, device-client, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

test:
  - e2e/**/*
  - packages/**/*.test.ts

chore: fix-renovate-config
  renovate.json
Labels: none

chore: fix-changeset-yml
  .github/workflows/changesets-renovate.yml
Labels: CI

chore: fix-actions
  .github/workflows/changesets-renovate.yml
  e2e/mock-api-v2/package.json
Labels: CI, test

chore: release-api-docs-beta
  beta/functions/_forgerock_davinci-client.index.davinci.html
  beta/functions/_forgerock_device-client.deviceClient.html
  beta/types/_forgerock_davinci-client.types.ActionCollector.html
  beta/types/_forgerock_davinci-client.types.Collectors.html
  beta/types/_forgerock_davinci-client.types.ContinueNode.html
  beta/types/_forgerock_davinci-client.types.DaVinciConfig.html
  beta/types/_forgerock_davinci-client.types.DaVinciValidationError.html
  beta/types/_forgerock_davinci-client.types.ErrorNode.html
  beta/types/_forgerock_davinci-client.types.FailureNode.html
  beta/types/_forgerock_davinci-client.types.FlowCollector.html
  beta/types/_forgerock_davinci-client.types.InitFlow.html
  beta/types/_forgerock_davinci-client.types.NodeStates.html
  beta/types/_forgerock_davinci-client.types.PasswordCollector.html
  beta/types/_forgerock_davinci-client.types.SingleValueCollector.html
  beta/types/_forgerock_davinci-client.types.SocialLoginCollector.html
  beta/types/_forgerock_davinci-client.types.StartNode.html
  beta/types/_forgerock_davinci-client.types.SubmitCollector.html
  beta/types/_forgerock_davinci-client.types.SuccessNode.html
  beta/types/_forgerock_davinci-client.types.TextCollector.html
  beta/types/_forgerock_davinci-client.types.Updater.html
Labels: none

chore: release-api-docs-beta
  beta/functions/_forgerock_davinci-client.index.davinci.html
  beta/functions/_forgerock_device-client.deviceClient.html
  beta/types/_forgerock_davinci-client.types.ActionCollector.html
  beta/types/_forgerock_davinci-client.types.Collectors.html
  beta/types/_forgerock_davinci-client.types.ContinueNode.html
  beta/types/_forgerock_davinci-client.types.DaVinciConfig.html
  beta/types/_forgerock_davinci-client.types.DaVinciValidationError.html
  beta/types/_forgerock_davinci-client.types.ErrorNode.html
  beta/types/_forgerock_davinci-client.types.FailureNode.html
  beta/types/_forgerock_davinci-client.types.FlowCollector.html
  beta/types/_forgerock_davinci-client.types.InitFlow.html
  beta/types/_forgerock_davinci-client.types.NodeStates.html
  beta/types/_forgerock_davinci-client.types.PasswordCollector.html
  beta/types/_forgerock_davinci-client.types.SingleValueCollector.html
  beta/types/_forgerock_davinci-client.types.SocialLoginCollector.html
  beta/types/_forgerock_davinci-client.types.StartNode.html
  beta/types/_forgerock_davinci-client.types.SubmitCollector.html
  beta/types/_forgerock_davinci-client.types.SuccessNode.html
  beta/types/_forgerock_davinci-client.types.TextCollector.html
  beta/types/_forgerock_davinci-client.types.Updater.html
Labels: none

chore: release-api-docs-beta
  beta/functions/_forgerock_davinci-client.index.davinci.html
  beta/functions/_forgerock_device-client.deviceClient.html
  beta/types/_forgerock_davinci-client.types.ActionCollector.html
  beta/types/_forgerock_davinci-client.types.Collectors.html
  beta/types/_forgerock_davinci-client.types.ContinueNode.html
  beta/types/_forgerock_davinci-client.types.DaVinciConfig.html
  beta/types/_forgerock_davinci-client.types.DaVinciValidationError.html
  beta/types/_forgerock_davinci-client.types.ErrorNode.html
  beta/types/_forgerock_davinci-client.types.FailureNode.html
  beta/types/_forgerock_davinci-client.types.FlowCollector.html
  beta/types/_forgerock_davinci-client.types.InitFlow.html
  beta/types/_forgerock_davinci-client.types.NodeStates.html
  beta/types/_forgerock_davinci-client.types.PasswordCollector.html
  beta/types/_forgerock_davinci-client.types.SingleValueCollector.html
  beta/types/_forgerock_davinci-client.types.SocialLoginCollector.html
  beta/types/_forgerock_davinci-client.types.StartNode.html
  beta/types/_forgerock_davinci-client.types.SubmitCollector.html
  beta/types/_forgerock_davinci-client.types.SuccessNode.html
  beta/types/_forgerock_davinci-client.types.TextCollector.html
  beta/types/_forgerock_davinci-client.types.Updater.html
Labels: none

chore: release-api-docs-beta
  beta/functions/_forgerock_davinci-client.index.davinci.html
  beta/functions/_forgerock_device-client.deviceClient.html
  beta/types/_forgerock_davinci-client.types.ActionCollector.html
  beta/types/_forgerock_davinci-client.types.Collectors.html
  beta/types/_forgerock_davinci-client.types.ContinueNode.html
  beta/types/_forgerock_davinci-client.types.DaVinciConfig.html
  beta/types/_forgerock_davinci-client.types.DaVinciValidationError.html
  beta/types/_forgerock_davinci-client.types.ErrorNode.html
  beta/types/_forgerock_davinci-client.types.FailureNode.html
  beta/types/_forgerock_davinci-client.types.FlowCollector.html
  beta/types/_forgerock_davinci-client.types.InitFlow.html
  beta/types/_forgerock_davinci-client.types.NodeStates.html
  beta/types/_forgerock_davinci-client.types.PasswordCollector.html
  beta/types/_forgerock_davinci-client.types.SingleValueCollector.html
  beta/types/_forgerock_davinci-client.types.SocialLoginCollector.html
  beta/types/_forgerock_davinci-client.types.StartNode.html
  beta/types/_forgerock_davinci-client.types.SubmitCollector.html
  beta/types/_forgerock_davinci-client.types.SuccessNode.html
  beta/types/_forgerock_davinci-client.types.TextCollector.html
  beta/types/_forgerock_davinci-client.types.Updater.html
Labels: none

chore: release-api-docs-beta
  beta/functions/_forgerock_davinci-client.index.davinci.html
  beta/functions/_forgerock_device-client.deviceClient.html
  beta/types/_forgerock_davinci-client.types.ActionCollector.html
  beta/types/_forgerock_davinci-client.types.Collectors.html
  beta/types/_forgerock_davinci-client.types.ContinueNode.html
  beta/types/_forgerock_davinci-client.types.DaVinciConfig.html
  beta/types/_forgerock_davinci-client.types.DaVinciValidationError.html
  beta/types/_forgerock_davinci-client.types.ErrorNode.html
  beta/types/_forgerock_davinci-client.types.FailureNode.html
  beta/types/_forgerock_davinci-client.types.FlowCollector.html
  beta/types/_forgerock_davinci-client.types.InitFlow.html
  beta/types/_forgerock_davinci-client.types.NodeStates.html
  beta/types/_forgerock_davinci-client.types.PasswordCollector.html
  beta/types/_forgerock_davinci-client.types.SingleValueCollector.html
  beta/types/_forgerock_davinci-client.types.SocialLoginCollector.html
  beta/types/_forgerock_davinci-client.types.StartNode.html
  beta/types/_forgerock_davinci-client.types.SubmitCollector.html
  beta/types/_forgerock_davinci-client.types.SuccessNode.html
  beta/types/_forgerock_davinci-client.types.TextCollector.html
  beta/types/_forgerock_davinci-client.types.Updater.html
Labels: none

chore: release-api-docs-beta
  beta/functions/_forgerock_davinci-client.index.davinci.html
  beta/functions/_forgerock_device-client.deviceClient.html
  beta/types/_forgerock_davinci-client.types.ActionCollector.html
  beta/types/_forgerock_davinci-client.types.Collectors.html
  beta/types/_forgerock_davinci-client.types.ContinueNode.html
  beta/types/_forgerock_davinci-client.types.DaVinciConfig.html
  beta/types/_forgerock_davinci-client.types.DaVinciValidationError.html
  beta/types/_forgerock_davinci-client.types.ErrorNode.html
  beta/types/_forgerock_davinci-client.types.FailureNode.html
  beta/types/_forgerock_davinci-client.types.FlowCollector.html
  beta/types/_forgerock_davinci-client.types.InitFlow.html
  beta/types/_forgerock_davinci-client.types.NodeStates.html
  beta/types/_forgerock_davinci-client.types.PasswordCollector.html
  beta/types/_forgerock_davinci-client.types.SingleValueCollector.html
  beta/types/_forgerock_davinci-client.types.SocialLoginCollector.html
  beta/types/_forgerock_davinci-client.types.StartNode.html
  beta/types/_forgerock_davinci-client.types.SubmitCollector.html
  beta/types/_forgerock_davinci-client.types.SuccessNode.html
  beta/types/_forgerock_davinci-client.types.TextCollector.html
  beta/types/_forgerock_davinci-client.types.Updater.html
Labels: none

feat(davinci-client): add label and validated password fields
  .changeset/fuzzy-feet-act.md
  .husky/install.mjs
  e2e/davinci-app/components/protect.ts
  e2e/davinci-app/components/text.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
  packages/davinci-client/src/types.ts
  packages/davinci-client/tsconfig.spec.json
Labels: docs, davinci-client, test

chore: release-api-docs-beta
  beta/assets/navigation.js
  beta/assets/search.js
  beta/functions/_forgerock_davinci-client.index.davinci.html
  beta/functions/_forgerock_device-client.deviceClient.html
  beta/modules/_forgerock_davinci-client.types.html
  beta/types/_forgerock_davinci-client.types.ActionCollector.html
  beta/types/_forgerock_davinci-client.types.Collectors.html
  beta/types/_forgerock_davinci-client.types.ContinueNode.html
  beta/types/_forgerock_davinci-client.types.DaVinciConfig.html
  beta/types/_forgerock_davinci-client.types.DaVinciValidationError.html
  beta/types/_forgerock_davinci-client.types.ErrorNode.html
  beta/types/_forgerock_davinci-client.types.FailureNode.html
  beta/types/_forgerock_davinci-client.types.FlowCollector.html
  beta/types/_forgerock_davinci-client.types.InitFlow.html
  beta/types/_forgerock_davinci-client.types.MultiSelectCollector.html
  beta/types/_forgerock_davinci-client.types.NodeStates.html
  beta/types/_forgerock_davinci-client.types.PasswordCollector.html
  beta/types/_forgerock_davinci-client.types.ReadOnlyCollector.html
  beta/types/_forgerock_davinci-client.types.SingleSelectCollector.html
  beta/types/_forgerock_davinci-client.types.SingleValueCollector.html
  beta/types/_forgerock_davinci-client.types.SocialLoginCollector.html
  beta/types/_forgerock_davinci-client.types.StartNode.html
  beta/types/_forgerock_davinci-client.types.SubmitCollector.html
  beta/types/_forgerock_davinci-client.types.SuccessNode.html
  beta/types/_forgerock_davinci-client.types.TextCollector.html
  beta/types/_forgerock_davinci-client.types.Updater.html
  beta/types/_forgerock_davinci-client.types.ValidatedTextCollector.html
Labels: none

chore: lint-package-json-rule
  .github/workflows/publish.yml
  e2e/mock-api-v2/package.json
  eslint.config.mjs
  package.json
  packages/davinci-client/package.json
  packages/device-client/package.json
  pnpm-lock.yaml
Labels: CI, davinci-client, device-client, test

chore: release-api-docs-beta
  beta/functions/_forgerock_davinci-client.index.davinci.html
  beta/functions/_forgerock_device-client.deviceClient.html
  beta/types/_forgerock_davinci-client.types.ActionCollector.html
  beta/types/_forgerock_davinci-client.types.Collectors.html
  beta/types/_forgerock_davinci-client.types.ContinueNode.html
  beta/types/_forgerock_davinci-client.types.DaVinciConfig.html
  beta/types/_forgerock_davinci-client.types.DaVinciValidationError.html
  beta/types/_forgerock_davinci-client.types.ErrorNode.html
  beta/types/_forgerock_davinci-client.types.FailureNode.html
  beta/types/_forgerock_davinci-client.types.FlowCollector.html
  beta/types/_forgerock_davinci-client.types.InitFlow.html
  beta/types/_forgerock_davinci-client.types.MultiSelectCollector.html
  beta/types/_forgerock_davinci-client.types.NodeStates.html
  beta/types/_forgerock_davinci-client.types.PasswordCollector.html
  beta/types/_forgerock_davinci-client.types.ReadOnlyCollector.html
  beta/types/_forgerock_davinci-client.types.SingleSelectCollector.html
  beta/types/_forgerock_davinci-client.types.SingleValueCollector.html
  beta/types/_forgerock_davinci-client.types.SocialLoginCollector.html
  beta/types/_forgerock_davinci-client.types.StartNode.html
  beta/types/_forgerock_davinci-client.types.SubmitCollector.html
  beta/types/_forgerock_davinci-client.types.SuccessNode.html
  beta/types/_forgerock_davinci-client.types.TextCollector.html
  beta/types/_forgerock_davinci-client.types.Updater.html
  beta/types/_forgerock_davinci-client.types.ValidatedTextCollector.html
Labels: none

chore: release-api-docs-beta
  beta/functions/_forgerock_davinci-client.index.davinci.html
  beta/functions/_forgerock_device-client.deviceClient.html
  beta/types/_forgerock_davinci-client.types.ActionCollector.html
  beta/types/_forgerock_davinci-client.types.Collectors.html
  beta/types/_forgerock_davinci-client.types.ContinueNode.html
  beta/types/_forgerock_davinci-client.types.DaVinciConfig.html
  beta/types/_forgerock_davinci-client.types.DaVinciValidationError.html
  beta/types/_forgerock_davinci-client.types.ErrorNode.html
  beta/types/_forgerock_davinci-client.types.FailureNode.html
  beta/types/_forgerock_davinci-client.types.FlowCollector.html
  beta/types/_forgerock_davinci-client.types.InitFlow.html
  beta/types/_forgerock_davinci-client.types.MultiSelectCollector.html
  beta/types/_forgerock_davinci-client.types.NodeStates.html
  beta/types/_forgerock_davinci-client.types.PasswordCollector.html
  beta/types/_forgerock_davinci-client.types.ReadOnlyCollector.html
  beta/types/_forgerock_davinci-client.types.SingleSelectCollector.html
  beta/types/_forgerock_davinci-client.types.SingleValueCollector.html
  beta/types/_forgerock_davinci-client.types.SocialLoginCollector.html
  beta/types/_forgerock_davinci-client.types.StartNode.html
  beta/types/_forgerock_davinci-client.types.SubmitCollector.html
  beta/types/_forgerock_davinci-client.types.SuccessNode.html
  beta/types/_forgerock_davinci-client.types.TextCollector.html
  beta/types/_forgerock_davinci-client.types.Updater.html
  beta/types/_forgerock_davinci-client.types.ValidatedTextCollector.html
Labels: none

chore: release-api-docs-beta
  beta/functions/_forgerock_davinci-client.index.davinci.html
  beta/functions/_forgerock_device-client.deviceClient.html
  beta/types/_forgerock_davinci-client.types.ActionCollector.html
  beta/types/_forgerock_davinci-client.types.Collectors.html
  beta/types/_forgerock_davinci-client.types.ContinueNode.html
  beta/types/_forgerock_davinci-client.types.DaVinciConfig.html
  beta/types/_forgerock_davinci-client.types.DaVinciValidationError.html
  beta/types/_forgerock_davinci-client.types.ErrorNode.html
  beta/types/_forgerock_davinci-client.types.FailureNode.html
  beta/types/_forgerock_davinci-client.types.FlowCollector.html
  beta/types/_forgerock_davinci-client.types.InitFlow.html
  beta/types/_forgerock_davinci-client.types.MultiSelectCollector.html
  beta/types/_forgerock_davinci-client.types.NodeStates.html
  beta/types/_forgerock_davinci-client.types.PasswordCollector.html
  beta/types/_forgerock_davinci-client.types.ReadOnlyCollector.html
  beta/types/_forgerock_davinci-client.types.SingleSelectCollector.html
  beta/types/_forgerock_davinci-client.types.SingleValueCollector.html
  beta/types/_forgerock_davinci-client.types.SocialLoginCollector.html
  beta/types/_forgerock_davinci-client.types.StartNode.html
  beta/types/_forgerock_davinci-client.types.SubmitCollector.html
  beta/types/_forgerock_davinci-client.types.SuccessNode.html
  beta/types/_forgerock_davinci-client.types.TextCollector.html
  beta/types/_forgerock_davinci-client.types.Updater.html
  beta/types/_forgerock_davinci-client.types.ValidatedTextCollector.html
Labels: none

chore: release-api-docs-beta
  beta/functions/_forgerock_davinci-client.index.davinci.html
  beta/functions/_forgerock_device-client.deviceClient.html
  beta/types/_forgerock_davinci-client.types.ActionCollector.html
  beta/types/_forgerock_davinci-client.types.Collectors.html
  beta/types/_forgerock_davinci-client.types.ContinueNode.html
  beta/types/_forgerock_davinci-client.types.DaVinciConfig.html
  beta/types/_forgerock_davinci-client.types.DaVinciValidationError.html
  beta/types/_forgerock_davinci-client.types.ErrorNode.html
  beta/types/_forgerock_davinci-client.types.FailureNode.html
  beta/types/_forgerock_davinci-client.types.FlowCollector.html
  beta/types/_forgerock_davinci-client.types.InitFlow.html
  beta/types/_forgerock_davinci-client.types.MultiSelectCollector.html
  beta/types/_forgerock_davinci-client.types.NodeStates.html
  beta/types/_forgerock_davinci-client.types.PasswordCollector.html
  beta/types/_forgerock_davinci-client.types.ReadOnlyCollector.html
  beta/types/_forgerock_davinci-client.types.SingleSelectCollector.html
  beta/types/_forgerock_davinci-client.types.SingleValueCollector.html
  beta/types/_forgerock_davinci-client.types.SocialLoginCollector.html
  beta/types/_forgerock_davinci-client.types.StartNode.html
  beta/types/_forgerock_davinci-client.types.SubmitCollector.html
  beta/types/_forgerock_davinci-client.types.SuccessNode.html
  beta/types/_forgerock_davinci-client.types.TextCollector.html
  beta/types/_forgerock_davinci-client.types.Updater.html
  beta/types/_forgerock_davinci-client.types.ValidatedTextCollector.html
Labels: none

chore: release-api-docs-beta
  beta/functions/_forgerock_davinci-client.index.davinci.html
  beta/functions/_forgerock_device-client.deviceClient.html
  beta/types/_forgerock_davinci-client.types.ActionCollector.html
  beta/types/_forgerock_davinci-client.types.Collectors.html
  beta/types/_forgerock_davinci-client.types.ContinueNode.html
  beta/types/_forgerock_davinci-client.types.DaVinciConfig.html
  beta/types/_forgerock_davinci-client.types.DaVinciValidationError.html
  beta/types/_forgerock_davinci-client.types.ErrorNode.html
  beta/types/_forgerock_davinci-client.types.FailureNode.html
  beta/types/_forgerock_davinci-client.types.FlowCollector.html
  beta/types/_forgerock_davinci-client.types.InitFlow.html
  beta/types/_forgerock_davinci-client.types.MultiSelectCollector.html
  beta/types/_forgerock_davinci-client.types.NodeStates.html
  beta/types/_forgerock_davinci-client.types.PasswordCollector.html
  beta/types/_forgerock_davinci-client.types.ReadOnlyCollector.html
  beta/types/_forgerock_davinci-client.types.SingleSelectCollector.html
  beta/types/_forgerock_davinci-client.types.SingleValueCollector.html
  beta/types/_forgerock_davinci-client.types.SocialLoginCollector.html
  beta/types/_forgerock_davinci-client.types.StartNode.html
  beta/types/_forgerock_davinci-client.types.SubmitCollector.html
  beta/types/_forgerock_davinci-client.types.SuccessNode.html
  beta/types/_forgerock_davinci-client.types.TextCollector.html
  beta/types/_forgerock_davinci-client.types.Updater.html
  beta/types/_forgerock_davinci-client.types.ValidatedTextCollector.html
Labels: none

chore: release-api-docs-beta
  beta/functions/_forgerock_davinci-client.index.davinci.html
  beta/functions/_forgerock_device-client.deviceClient.html
  beta/types/_forgerock_davinci-client.types.ActionCollector.html
  beta/types/_forgerock_davinci-client.types.Collectors.html
  beta/types/_forgerock_davinci-client.types.ContinueNode.html
  beta/types/_forgerock_davinci-client.types.DaVinciConfig.html
  beta/types/_forgerock_davinci-client.types.DaVinciValidationError.html
  beta/types/_forgerock_davinci-client.types.ErrorNode.html
  beta/types/_forgerock_davinci-client.types.FailureNode.html
  beta/types/_forgerock_davinci-client.types.FlowCollector.html
  beta/types/_forgerock_davinci-client.types.InitFlow.html
  beta/types/_forgerock_davinci-client.types.MultiSelectCollector.html
  beta/types/_forgerock_davinci-client.types.NodeStates.html
  beta/types/_forgerock_davinci-client.types.PasswordCollector.html
  beta/types/_forgerock_davinci-client.types.ReadOnlyCollector.html
  beta/types/_forgerock_davinci-client.types.SingleSelectCollector.html
  beta/types/_forgerock_davinci-client.types.SingleValueCollector.html
  beta/types/_forgerock_davinci-client.types.SocialLoginCollector.html
  beta/types/_forgerock_davinci-client.types.StartNode.html
  beta/types/_forgerock_davinci-client.types.SubmitCollector.html
  beta/types/_forgerock_davinci-client.types.SuccessNode.html
  beta/types/_forgerock_davinci-client.types.TextCollector.html
  beta/types/_forgerock_davinci-client.types.Updater.html
  beta/types/_forgerock_davinci-client.types.ValidatedTextCollector.html
Labels: none

chore: release-api-docs-beta
  beta/functions/_forgerock_davinci-client.index.davinci.html
  beta/functions/_forgerock_device-client.deviceClient.html
  beta/types/_forgerock_davinci-client.types.ActionCollector.html
  beta/types/_forgerock_davinci-client.types.Collectors.html
  beta/types/_forgerock_davinci-client.types.ContinueNode.html
  beta/types/_forgerock_davinci-client.types.DaVinciConfig.html
  beta/types/_forgerock_davinci-client.types.DaVinciValidationError.html
  beta/types/_forgerock_davinci-client.types.ErrorNode.html
  beta/types/_forgerock_davinci-client.types.FailureNode.html
  beta/types/_forgerock_davinci-client.types.FlowCollector.html
  beta/types/_forgerock_davinci-client.types.InitFlow.html
  beta/types/_forgerock_davinci-client.types.MultiSelectCollector.html
  beta/types/_forgerock_davinci-client.types.NodeStates.html
  beta/types/_forgerock_davinci-client.types.PasswordCollector.html
  beta/types/_forgerock_davinci-client.types.ReadOnlyCollector.html
  beta/types/_forgerock_davinci-client.types.SingleSelectCollector.html
  beta/types/_forgerock_davinci-client.types.SingleValueCollector.html
  beta/types/_forgerock_davinci-client.types.SocialLoginCollector.html
  beta/types/_forgerock_davinci-client.types.StartNode.html
  beta/types/_forgerock_davinci-client.types.SubmitCollector.html
  beta/types/_forgerock_davinci-client.types.SuccessNode.html
  beta/types/_forgerock_davinci-client.types.TextCollector.html
  beta/types/_forgerock_davinci-client.types.Updater.html
  beta/types/_forgerock_davinci-client.types.ValidatedTextCollector.html
Labels: none

chore: add-tests
  e2e/davinci-app/main.ts
  e2e/davinci-suites/src/form-fields.test.ts
Labels: test

chore: fix-logic-add-tests
  .husky/install.mjs
  e2e/davinci-suites/src/form-fields.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.utils.ts
Labels: test

chore: add-logout-to-test
  .husky/install.mjs
  e2e/davinci-app/main.ts
  e2e/davinci-suites/src/basic.test.ts
  e2e/davinci-suites/src/form-fields.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
Labels: test

chore: add-changeset
  .changeset/spicy-fans-speak.md
Labels: docs

chore: fix-lint-staged
  .husky/pre-commit
  package.json
Labels: none

chore: remove-husky-warning
  .husky/pre-commit
Labels: none

feat(davinci-client): normalize error details
  .changeset/spicy-phones-jam.md
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/mock-data/davinci.error.mock.ts
  packages/davinci-client/src/lib/node.slice.test.ts
  packages/davinci-client/src/lib/node.slice.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
  packages/davinci-client/src/lib/node.utils.test.ts
  packages/davinci-client/src/lib/node.utils.ts
Labels: docs, test

chore: release-api-docs-beta
  beta/functions/_forgerock_davinci-client.index.davinci.html
  beta/functions/_forgerock_device-client.deviceClient.html
  beta/types/_forgerock_davinci-client.types.ActionCollector.html
  beta/types/_forgerock_davinci-client.types.Collectors.html
  beta/types/_forgerock_davinci-client.types.ContinueNode.html
  beta/types/_forgerock_davinci-client.types.DaVinciConfig.html
  beta/types/_forgerock_davinci-client.types.DaVinciValidationError.html
  beta/types/_forgerock_davinci-client.types.ErrorNode.html
  beta/types/_forgerock_davinci-client.types.FailureNode.html
  beta/types/_forgerock_davinci-client.types.FlowCollector.html
  beta/types/_forgerock_davinci-client.types.InitFlow.html
  beta/types/_forgerock_davinci-client.types.MultiSelectCollector.html
  beta/types/_forgerock_davinci-client.types.NodeStates.html
  beta/types/_forgerock_davinci-client.types.PasswordCollector.html
  beta/types/_forgerock_davinci-client.types.ReadOnlyCollector.html
  beta/types/_forgerock_davinci-client.types.SingleSelectCollector.html
  beta/types/_forgerock_davinci-client.types.SingleValueCollector.html
  beta/types/_forgerock_davinci-client.types.SocialLoginCollector.html
  beta/types/_forgerock_davinci-client.types.StartNode.html
  beta/types/_forgerock_davinci-client.types.SubmitCollector.html
  beta/types/_forgerock_davinci-client.types.SuccessNode.html
  beta/types/_forgerock_davinci-client.types.TextCollector.html
  beta/types/_forgerock_davinci-client.types.Updater.html
  beta/types/_forgerock_davinci-client.types.ValidatedTextCollector.html
Labels: none

chore: release-api-docs-beta
  beta/functions/_forgerock_davinci-client.index.davinci.html
  beta/functions/_forgerock_device-client.deviceClient.html
  beta/types/_forgerock_davinci-client.types.ActionCollector.html
  beta/types/_forgerock_davinci-client.types.Collectors.html
  beta/types/_forgerock_davinci-client.types.ContinueNode.html
  beta/types/_forgerock_davinci-client.types.DaVinciConfig.html
  beta/types/_forgerock_davinci-client.types.DaVinciValidationError.html
  beta/types/_forgerock_davinci-client.types.ErrorNode.html
  beta/types/_forgerock_davinci-client.types.FailureNode.html
  beta/types/_forgerock_davinci-client.types.FlowCollector.html
  beta/types/_forgerock_davinci-client.types.InitFlow.html
  beta/types/_forgerock_davinci-client.types.MultiSelectCollector.html
  beta/types/_forgerock_davinci-client.types.NodeStates.html
  beta/types/_forgerock_davinci-client.types.PasswordCollector.html
  beta/types/_forgerock_davinci-client.types.ReadOnlyCollector.html
  beta/types/_forgerock_davinci-client.types.SingleSelectCollector.html
  beta/types/_forgerock_davinci-client.types.SingleValueCollector.html
  beta/types/_forgerock_davinci-client.types.SocialLoginCollector.html
  beta/types/_forgerock_davinci-client.types.StartNode.html
  beta/types/_forgerock_davinci-client.types.SubmitCollector.html
  beta/types/_forgerock_davinci-client.types.SuccessNode.html
  beta/types/_forgerock_davinci-client.types.TextCollector.html
  beta/types/_forgerock_davinci-client.types.Updater.html
  beta/types/_forgerock_davinci-client.types.ValidatedTextCollector.html
Labels: none

chore: change-vite-import-in-config
  packages/davinci-client/vite.config.ts
  packages/device-client/vite.config.ts
Labels: davinci-client, device-client

chore: release-api-docs-beta
  beta/functions/_forgerock_davinci-client.index.davinci.html
  beta/functions/_forgerock_device-client.deviceClient.html
  beta/types/_forgerock_davinci-client.types.ActionCollector.html
  beta/types/_forgerock_davinci-client.types.Collectors.html
  beta/types/_forgerock_davinci-client.types.ContinueNode.html
  beta/types/_forgerock_davinci-client.types.DaVinciConfig.html
  beta/types/_forgerock_davinci-client.types.DaVinciValidationError.html
  beta/types/_forgerock_davinci-client.types.ErrorNode.html
  beta/types/_forgerock_davinci-client.types.FailureNode.html
  beta/types/_forgerock_davinci-client.types.FlowCollector.html
  beta/types/_forgerock_davinci-client.types.InitFlow.html
  beta/types/_forgerock_davinci-client.types.MultiSelectCollector.html
  beta/types/_forgerock_davinci-client.types.NodeStates.html
  beta/types/_forgerock_davinci-client.types.PasswordCollector.html
  beta/types/_forgerock_davinci-client.types.ReadOnlyCollector.html
  beta/types/_forgerock_davinci-client.types.SingleSelectCollector.html
  beta/types/_forgerock_davinci-client.types.SingleValueCollector.html
  beta/types/_forgerock_davinci-client.types.SocialLoginCollector.html
  beta/types/_forgerock_davinci-client.types.StartNode.html
  beta/types/_forgerock_davinci-client.types.SubmitCollector.html
  beta/types/_forgerock_davinci-client.types.SuccessNode.html
  beta/types/_forgerock_davinci-client.types.TextCollector.html
  beta/types/_forgerock_davinci-client.types.Updater.html
  beta/types/_forgerock_davinci-client.types.ValidatedTextCollector.html
Labels: none

chore: save-social-login-call
  e2e/davinci-app/components/social-login-button.ts
  e2e/davinci-app/main.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/node.slice.ts
Labels: test

chore: fix-type-after-rebase
  packages/davinci-client/src/lib/collector.utils.ts
Labels: none

feat: google-social-login
  e2e/davinci-app/components/social-login-button.ts
  e2e/davinci-app/main.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/node.slice.ts
Labels: test

chore: fix-tests
  e2e/davinci-app/main.ts
  e2e/davinci-suites/playwright.config.ts
  e2e/davinci-suites/src/basic.test.ts
Labels: test

chore: fix-tests
  e2e/davinci-app/main.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
Labels: test

chore: add-changeset
  .changeset/thin-tools-kneel.md
Labels: docs

chore: use-server-config-for-dynamic-configs
  e2e/davinci-app/main.ts
  e2e/davinci-app/server-configs.ts
  e2e/davinci-app/tsconfig.app.json
Labels: test

chore: refactor
  e2e/davinci-app/components/social-login-button.ts
  e2e/davinci-app/main.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/node.slice.ts
Labels: test

chore: fix-types-and-naming
  e2e/davinci-app/main.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/davinci.api.ts
Labels: test

chore: fix-logic-add-tests
  .husky/install.mjs
  e2e/davinci-suites/src/form-fields.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.utils.ts
Labels: test
