Repository ForgeRock/ping-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, davinci-client, device-client, test

chore: add-tests
  e2e/davinci-app/main.ts
  e2e/davinci-suites/src/form-fields.test.ts
Labels: test

chore: add-logout-to-test
  .husky/install.mjs
  e2e/davinci-app/main.ts
  e2e/davinci-suites/src/basic.test.ts
  e2e/davinci-suites/src/form-fields.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
Labels: test

chore: add-changeset
  .changeset/spicy-fans-speak.md
Labels: docs

chore: fixes-for-form-fields
  e2e/davinci-app/components/password.ts
  e2e/davinci-app/components/text.ts
  e2e/davinci-app/helper.ts
  e2e/davinci-app/tsconfig.app.json
  e2e/davinci-suites/src/form-fields.test.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/node.reducer.ts
Labels: test

feat(davinci-client): adjust naming and refactor IdpCollectors
  e2e/davinci-app/components/social-login-button.ts
  e2e/davinci-app/main.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/collector.types.test-d.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
  packages/davinci-client/src/types.test-d.ts
  packages/davinci-client/src/types.ts
Labels: test

chore: release-api-docs-beta
  beta/assets/navigation.js
  beta/assets/search.js
  beta/functions/_forgerock_davinci-client.index.davinci.html
  beta/functions/_forgerock_device-client.deviceClient.html
  beta/modules/_forgerock_davinci-client.types.html
  beta/types/_forgerock_davinci-client.types.ActionCollector.html
  beta/types/_forgerock_davinci-client.types.Collectors.html
  beta/types/_forgerock_davinci-client.types.ContinueNode.html
  beta/types/_forgerock_davinci-client.types.DaVinciConfig.html
  beta/types/_forgerock_davinci-client.types.DaVinciValidationError.html
  beta/types/_forgerock_davinci-client.types.ErrorNode.html
  beta/types/_forgerock_davinci-client.types.FailureNode.html
  beta/types/_forgerock_davinci-client.types.FlowCollector.html
  beta/types/_forgerock_davinci-client.types.IdpCollector.html
  beta/types/_forgerock_davinci-client.types.InitFlow.html
  beta/types/_forgerock_davinci-client.types.MultiSelectCollector.html
  beta/types/_forgerock_davinci-client.types.NodeStates.html
  beta/types/_forgerock_davinci-client.types.PasswordCollector.html
  beta/types/_forgerock_davinci-client.types.ReadOnlyCollector.html
  beta/types/_forgerock_davinci-client.types.SingleSelectCollector.html
  beta/types/_forgerock_davinci-client.types.SingleValueCollector.html
  beta/types/_forgerock_davinci-client.types.SocialLoginCollector.html
  beta/types/_forgerock_davinci-client.types.StartNode.html
  beta/types/_forgerock_davinci-client.types.SubmitCollector.html
  beta/types/_forgerock_davinci-client.types.SuccessNode.html
  beta/types/_forgerock_davinci-client.types.TextCollector.html
  beta/types/_forgerock_davinci-client.types.Updater.html
  beta/types/_forgerock_davinci-client.types.ValidatedTextCollector.html
Labels: none

chore: add-tests
  e2e/davinci-app/main.ts
  e2e/davinci-suites/src/form-fields.test.ts
  packages/davinci-client/src/lib/client.store.ts
Labels: test

chore: fix-logic-add-tests
  .husky/install.mjs
  e2e/davinci-suites/src/form-fields.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.utils.ts
Labels: test

chore: add-logout-to-test
  .husky/install.mjs
  e2e/davinci-app/main.ts
  e2e/davinci-suites/src/basic.test.ts
  e2e/davinci-suites/src/form-fields.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
Labels: test

chore: add-changeset
  .changeset/spicy-fans-speak.md
Labels: docs

chore: fixes-for-form-fields
  e2e/davinci-app/components/password.ts
  e2e/davinci-app/components/text.ts
  e2e/davinci-app/helper.ts
  e2e/davinci-suites/src/form-fields.test.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/node.reducer.ts
Labels: test

feat(davinci-client): bug fixes, improvements for MultiValueCollectors
  e2e/davinci-app/tsconfig.app.json
  e2e/davinci-suites/src/form-fields.test_off.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/davinci.utils.ts
Labels: test

chore: release-api-docs-beta
  beta/functions/_forgerock_davinci-client.index.davinci.html
  beta/functions/_forgerock_device-client.deviceClient.html
  beta/types/_forgerock_davinci-client.types.ActionCollector.html
  beta/types/_forgerock_davinci-client.types.Collectors.html
  beta/types/_forgerock_davinci-client.types.ContinueNode.html
  beta/types/_forgerock_davinci-client.types.DaVinciConfig.html
  beta/types/_forgerock_davinci-client.types.DaVinciValidationError.html
  beta/types/_forgerock_davinci-client.types.ErrorNode.html
  beta/types/_forgerock_davinci-client.types.FailureNode.html
  beta/types/_forgerock_davinci-client.types.FlowCollector.html
  beta/types/_forgerock_davinci-client.types.IdpCollector.html
  beta/types/_forgerock_davinci-client.types.InitFlow.html
  beta/types/_forgerock_davinci-client.types.MultiSelectCollector.html
  beta/types/_forgerock_davinci-client.types.NodeStates.html
  beta/types/_forgerock_davinci-client.types.PasswordCollector.html
  beta/types/_forgerock_davinci-client.types.ReadOnlyCollector.html
  beta/types/_forgerock_davinci-client.types.SingleSelectCollector.html
  beta/types/_forgerock_davinci-client.types.SingleValueCollector.html
  beta/types/_forgerock_davinci-client.types.StartNode.html
  beta/types/_forgerock_davinci-client.types.SubmitCollector.html
  beta/types/_forgerock_davinci-client.types.SuccessNode.html
  beta/types/_forgerock_davinci-client.types.TextCollector.html
  beta/types/_forgerock_davinci-client.types.Updater.html
  beta/types/_forgerock_davinci-client.types.ValidatedTextCollector.html
Labels: none

chore: update-eslint-package-for-compat
  package.json
  pnpm-lock.yaml
Labels: none

chore: release-api-docs-beta
  beta/functions/_forgerock_davinci-client.index.davinci.html
  beta/functions/_forgerock_device-client.deviceClient.html
  beta/types/_forgerock_davinci-client.types.ActionCollector.html
  beta/types/_forgerock_davinci-client.types.Collectors.html
  beta/types/_forgerock_davinci-client.types.ContinueNode.html
  beta/types/_forgerock_davinci-client.types.DaVinciConfig.html
  beta/types/_forgerock_davinci-client.types.DaVinciValidationError.html
  beta/types/_forgerock_davinci-client.types.ErrorNode.html
  beta/types/_forgerock_davinci-client.types.FailureNode.html
  beta/types/_forgerock_davinci-client.types.FlowCollector.html
  beta/types/_forgerock_davinci-client.types.IdpCollector.html
  beta/types/_forgerock_davinci-client.types.InitFlow.html
  beta/types/_forgerock_davinci-client.types.MultiSelectCollector.html
  beta/types/_forgerock_davinci-client.types.NodeStates.html
  beta/types/_forgerock_davinci-client.types.PasswordCollector.html
  beta/types/_forgerock_davinci-client.types.ReadOnlyCollector.html
  beta/types/_forgerock_davinci-client.types.SingleSelectCollector.html
  beta/types/_forgerock_davinci-client.types.SingleValueCollector.html
  beta/types/_forgerock_davinci-client.types.StartNode.html
  beta/types/_forgerock_davinci-client.types.SubmitCollector.html
  beta/types/_forgerock_davinci-client.types.SuccessNode.html
  beta/types/_forgerock_davinci-client.types.TextCollector.html
  beta/types/_forgerock_davinci-client.types.Updater.html
  beta/types/_forgerock_davinci-client.types.ValidatedTextCollector.html
Labels: none

chore: release-api-docs-beta
  beta/functions/_forgerock_davinci-client.index.davinci.html
  beta/functions/_forgerock_device-client.deviceClient.html
  beta/types/_forgerock_davinci-client.types.ActionCollector.html
  beta/types/_forgerock_davinci-client.types.Collectors.html
  beta/types/_forgerock_davinci-client.types.ContinueNode.html
  beta/types/_forgerock_davinci-client.types.DaVinciConfig.html
  beta/types/_forgerock_davinci-client.types.DaVinciValidationError.html
  beta/types/_forgerock_davinci-client.types.ErrorNode.html
  beta/types/_forgerock_davinci-client.types.FailureNode.html
  beta/types/_forgerock_davinci-client.types.FlowCollector.html
  beta/types/_forgerock_davinci-client.types.IdpCollector.html
  beta/types/_forgerock_davinci-client.types.InitFlow.html
  beta/types/_forgerock_davinci-client.types.MultiSelectCollector.html
  beta/types/_forgerock_davinci-client.types.NodeStates.html
  beta/types/_forgerock_davinci-client.types.PasswordCollector.html
  beta/types/_forgerock_davinci-client.types.ReadOnlyCollector.html
  beta/types/_forgerock_davinci-client.types.SingleSelectCollector.html
  beta/types/_forgerock_davinci-client.types.SingleValueCollector.html
  beta/types/_forgerock_davinci-client.types.StartNode.html
  beta/types/_forgerock_davinci-client.types.SubmitCollector.html
  beta/types/_forgerock_davinci-client.types.SuccessNode.html
  beta/types/_forgerock_davinci-client.types.TextCollector.html
  beta/types/_forgerock_davinci-client.types.Updater.html
  beta/types/_forgerock_davinci-client.types.ValidatedTextCollector.html
Labels: none

chore: fix-form-fields-tests
  e2e/davinci-app/server-configs.ts
  e2e/davinci-suites/src/form-fields.test.ts
Labels: test

chore: fix-form-fields-tests
  e2e/davinci-app/components/checkbox.ts
  e2e/davinci-app/components/combobox.ts
  e2e/davinci-app/components/dropdown.ts
  e2e/davinci-app/main.ts
  e2e/davinci-suites/src/form-fields.test.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.types.test-d.ts
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/collector.utils.ts
Labels: test

chore: update-nx
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Labels: none

fix: error-node-continue-node
  .changeset/shiny-emus-ring.md
  e2e/davinci-app/index.html
  e2e/davinci-app/main.ts
  e2e/davinci-suites/src/basic.test.ts
  package.json
  packages/davinci-client/src/lib/client.types.test-d.ts
  packages/davinci-client/src/lib/node.slice.test.ts
  packages/davinci-client/src/lib/node.slice.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
  pnpm-lock.yaml
Labels: docs, test

chore: pr-comments
  e2e/davinci-suites/src/basic.test.ts
  packages/davinci-client/src/lib/node.slice.ts
Labels: test

chore: format-changesets-version
  package.json
Labels: none

chore: update-nx
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Labels: none

fix: error-node-continue-node
  .changeset/shiny-emus-ring.md
  e2e/davinci-app/index.html
  e2e/davinci-app/main.ts
  e2e/davinci-suites/src/basic.test.ts
  package.json
  packages/davinci-client/src/lib/client.types.test-d.ts
  packages/davinci-client/src/lib/node.slice.test.ts
  packages/davinci-client/src/lib/node.slice.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
  pnpm-lock.yaml
Labels: docs, test

chore: pr-comments
  e2e/davinci-suites/src/basic.test.ts
  packages/davinci-client/src/lib/node.slice.ts
Labels: test

chore: release-api-docs-beta
  beta/functions/_forgerock_davinci-client.index.davinci.html
  beta/functions/_forgerock_device-client.deviceClient.html
  beta/types/_forgerock_davinci-client.types.ActionCollector.html
  beta/types/_forgerock_davinci-client.types.Collectors.html
  beta/types/_forgerock_davinci-client.types.ContinueNode.html
  beta/types/_forgerock_davinci-client.types.DaVinciConfig.html
  beta/types/_forgerock_davinci-client.types.DaVinciValidationError.html
  beta/types/_forgerock_davinci-client.types.ErrorNode.html
  beta/types/_forgerock_davinci-client.types.FailureNode.html
  beta/types/_forgerock_davinci-client.types.FlowCollector.html
  beta/types/_forgerock_davinci-client.types.IdpCollector.html
  beta/types/_forgerock_davinci-client.types.InitFlow.html
  beta/types/_forgerock_davinci-client.types.MultiSelectCollector.html
  beta/types/_forgerock_davinci-client.types.NodeStates.html
  beta/types/_forgerock_davinci-client.types.PasswordCollector.html
  beta/types/_forgerock_davinci-client.types.ReadOnlyCollector.html
  beta/types/_forgerock_davinci-client.types.SingleSelectCollector.html
  beta/types/_forgerock_davinci-client.types.SingleValueCollector.html
  beta/types/_forgerock_davinci-client.types.StartNode.html
  beta/types/_forgerock_davinci-client.types.SubmitCollector.html
  beta/types/_forgerock_davinci-client.types.SuccessNode.html
  beta/types/_forgerock_davinci-client.types.TextCollector.html
  beta/types/_forgerock_davinci-client.types.Updater.html
  beta/types/_forgerock_davinci-client.types.ValidatedTextCollector.html
Labels: none

chore: pr-comments
  e2e/davinci-app/components/combobox.ts
  e2e/davinci-app/components/radio.ts
  e2e/davinci-app/main.ts
  e2e/davinci-suites/src/form-fields.test.ts
Labels: test

feat(davinci-client): introduce request middleware
  .changeset/fifty-berries-repeat.md
  e2e/davinci-app/main.ts
  e2e/davinci-suites/src/middleware.test.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/effects/middleware-arch.md
  packages/davinci-client/src/lib/effects/request.effect.enums.ts
  packages/davinci-client/src/lib/effects/request.effect.mock.ts
  packages/davinci-client/src/lib/effects/request.effect.types.ts
  packages/davinci-client/src/lib/effects/request.effect.utils.test.ts
  packages/davinci-client/src/lib/effects/request.effect.utils.ts
  packages/davinci-client/src/types.ts
Labels: docs, test

feat(davinci-client): introduce request middleware
  .changeset/fifty-berries-repeat.md
  e2e/davinci-app/main.ts
  e2e/davinci-suites/src/basic.test.ts
  e2e/davinci-suites/src/error.test.ts
  e2e/davinci-suites/src/middleware.test.ts
  e2e/davinci-suites/src/register.test.ts
  e2e/davinci-suites/src/utils/demo-user.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/effects/architecture-design.md
  packages/davinci-client/src/lib/effects/request.effect.mock.ts
  packages/davinci-client/src/lib/effects/request.effect.types.ts
  packages/davinci-client/src/lib/effects/request.effect.unions.ts
  packages/davinci-client/src/lib/effects/request.effect.utils.test.ts
  packages/davinci-client/src/lib/effects/request.effect.utils.ts
  packages/davinci-client/src/types.ts
Labels: docs, test

test(davinci-client): headers test for middleware
  e2e/davinci-app/main.ts
  e2e/davinci-suites/src/middleware.test.ts
Labels: test

chore: release-api-docs-beta
  beta/assets/navigation.js
  beta/assets/search.js
  beta/functions/_forgerock_davinci-client.index.davinci.html
  beta/functions/_forgerock_device-client.deviceClient.html
  beta/modules/_forgerock_davinci-client.types.html
  beta/types/_forgerock_davinci-client.types.ActionCollector.html
  beta/types/_forgerock_davinci-client.types.Collectors.html
  beta/types/_forgerock_davinci-client.types.ContinueNode.html
  beta/types/_forgerock_davinci-client.types.DaVinciConfig.html
  beta/types/_forgerock_davinci-client.types.DaVinciValidationError.html
  beta/types/_forgerock_davinci-client.types.ErrorNode.html
  beta/types/_forgerock_davinci-client.types.FailureNode.html
  beta/types/_forgerock_davinci-client.types.FlowCollector.html
  beta/types/_forgerock_davinci-client.types.IdpCollector.html
  beta/types/_forgerock_davinci-client.types.InitFlow.html
  beta/types/_forgerock_davinci-client.types.MultiSelectCollector.html
  beta/types/_forgerock_davinci-client.types.NodeStates.html
  beta/types/_forgerock_davinci-client.types.PasswordCollector.html
  beta/types/_forgerock_davinci-client.types.ReadOnlyCollector.html
  beta/types/_forgerock_davinci-client.types.RequestMiddleware.html
  beta/types/_forgerock_davinci-client.types.SingleSelectCollector.html
  beta/types/_forgerock_davinci-client.types.SingleValueCollector.html
  beta/types/_forgerock_davinci-client.types.StartNode.html
  beta/types/_forgerock_davinci-client.types.SubmitCollector.html
  beta/types/_forgerock_davinci-client.types.SuccessNode.html
  beta/types/_forgerock_davinci-client.types.TextCollector.html
  beta/types/_forgerock_davinci-client.types.Updater.html
  beta/types/_forgerock_davinci-client.types.ValidatedTextCollector.html
Labels: none

chore: fix-form-fields-tests
  e2e/davinci-app/server-configs.ts
  e2e/davinci-suites/src/form-fields.test.ts
Labels: test

chore: fix-form-fields-tests
  e2e/davinci-app/components/checkbox.ts
  e2e/davinci-app/components/combobox.ts
  e2e/davinci-app/components/dropdown.ts
  e2e/davinci-app/main.ts
  e2e/davinci-suites/src/form-fields.test.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.types.test-d.ts
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/collector.utils.ts
Labels: test

chore: pr-comments
  e2e/davinci-app/components/combobox.ts
  e2e/davinci-app/components/radio.ts
  e2e/davinci-app/main.ts
  e2e/davinci-suites/src/form-fields.test.ts
Labels: test

test(davinci-client): improve form field tests
  e2e/davinci-app/components/combobox.ts
  e2e/davinci-app/components/multi-value.ts
  e2e/davinci-app/components/radio.ts
  e2e/davinci-app/components/single-value.ts
  e2e/davinci-app/components/text.ts
  e2e/davinci-app/main.ts
  e2e/davinci-app/style.css
  e2e/davinci-suites/playwright.config.ts
  e2e/davinci-suites/src/form-fields.test.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/types.ts
Labels: test

chore: skip-test
  .github/workflows/ci.yml
  e2e/davinci-suites/src/basic.test.ts
  e2e/davinci-suites/src/error.test.ts
Labels: CI, test

chore: fix-imports
  packages/davinci-client/package.json
Labels: davinci-client

chore: mend-scan
  .whitesource
Labels: none

chore: mend-scan
  .whitesource
Labels: none

chore: mend-scan
  .whitesource
Labels: none

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

test:
  - e2e/**/*
  - packages/**/*.test.ts
