Repository ForgeRock/ping-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, davinci-client, device-client, test

feat: implement-authorize-oidc-client
  .changeset/dirty-queens-design.md
  .gitignore
  e2e/oidc-app/package.json
  e2e/oidc-app/src/main.ts
  packages/oidc-client/package.json
  packages/oidc-client/src/index.ts
  packages/oidc-client/src/lib/index.ts
  packages/oidc-client/src/lib/store.ts
  packages/oidc-client/src/lib/wellknown.slice.ts
  packages/oidc-client/tsconfig.json
  packages/oidc-client/tsconfig.lib.json
  packages/sdk-effects/iframe-manager/src/lib/iframe-manager.effects.ts
  packages/sdk-effects/oidc/src/index.ts
  pnpm-lock.yaml
  tsconfig.base.json
Labels: docs, test

chore: small-updates-to-oidc-client
  e2e/oidc-app/src/main.ts
  packages/oidc-client/src/lib/authorize.slice.ts
  packages/oidc-client/src/lib/index.ts
  packages/oidc-client/src/lib/store.ts
  packages/oidc-client/src/lib/wellknown.slice.ts
  packages/sdk-effects/oidc/src/lib/authorize.effects.ts
Labels: test

chore: refactor-to-different-approach
  CLAUDE.md
  e2e/oidc-app/src/main.ts
  packages/oidc-client/src/lib/index.ts
Labels: docs, test

feat(davinci-client): implement protect collector
  .changeset/dull-rockets-give.md
  e2e/davinci-app/components/protect.ts
  e2e/davinci-app/main.ts
  e2e/davinci-app/package.json
  e2e/davinci-app/tsconfig.app.json
  e2e/davinci-app/tsconfig.json
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
  packages/davinci-client/src/types.ts
  pnpm-lock.yaml
Labels: docs, test

chore: add-bundle-size-to-pr
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  scripts/bundle-sizes.sh
Labels: CI

feat(davinci-client): implement protect collector
  .changeset/dull-rockets-give.md
  e2e/davinci-app/components/protect.ts
  e2e/davinci-app/main.ts
  e2e/davinci-app/package.json
  e2e/davinci-app/tsconfig.app.json
  e2e/davinci-app/tsconfig.json
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
  packages/davinci-client/src/types.ts
  pnpm-lock.yaml
Labels: docs, test

feat: implement-authorize-oidc-client
  .changeset/dirty-queens-design.md
  .gitignore
  CLAUDE.md
  e2e/oidc-app/package.json
  e2e/oidc-app/src/main.ts
  packages/oidc-client/package.json
  packages/oidc-client/src/index.ts
  packages/oidc-client/src/lib/authorize.slice.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.test.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/store.ts
  packages/oidc-client/src/lib/wellknown.api.ts
  packages/oidc-client/tsconfig.json
  packages/oidc-client/tsconfig.lib.json
  packages/sdk-effects/iframe-manager/src/lib/iframe-manager.effects.ts
  packages/sdk-effects/oidc/src/index.ts
  packages/sdk-effects/oidc/src/lib/authorize.effects.ts
  packages/sdk-effects/oidc/src/lib/authorize.types.ts
  pnpm-lock.yaml
  tsconfig.base.json
Labels: docs, test

test(davinci-client): test protect collector e2e
  e2e/davinci-suites/src/protect.test.ts
Labels: test

feat(oidc-client): implement stronger patterns
  e2e/oidc-app/src/main.ts
  packages/oidc-client/README.md
  packages/oidc-client/package.json
  packages/oidc-client/src/index.ts
  packages/oidc-client/src/lib/authorize.request.ts
  packages/oidc-client/src/lib/authorize.request.types.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/oidc-client/src/lib/authorize.slice.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.test.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/config.types.ts
  packages/oidc-client/src/lib/error.types.ts
  packages/oidc-client/src/lib/store.ts
  packages/oidc-client/src/lib/token-store.test-d.ts
  packages/oidc-client/src/lib/token-store.test.ts
  packages/oidc-client/src/lib/token-store.ts
  packages/oidc-client/src/lib/wellknown.api.ts
  packages/oidc-client/tsconfig.json
  packages/oidc-client/tsconfig.lib.json
Labels: docs, test

feat(oidc-client): implement stronger patterns
  e2e/oidc-app/src/main.ts
  packages/oidc-client/README.md
  packages/oidc-client/package.json
  packages/oidc-client/src/index.ts
  packages/oidc-client/src/lib/authorize.request.ts
  packages/oidc-client/src/lib/authorize.request.types.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/oidc-client/src/lib/authorize.slice.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.test.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/config.types.ts
  packages/oidc-client/src/lib/error.types.ts
  packages/oidc-client/src/lib/store.ts
  packages/oidc-client/src/lib/token-store.test-d.ts
  packages/oidc-client/src/lib/token-store.test.ts
  packages/oidc-client/src/lib/token-store.ts
  packages/oidc-client/src/lib/wellknown.api.ts
  packages/oidc-client/tsconfig.json
  packages/oidc-client/tsconfig.lib.json
  packages/sdk-effects/iframe-manager/src/lib/iframe-manager.effects.ts
  packages/sdk-effects/oidc/src/lib/authorize.effects.ts
  packages/sdk-effects/oidc/src/lib/authorize.types.ts
Labels: docs, test

chore: update-nx
  package.json
  pnpm-lock.yaml
Labels: none

chore: delete-user-script
  nx.json
  package.json
  pnpm-lock.yaml
  tools/user-scripts/eslint.config.mjs
  tools/user-scripts/package.json
  tools/user-scripts/src/index.ts
  tools/user-scripts/src/lib/schemas.ts
  tools/user-scripts/src/lib/user-scripts.ts
  tools/user-scripts/tsconfig.json
  tools/user-scripts/tsconfig.lib.json
Labels: none

feat(oidc-client): introduce Effect in authorize
  packages/oidc-client/package.json
  packages/oidc-client/src/lib/authorize.request.ts
  pnpm-lock.yaml
Labels: none

chore: add-test-and-rename
  .changeset/config.json
  nx.json
  pnpm-lock.yaml
  tools/user-scripts/README.md
  tools/user-scripts/package.json
  tools/user-scripts/src/index.ts
  tools/user-scripts/src/lib/user-scripts.test.ts
  tools/user-scripts/src/lib/user-scripts.ts
  tools/user-scripts/vitest.config.ts
  tsconfig.json
Labels: docs

chore: refactor
  pnpm-lock.yaml
  tools/user-scripts/package.json
  tools/user-scripts/src/index.ts
  tools/user-scripts/src/lib/schemas.ts
  tools/user-scripts/src/lib/user-scripts.test.ts
  tools/user-scripts/src/lib/user-scripts.ts
  tools/user-scripts/tsconfig.json
  tools/user-scripts/tsconfig.lib.json
  vitest.workspace.ts
Labels: none

feat(oidc-client): improve Effect usage
  e2e/oidc-app/src/main.ts
  packages/oidc-client/src/lib/authorize.request.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/oidc-client/src/lib/client.store.ts
Labels: test

test(davinci-client): test protect collector e2e
  e2e/davinci-suites/src/protect.test.ts
Labels: test

feat(oidc-client): implement token exchange
  e2e/oidc-app/src/main.ts
  packages/oidc-client/package.json
  packages/oidc-client/src/lib/authorize.request.types.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.types.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/error.types.ts
  packages/oidc-client/src/lib/oidc.api.ts
  packages/oidc-client/src/lib/token.types.ts
  packages/oidc-client/tsconfig.json
  packages/oidc-client/tsconfig.lib.json
  pnpm-lock.yaml
Labels: test

chore: updates
  .changeset/config.json
  .gitignore
  e2e/device-client-app/src/utils/index.ts
  nx.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scratchpad/logs/.064038e150928591711bbc599375c67ff8c2d941-audit.json
  scratchpad/logs/mcp-puppeteer-2025-07-18.log
  scratchpad/package.json
  scratchpad/src/main.ts
  scratchpad/tsconfig.json
  tools/user-scripts/.env.example
  tools/user-scripts/README.md
  tools/user-scripts/package.json
  tools/user-scripts/src/index.ts
  tools/user-scripts/src/lib/schemas.ts
  tools/user-scripts/src/lib/user-scripts.test.ts
  tools/user-scripts/src/lib/user-scripts.ts
  tools/user-scripts/tsconfig.json
  tools/user-scripts/tsconfig.lib.json
  tsconfig.base.json
Labels: docs, test

chore(protect): synchronous protect api
  e2e/davinci-app/main.ts
  packages/protect/src/lib/protect.test.ts
  packages/protect/src/lib/protect.ts
  packages/protect/src/lib/protect.types.ts
Labels: test

test(davinci-client): fix e2e tests
  e2e/davinci-suites/src/middleware.test.ts
  e2e/davinci-suites/src/phone-number-field.test.ts
  packages/protect/src/lib/protect.ts
Labels: test

feat: implement-authorize-oidc-client
  .changeset/dirty-queens-design.md
  .gitignore
  CLAUDE.md
  e2e/oidc-app/package.json
  e2e/oidc-app/src/main.ts
  packages/oidc-client/package.json
  packages/oidc-client/src/index.ts
  packages/oidc-client/src/lib/authorize.slice.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.test.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/store.ts
  packages/oidc-client/src/lib/wellknown.api.ts
  packages/oidc-client/tsconfig.json
  packages/oidc-client/tsconfig.lib.json
  packages/sdk-effects/iframe-manager/src/lib/iframe-manager.effects.ts
  packages/sdk-effects/oidc/src/index.ts
  packages/sdk-effects/oidc/src/lib/authorize.effects.ts
  packages/sdk-effects/oidc/src/lib/authorize.types.ts
  pnpm-lock.yaml
  tsconfig.base.json
Labels: docs, test

feat(oidc-client): implement stronger patterns
  e2e/oidc-app/src/main.ts
  packages/oidc-client/README.md
  packages/oidc-client/package.json
  packages/oidc-client/src/index.ts
  packages/oidc-client/src/lib/authorize.request.ts
  packages/oidc-client/src/lib/authorize.request.types.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/oidc-client/src/lib/authorize.slice.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.test.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/config.types.ts
  packages/oidc-client/src/lib/error.types.ts
  packages/oidc-client/src/lib/store.ts
  packages/oidc-client/src/lib/token-store.test-d.ts
  packages/oidc-client/src/lib/token-store.test.ts
  packages/oidc-client/src/lib/token-store.ts
  packages/oidc-client/src/lib/wellknown.api.ts
  packages/oidc-client/tsconfig.json
  packages/oidc-client/tsconfig.lib.json
  packages/sdk-effects/iframe-manager/src/lib/iframe-manager.effects.ts
  packages/sdk-effects/oidc/src/lib/authorize.effects.ts
  packages/sdk-effects/oidc/src/lib/authorize.types.ts
Labels: docs, test

feat(oidc-client): improve Effect usage
  .changeset/dirty-queens-design.md
  e2e/oidc-app/src/main.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/oidc-client/src/index.ts
  packages/oidc-client/src/lib/authorize.request.ts
  packages/oidc-client/src/lib/authorize.request.types.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/wellknown.api.ts
  packages/sdk-effects/iframe-manager/src/lib/iframe-manager.effects.ts
Labels: docs, test

feat(oidc-client): introduce Effect in authorize
  packages/oidc-client/package.json
  packages/oidc-client/src/lib/authorize.request.ts
  pnpm-lock.yaml
Labels: none

feat(oidc-client): implement token exchange
  e2e/oidc-app/src/main.ts
  packages/oidc-client/package.json
  packages/oidc-client/src/lib/authorize.request.types.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.types.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/error.types.ts
  packages/oidc-client/src/lib/oidc.api.ts
  packages/oidc-client/src/lib/token.types.ts
  packages/oidc-client/tsconfig.json
  packages/oidc-client/tsconfig.lib.json
Labels: test

feat: implement-authorize-oidc-client
  packages/oidc-client/src/lib/authorize.slice.ts
  packages/oidc-client/src/lib/client.store.utils.test.ts
  packages/oidc-client/src/lib/store.ts
  packages/oidc-client/tsconfig.json
  pnpm-lock.yaml
Labels: test

feat(oidc-client): improve Effect usage
  packages/oidc-client/src/lib/authorize.request.ts
Labels: none

feat(oidc-client): use Effect within token exchange
  .changeset/calm-waves-change.md
  e2e/oidc-app/src/main.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/authorize.request.ts
  packages/oidc-client/src/lib/authorize.request.types.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.types.ts
  packages/oidc-client/src/lib/client.store.utils.test.ts
  packages/oidc-client/src/lib/exchange.types.ts
  packages/oidc-client/src/lib/exchange.utils.ts
  packages/oidc-client/src/lib/oidc.api.ts
  packages/oidc-client/src/lib/store.ts
  packages/oidc-client/src/lib/token.types.ts
  packages/sdk-effects/storage/src/lib/storage.effects.test.ts
  packages/sdk-effects/storage/src/lib/storage.effects.ts
  pnpm-lock.yaml
Labels: docs, test

feat(oidc-client): use Effect within token exchange
  .changeset/calm-waves-change.md
  e2e/oidc-app/src/main.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/oidc-client/README.md
  packages/oidc-client/src/lib/authorize.request.ts
  packages/oidc-client/src/lib/authorize.request.types.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.types.ts
  packages/oidc-client/src/lib/client.store.utils.test.ts
  packages/oidc-client/src/lib/exchange.types.ts
  packages/oidc-client/src/lib/exchange.utils.ts
  packages/oidc-client/src/lib/oidc.api.ts
  packages/oidc-client/src/lib/store.ts
  packages/oidc-client/src/lib/token.types.ts
  packages/sdk-effects/iframe-manager/src/lib/iframe-manager.effects.ts
  packages/sdk-effects/storage/src/lib/storage.effects.test.ts
  packages/sdk-effects/storage/src/lib/storage.effects.ts
  pnpm-lock.yaml
Labels: docs, test

chore: refactor-to-latest-effect-api
  e2e/mock-api-v2/eslint.config.mjs
  e2e/mock-api-v2/package.json
  e2e/mock-api-v2/src/assets/.gitkeep
  e2e/mock-api-v2/src/endpoints/custom-html.endpoint.ts
  e2e/mock-api-v2/src/endpoints/davinci-authorize.endpoint.ts
  e2e/mock-api-v2/src/endpoints/open-id-configuration.endpoint.ts
  e2e/mock-api-v2/src/endpoints/token.endpoint.ts
  e2e/mock-api-v2/src/endpoints/userinfo.endpoint.ts
  e2e/mock-api-v2/src/handlers/authorize.handler.ts
  e2e/mock-api-v2/src/handlers/healthcheck.handler.ts
  e2e/mock-api-v2/src/handlers/open-id-configuration.handler.ts
  e2e/mock-api-v2/src/handlers/token.handler.ts
  e2e/mock-api-v2/src/handlers/userinfo.handler.ts
  e2e/mock-api-v2/src/helpers/cookie.ts
  e2e/mock-api-v2/src/helpers/test/cookie.test.ts
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/middleware/Authorization.ts
  e2e/mock-api-v2/src/middleware/CookieMiddleware.ts
  e2e/mock-api-v2/src/schemas/authorize.schema.ts
  e2e/mock-api-v2/src/schemas/custom-html-template/custom-html-template-request.schema.ts
  e2e/mock-api-v2/src/schemas/custom-html-template/custom-html-template-response.schema.ts
  e2e/mock-api-v2/src/schemas/open-id-configuration/open-id-configuration-response.schema.ts
  e2e/mock-api-v2/src/schemas/token/token.schema.ts
  e2e/mock-api-v2/src/schemas/userinfo/userinfo.schema.ts
  e2e/mock-api-v2/src/services/authorize.service.ts
  e2e/mock-api-v2/src/services/cookie.service.ts
  e2e/mock-api-v2/src/services/custom-html-template.service.ts
  e2e/mock-api-v2/src/services/mock-env-helpers/index.ts
  e2e/mock-api-v2/src/services/tokens.service.ts
  e2e/mock-api-v2/src/services/userinfo.service.ts
  e2e/mock-api-v2/src/spec.ts
  e2e/mock-api-v2/src/types/index.ts
  e2e/mock-api-v2/tsconfig.app.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: test

chore: further-refactor, working swagger
  e2e/mock-api-v2/package.json
  e2e/mock-api-v2/src/example-server.ts
  e2e/mock-api-v2/src/handlers/custom-html-template.handler.ts
  e2e/mock-api-v2/src/handlers/token.handler.ts
  e2e/mock-api-v2/src/handlers/userinfo.handler.ts
  e2e/mock-api-v2/src/helpers/match.ts
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/schemas/return-success-response-redirect.schema.ts
  e2e/mock-api-v2/src/services/cookie.service.ts
  e2e/mock-api-v2/src/services/mock-env-helpers/tests/index.test.ts
  e2e/mock-api-v2/src/services/request.service.ts
  e2e/mock-api-v2/src/services/tests/authorize.service.test.ts
  e2e/mock-api-v2/src/services/tests/cookie.service.test.ts
  e2e/mock-api-v2/src/services/tests/custom-html-template.service.test.ts
  e2e/mock-api-v2/src/services/tests/request.service.test.ts
  e2e/mock-api-v2/src/services/tests/token.service.test.ts
  e2e/mock-api-v2/src/services/tests/userinfo.service.test.ts
  e2e/mock-api-v2/src/services/tokens.service.ts
  e2e/mock-api-v2/src/services/userinfo.service.ts
  e2e/mock-api-v2/src/spec.ts
  pnpm-workspace.yaml
Labels: test

chore: implement auth middleware and schema refactor
  e2e/mock-api-v2/README.md
  e2e/mock-api-v2/src/errors/index.ts
  e2e/mock-api-v2/src/handlers/userinfo.handler.ts
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/middleware/Authorization.ts
  e2e/mock-api-v2/src/schemas/custom-html-template/custom-html-template-request.schema.ts
  e2e/mock-api-v2/src/schemas/custom-html-template/custom-html-template-response.schema.ts
  e2e/mock-api-v2/src/schemas/custom-html-template/form-data.schema.ts
  e2e/mock-api-v2/src/schemas/userinfo/userinfo.schema.ts
  e2e/mock-api-v2/src/services/userinfo.service.ts
  e2e/mock-api-v2/src/spec.ts
Labels: docs, test

chore: add-security-to-swagger
  e2e/mock-api-v2/package.json
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/middleware/Authorization.ts
  e2e/mock-api-v2/src/spec.ts
Labels: test

chore: added-session-middleware-untested
  e2e/mock-api-v2/eslint.config.mjs
  e2e/mock-api-v2/package.json
  e2e/mock-api-v2/src/helpers/test/match.test.ts
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/middleware/Authorization.ts
  e2e/mock-api-v2/src/middleware/Session.ts
  e2e/mock-api-v2/src/schemas/authorize.schema.ts
  e2e/mock-api-v2/src/services/session.service.ts
  e2e/mock-api-v2/src/spec.ts
  e2e/mock-api-v2/vite.config.ts
  pnpm-lock.yaml
Labels: test

chore: add-console-telemetry
  e2e/mock-api-v2/package.json
  e2e/mock-api-v2/src/handlers/authorize.handler.ts
  e2e/mock-api-v2/src/handlers/healthcheck.handler.ts
  e2e/mock-api-v2/src/handlers/open-id-configuration.handler.ts
  e2e/mock-api-v2/src/handlers/token.handler.ts
  e2e/mock-api-v2/src/handlers/userinfo.handler.ts
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/services/session.service.ts
  pnpm-lock.yaml
Labels: test

chore: end-session and revoke
  e2e/mock-api-v2/README.md
  e2e/mock-api-v2/src/handlers/end-session.handler.ts
  e2e/mock-api-v2/src/handlers/revoke.handler.ts
  e2e/mock-api-v2/src/handlers/userinfo.handler.ts
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/middleware/Authorization.ts
  e2e/mock-api-v2/src/middleware/CookieMiddleware.ts
  e2e/mock-api-v2/src/responses/revoke/revoke.ts
  e2e/mock-api-v2/src/schemas/end-session.schema.ts
  e2e/mock-api-v2/src/schemas/revoke/revoke.schema.ts
  e2e/mock-api-v2/src/schemas/userinfo/userinfo.schema.ts
  e2e/mock-api-v2/src/services/tokens.service.ts
  e2e/mock-api-v2/src/spec.ts
Labels: docs, test

chore: update-nx
  package.json
  pnpm-lock.yaml
Labels: none

chore: delete-user-script
  nx.json
  pnpm-lock.yaml
  tools/user-scripts/eslint.config.mjs
  tools/user-scripts/package.json
  tools/user-scripts/src/index.ts
  tools/user-scripts/src/lib/schemas.ts
  tools/user-scripts/src/lib/user-scripts.ts
  tools/user-scripts/tsconfig.json
  tools/user-scripts/tsconfig.lib.json
Labels: none

chore: add-test-and-rename
  .changeset/config.json
  nx.json
  pnpm-lock.yaml
  tools/user-scripts/README.md
  tools/user-scripts/package.json
  tools/user-scripts/src/index.ts
  tools/user-scripts/src/lib/user-scripts.test.ts
  tools/user-scripts/src/lib/user-scripts.ts
  tools/user-scripts/vitest.config.ts
  tsconfig.json
Labels: docs

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

test:
  - e2e/**/*
  - packages/**/*.test.ts
