Repository ForgeRock/ping-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, davinci-client, device-client, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

test:
  - e2e/**/*
  - packages/**/*.test.ts

fix(davinci-client): clear stale collector error on successful value update
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
Labels: test

chore: use-either-for-composable-branching
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.effects.test.ts
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/davinci.utils.test.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/updater-narrowing.types.test-d.ts
Labels: docs, test

chore: add-lsp-plugin \r https://github.com/microsoft/typescript-go
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: none

chore: remove-package
  package.json
  pnpm-lock.yaml
Labels: none

chore: pr-comments
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: none

feat: SSR compatibility for journey-client and oidc-client (PoC)
  .gitignore
  e2e/oidc-app/src/utils/oidc-app.ts
  e2e/svelte-app/package.json
  e2e/svelte-app/src/app.html
  e2e/svelte-app/src/lib/config.ts
  e2e/svelte-app/src/routes/+layout.svelte
  e2e/svelte-app/src/routes/+page.server.ts
  e2e/svelte-app/src/routes/+page.svelte
  e2e/svelte-app/src/routes/callback/+page.server.ts
  e2e/svelte-app/src/routes/callback/+page.svelte
  e2e/svelte-app/svelte.config.js
  e2e/svelte-app/tsconfig.json
  e2e/svelte-app/vite.config.ts
  nx.json
  packages/davinci-client/src/lib/davinci.api.ts
  packages/journey-client/src/index.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/config.types.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/exchange.request.ts
  packages/oidc-client/src/lib/exchange.utils.ts
  packages/oidc-client/src/types.ts
  packages/sdk-effects/oidc/src/lib/authorize.effects.ts
  packages/sdk-effects/oidc/src/lib/authorize.test.ts
  packages/sdk-effects/oidc/src/lib/state-pkce.effects.ts
  packages/sdk-effects/storage/src/lib/storage.effects.ts
  pnpm-lock.yaml
Labels: test

fix: restore missing pnpm catalog entries in lockfile
  pnpm-lock.yaml
Labels: none

fix: move dashboard deploy to publish workflow, note E2E CI limitation
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Labels: CI

fix: exclude test fixtures from Nx project graph
  .nxignore
Labels: none

fix: write e2e coverage to project dirs for DTE artifact transfer
  e2e/shared/coverage-fixture.ts
  nx.json
  tools/coverage-matrix/scripts/__tests__/collect-e2e-coverage.test.ts
  tools/coverage-matrix/scripts/lib/collect-e2e-coverage.ts
Labels: test

chore: remove obsolete E2E coverage note from PR comment
  .github/workflows/ci.yml
Labels: CI

fix: use workspace-relative paths for e2e coverage matching, dedupe PR comment
  .github/workflows/ci.yml
  tools/coverage-matrix/scripts/lib/merge.ts
Labels: CI

fix: deploy PR dashboard to preview path, use relative base
  .github/workflows/ci.yml
  tools/coverage-matrix/vite.config.ts
Labels: CI

fix: deploy coverage dashboard from PR workflow
  .github/workflows/ci.yml
Labels: CI

feat(ci): add StackBlitz templates for e2e apps on PR previews
  .github/workflows/ci.yml
Labels: CI

feat: updated to use sdk 3.0
  e2e/recognize-app/src/index.ts
  packages/recognize/src/index.ts
  packages/recognize/src/lib/defs/recognize-sdk-to-recognize-proxy-error-map.ts
  packages/recognize/src/lib/recognize-sdk/index.d.ts
  packages/recognize/src/lib/recognize.spec.ts
  packages/recognize/src/lib/recognize.ts
  packages/recognize/src/lib/recognize.types.ts
Labels: test

feat: update Keyless SDK bundle and WASM binaries to v3.0
  packages/recognize/src/lib/recognize-sdk/index.js
  packages/recognize/src/lib/recognize-sdk/pthreads/wasm.js
  packages/recognize/src/lib/recognize-sdk/wasm.js
Labels: none

chore(recognize): remove stale WebSocket error codes dropped in v3.0
  packages/recognize/src/lib/defs/recognize-error-code.ts
  packages/recognize/src/lib/defs/recognize-sdk-to-recognize-proxy-error-map.ts
Labels: none

feat(journey-client): add hasPasskeyAutocompleteValues to WebAuthn for passkey autofill
  .changeset/webauthn-passkey-autocomplete.md
  e2e/journey-app/components/text-input.ts
  e2e/journey-app/components/webauthn-step.ts
  e2e/journey-suites/src/webauthn-device.test.ts
  packages/journey-client/api-report/journey-client.webauthn.api.md
  packages/journey-client/src/lib/webauthn/webauthn.mock.data.ts
  packages/journey-client/src/lib/webauthn/webauthn.test.ts
  packages/journey-client/src/lib/webauthn/webauthn.ts
Labels: docs, test

feat(journey-client): add hasAuthenticationButton and mediationOverride for manual passkey button
  .changeset/webauthn-mediation-override.md
  e2e/journey-app/components/webauthn-step.ts
  e2e/journey-suites/src/webauthn-device.test.ts
  packages/journey-client/api-report/journey-client.webauthn.api.md
  packages/journey-client/src/lib/webauthn/interfaces.ts
  packages/journey-client/src/lib/webauthn/webauthn.mock.data.ts
  packages/journey-client/src/lib/webauthn/webauthn.test.ts
  packages/journey-client/src/lib/webauthn/webauthn.ts
Labels: docs, test

chore: fix brace-expansion CVE-2026-13149
  package.json
  pnpm-lock.yaml
Labels: none

chore: fix brace-expansion CVE-2026-13149 (#721)
  package.json
  pnpm-lock.yaml
Labels: none

feat(recognize): update Keyless SDK bundle and WASM binaries to v3.0.1
  packages/recognize/src/lib/recognize-sdk/index.js
  packages/recognize/src/lib/recognize-sdk/pthreads/wasm.js
  packages/recognize/src/lib/recognize-sdk/wasm.js
Labels: none

feat(recognize): update Keyless SDK type definitions to v3.0.1
  packages/recognize/src/lib/recognize-sdk/index.d.ts
Labels: none

SDKS-5133: Add AI Agent Context Files to Repository (#708)
  .github/copilot-instructions.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  package.json
Labels: CI, docs

feat(recognize): handle recoverable-error, recognition-failure, and non-cancelable events from Keyless SDK v3
  packages/recognize/src/lib/classes/recognize-error.ts
  packages/recognize/src/lib/defs/recognize-error-code.ts
  packages/recognize/src/lib/defs/recognize-sdk-to-recognize-proxy-error-map.ts
  packages/recognize/src/lib/recognize.ts
  packages/recognize/src/lib/recognize.types.ts
Labels: none

feat(recognize): update Keyless SDK bundle, add new error codes and web component options
  package.json
  packages/recognize/src/lib/classes/recognize-error.ts
  packages/recognize/src/lib/defs/recognize-error-code.ts
  packages/recognize/src/lib/defs/recognize-sdk-to-recognize-proxy-error-map.ts
  packages/recognize/src/lib/recognize-sdk/LICENSE
  packages/recognize/src/lib/recognize-sdk/index.d.ts
  packages/recognize/src/lib/recognize-sdk/index.js
  packages/recognize/src/lib/recognize-sdk/pthreads/wasm.js
  packages/recognize/src/lib/recognize-sdk/wasm.js
  packages/recognize/src/lib/recognize.spec.ts
  packages/recognize/src/lib/recognize.ts
  packages/recognize/src/lib/recognize.types.ts
  pnpm-lock.yaml
Labels: none

test(recognize): distinguish KeylessRecoverableErrorEvent from ErrorEvent in mock
  packages/recognize/src/lib/recognize.spec.ts
Labels: none

chore(copyright): add sync-header-years script and tests
  eslint.config.mjs
  lefthook.yml
  package.json
  pnpm-lock.yaml
  tools/copyright/sync-header-years.mjs
  tools/copyright/sync-header-years.test.mjs
Labels: none

chore(copyright): add sync-header-years script and tests (#639)
  eslint.config.mjs
  lefthook.yml
  package.json
  pnpm-lock.yaml
  tools/copyright/sync-header-years.mjs
  tools/copyright/sync-header-years.test.mjs
Labels: none

refactor(journey-client): remove hasPasskeyAutocompleteValues from SDK, inline in journey-app
  .changeset/webauthn-passkey-autocomplete.md
  e2e/journey-app/components/webauthn-step.ts
  e2e/journey-suites/src/webauthn-device.test.ts
  packages/journey-client/api-report/journey-client.webauthn.api.md
  packages/journey-client/src/lib/webauthn/webauthn.mock.data.ts
  packages/journey-client/src/lib/webauthn/webauthn.test.ts
  packages/journey-client/src/lib/webauthn/webauthn.ts
Labels: docs, test

feat(recognize): add recognize package
  .changeset/config.json
  .changeset/recognize-initial-release.md
  packages/recognize/README.md
  packages/recognize/eslint.config.mjs
  packages/recognize/package.json
  packages/recognize/typedoc.json
Labels: docs

chore(security): switch mend check to full repo baseline scan
  .whitesource
Labels: none

chore(security): switch mend check to full repo baseline scan (#723)
  .whitesource
Labels: none

chore(security): fix ws and body-parser mend vulnerabilities (CVE-2026-62389, CVE-2026-12590)
  e2e/am-mock-api/package.json
  package.json
  pnpm-lock.yaml
Labels: test

chore(security): fix ws and body-parser mend vulnerabilities (#725)
  e2e/am-mock-api/package.json
  package.json
  pnpm-lock.yaml
Labels: test

ci: add-fixtures-and-generate-bundles
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  e2e/bundle-check-app/fixtures/davinci-client-flow.ts
  e2e/bundle-check-app/fixtures/davinci-client.ts
  e2e/bundle-check-app/fixtures/device-client.ts
  e2e/bundle-check-app/fixtures/effect-barrel-option.ts
  e2e/bundle-check-app/fixtures/effect-subpath-option.ts
  e2e/bundle-check-app/fixtures/journey-client-device.ts
  e2e/bundle-check-app/fixtures/journey-client-policy.ts
  e2e/bundle-check-app/fixtures/journey-client-qr-code.ts
  e2e/bundle-check-app/fixtures/journey-client-recovery-codes.ts
  e2e/bundle-check-app/fixtures/journey-client-webauthn.ts
  e2e/bundle-check-app/fixtures/journey-client.ts
  e2e/bundle-check-app/fixtures/journey-full.ts
  e2e/bundle-check-app/fixtures/oidc-client-logout.ts
  e2e/bundle-check-app/fixtures/oidc-client-token.ts
  e2e/bundle-check-app/fixtures/oidc-client.ts
  e2e/bundle-check-app/fixtures/protect.ts
  e2e/bundle-check-app/fixtures/redirect.ts
  e2e/bundle-check-app/package.json
  e2e/bundle-check-app/src/bundle.ts
  e2e/bundle-check-app/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Labels: CI, test

fix(davinci-client): replace reducer throws with collector.error state writes
  packages/davinci-client/src/lib/node.reducer.ts
Labels: none

fix(davinci-client): clear stale collector error on successful value update
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
Labels: test

fix(davinci-client): remove try/catch from update dispatch — errors are now state
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
Labels: test
