Repository ForgeRock/ping-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, davinci-client, device-client, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

test:
  - e2e/**/*
  - packages/**/*.test.ts

fix(ci): drop token permissions from block-merge-label
  .github/workflows/ci.yml
Labels: CI

ci: block merge when PR is labeled 'do not merge'- #572 (#754)
  .github/workflows/ci.yml
Labels: CI

fix(header): send-ping-sdk
  .changeset/crisp-papers-serve.md
  packages/device-client/src/lib/services/index.ts
  packages/sdk-utilities/src/lib/constants/index.ts
Labels: docs

feat: extract wellknownApi to shared @forgerock/sdk-wellknown package
  goals/centralize-redux-store/facts-result.json
  goals/centralize-redux-store/facts-review.json
  goals/centralize-redux-store/facts.md
  goals/centralize-redux-store/facts.meta.json
  goals/centralize-redux-store/goal.md
  goals/centralize-redux-store/interview-result.json
  goals/centralize-redux-store/interview.json
  goals/centralize-redux-store/plan.md
  packages/davinci-client/package.json
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/tsconfig.json
  packages/davinci-client/tsconfig.lib.json
  packages/journey-client/package.json
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/journey-client/src/lib/wellknown.api.ts
  packages/journey-client/tsconfig.lib.json
  packages/oidc-client/package.json
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/wellknown.api.ts
  packages/oidc-client/tsconfig.lib.json
  packages/sdk-effects/wellknown/eslint.config.mjs
  packages/sdk-effects/wellknown/package.json
  packages/sdk-effects/wellknown/src/index.ts
  packages/sdk-effects/wellknown/src/lib/wellknown.api.ts
  packages/sdk-effects/wellknown/tsconfig.json
  packages/sdk-effects/wellknown/tsconfig.lib.json
  packages/sdk-effects/wellknown/tsconfig.spec.json
  packages/sdk-effects/wellknown/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: docs, davinci-client

feat: centralize Redux stores — expose SdkStore from davinci/journey, inject into oidc
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/shared-store.test.ts
  packages/sdk-effects/wellknown/vite.config.ts
  packages/sdk-types/src/index.ts
  packages/sdk-types/src/lib/store.types.ts
Labels: docs, test

fix(oidc): warn when requestMiddleware is silently dropped with sharedStore
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/shared-store.test.ts
Labels: test

chore: update-to-rc
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

fix(davinci-client): remove trailing newline, finish Either→Result migration in node.reducer
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/journey-client/api-report/journey-client.types.api.md
Labels: docs

test(journey-app): support signalsInitializationOptions for protect test
  .gitignore
  e2e/am-mock-api/src/app/responses.js
  e2e/am-mock-api/src/app/routes.auth.js
  e2e/journey-app/components/ping-protect-initialize.ts
  e2e/journey-suites/src/protect.test.ts
Labels: test

chore: fix nx-builds-bug
  e2e/davinci-app/package.json
  e2e/device-client-app/package.json
  e2e/journey-app/package.json
  e2e/mock-api-v2/package.json
  e2e/oidc-app/package.json
  e2e/recognize-app/package.json
  flake.nix
  lefthook.yml
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/package.json
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/collector.validation.ts
  packages/davinci-client/src/lib/davinci.utils.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/device-client/package.json
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/package.json
  packages/oidc-client/package.json
  packages/protect/package.json
  packages/recognize/package.json
  packages/sdk-effects/iframe-manager/package.json
  packages/sdk-effects/logger/package.json
  packages/sdk-effects/oidc/package.json
  packages/sdk-effects/sdk-request-middleware/package.json
  packages/sdk-effects/storage/package.json
  packages/sdk-effects/wellknown/package.json
  packages/sdk-types/package.json
  packages/sdk-utilities/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: docs, davinci-client, device-client, test

chore: fix copyright headers per review feedback
  e2e/davinci-suites/playwright.config.ts
  e2e/journey-suites/playwright.config.ts
  e2e/oidc-suites/playwright.config.ts
Labels: test

feat(journey-client): add-create-journey-step-to-api
  .changeset/tender-signs-crash.md
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/src/index.ts
Labels: docs

chore: update-paths
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/config.slice.test.ts
  packages/journey-client/src/lib/config.slice.ts
Labels: test

fix(journey-client): add back baseUrl & export createJourneyStep for edge cases
  e2e/journey-app/services/delete-webauthn-device.ts
  packages/journey-client/api-report/journey-client._utils.api.md
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/package.json
  packages/journey-client/src/_utils.ts
  packages/journey-client/src/index.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/config.slice.test.ts
  packages/journey-client/src/lib/config.slice.ts
  packages/journey-client/src/lib/config.types.test-d.ts
  packages/journey-client/src/lib/config.types.ts
  packages/sdk-types/src/lib/config.types.ts
  packages/sdk-utilities/src/lib/config/config.test.ts
Labels: docs, test

fix(devdeps): pin syncpack to 14.0.0 to fix pre-commit hang
  package.json
  pnpm-lock.yaml
Labels: none

feat: extract wellknownApi to shared @forgerock/sdk-wellknown package
  goals/centralize-redux-store/facts-result.json
  goals/centralize-redux-store/facts-review.json
  goals/centralize-redux-store/facts.md
  goals/centralize-redux-store/facts.meta.json
  goals/centralize-redux-store/goal.md
  goals/centralize-redux-store/interview-result.json
  goals/centralize-redux-store/interview.json
  goals/centralize-redux-store/plan.md
  packages/davinci-client/package.json
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/tsconfig.json
  packages/davinci-client/tsconfig.lib.json
  packages/journey-client/package.json
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/journey-client/src/lib/wellknown.api.ts
  packages/journey-client/tsconfig.lib.json
  packages/oidc-client/package.json
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/wellknown.api.ts
  packages/oidc-client/tsconfig.lib.json
  packages/sdk-effects/wellknown/eslint.config.mjs
  packages/sdk-effects/wellknown/package.json
  packages/sdk-effects/wellknown/src/index.ts
  packages/sdk-effects/wellknown/src/lib/wellknown.api.ts
  packages/sdk-effects/wellknown/tsconfig.json
  packages/sdk-effects/wellknown/tsconfig.lib.json
  packages/sdk-effects/wellknown/tsconfig.spec.json
  packages/sdk-effects/wellknown/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: docs, davinci-client

feat: centralize Redux stores — expose SdkStore from davinci/journey, inject into oidc
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/shared-store.test.ts
  packages/sdk-effects/wellknown/vite.config.ts
  packages/sdk-types/src/index.ts
  packages/sdk-types/src/lib/store.types.ts
Labels: docs, test

fix(oidc): warn when requestMiddleware is silently dropped with sharedStore
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/shared-store.test.ts
Labels: test

chore: update-to-rc
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

fix(davinci-client): remove trailing newline, finish Either→Result migration in node.reducer
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/journey-client/api-report/journey-client.types.api.md
Labels: docs

chore: fix nx-builds-bug
  e2e/davinci-app/package.json
  e2e/device-client-app/package.json
  e2e/journey-app/package.json
  e2e/mock-api-v2/package.json
  e2e/oidc-app/package.json
  e2e/recognize-app/package.json
  flake.nix
  lefthook.yml
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/package.json
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/collector.validation.ts
  packages/davinci-client/src/lib/davinci.utils.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/device-client/package.json
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/package.json
  packages/oidc-client/package.json
  packages/protect/package.json
  packages/recognize/package.json
  packages/sdk-effects/iframe-manager/package.json
  packages/sdk-effects/logger/package.json
  packages/sdk-effects/oidc/package.json
  packages/sdk-effects/sdk-request-middleware/package.json
  packages/sdk-effects/storage/package.json
  packages/sdk-effects/wellknown/package.json
  packages/sdk-types/package.json
  packages/sdk-utilities/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: docs, davinci-client, device-client, test

fix: replace Effect.sleep with direct setTimeout in polling effects
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/password-policy.rules.ts
  tools/user-scripts/src/lib/user-scripts.ts
Labels: none

feat: extract wellknownApi to shared @forgerock/sdk-wellknown package
  goals/centralize-redux-store/facts-result.json
  goals/centralize-redux-store/facts-review.json
  goals/centralize-redux-store/facts.md
  goals/centralize-redux-store/facts.meta.json
  goals/centralize-redux-store/goal.md
  goals/centralize-redux-store/interview-result.json
  goals/centralize-redux-store/interview.json
  goals/centralize-redux-store/plan.md
  packages/davinci-client/package.json
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/tsconfig.json
  packages/davinci-client/tsconfig.lib.json
  packages/journey-client/package.json
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/journey-client/src/lib/wellknown.api.ts
  packages/journey-client/tsconfig.lib.json
  packages/oidc-client/package.json
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/wellknown.api.ts
  packages/oidc-client/tsconfig.lib.json
  packages/sdk-effects/wellknown/eslint.config.mjs
  packages/sdk-effects/wellknown/package.json
  packages/sdk-effects/wellknown/src/index.ts
  packages/sdk-effects/wellknown/src/lib/wellknown.api.ts
  packages/sdk-effects/wellknown/tsconfig.json
  packages/sdk-effects/wellknown/tsconfig.lib.json
  packages/sdk-effects/wellknown/tsconfig.spec.json
  packages/sdk-effects/wellknown/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: docs, davinci-client

refactor(davinci-client): simplify maxRepeatedCharacters and remove redundant casts
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/password-policy.rules.ts
Labels: none

feat: centralize Redux stores — expose SdkStore from davinci/journey, inject into oidc
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/shared-store.test.ts
  packages/sdk-effects/wellknown/vite.config.ts
  packages/sdk-types/src/index.ts
  packages/sdk-types/src/lib/store.types.ts
Labels: docs, test

fix(oidc): warn when requestMiddleware is silently dropped with sharedStore
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/shared-store.test.ts
Labels: test

chore: update-to-rc
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

fix(davinci-client): remove trailing newline, finish Either→Result migration in node.reducer
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/node.reducer.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
Labels: docs

fix(davinci-client): replace remaining Either with Result for Effect v4
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/node.reducer.ts
Labels: none

fix(test): alias @forgerock/sdk-wellknown to source in vite configs
  packages/davinci-client/vite.config.ts
Labels: davinci-client

fix(davinci-client): break circular import by extracting collector resolver
  goals/centralize-redux-store/facts-result.json
  goals/centralize-redux-store/facts-review.json
  goals/centralize-redux-store/facts.md
  goals/centralize-redux-store/facts.meta.json
  goals/centralize-redux-store/goal.md
  goals/centralize-redux-store/interview-result.json
  goals/centralize-redux-store/interview.json
  goals/centralize-redux-store/plan.md
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/collector.resolver.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
Labels: docs

chore(ci): rebased with main
  package.json
  packages/oidc-client/src/lib/authorize.request.utils.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: test

chore: [nx migration] update workspace to nx 23
  e2e/am-mock-api/.eslintrc.json
  e2e/am-mock-api/eslint.config.mjs
  e2e/am-mock-api/project.json
  e2e/mock-api-v2/package.json
  eslint.config.mjs
  package.json
  packages/davinci-client/package.json
  packages/device-client/package.json
  packages/device-client/vite.config.ts
  packages/journey-client/package.json
  packages/journey-client/vite.config.ts
  packages/oidc-client/package.json
  packages/recognize/vitest.config.mts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/interface-mapping-validator/package.json
  tools/user-scripts/package.json
  vitest.config.ts
  vitest.workspace.ts
Labels: davinci-client, device-client, test

fix(ci): pin e2e suites to dedicated Nx Cloud agent groups
  .nx/workflows/dynamic-changesets.yml
Labels: none

refactor(device-client): replace javascript-sdk dependency with sdk-types
  packages/device-client/api-report/device-client.api.md
  packages/device-client/api-report/device-client.types.api.md
  packages/device-client/package.json
  packages/device-client/src/lib/device.store.ts
  packages/device-client/src/lib/types/index.ts
  packages/device-client/tsconfig.lib.json
Labels: docs, device-client

refactor(e2e): migrate device-client-app to journey-client and oidc-client
  e2e/device-client-app/package.json
  e2e/device-client-app/src/utils/index.ts
  e2e/device-client-app/tsconfig.app.json
  pnpm-lock.yaml
Labels: test

refactor(device-client): address PR review feedback on types and effects
  .changeset/remove-js-sdk-from-device-client.md
  e2e/device-client-app/src/utils/index.ts
  packages/device-client/src/lib/device.store.ts
Labels: docs, test

chore(deps): override fast-uri and undici to patched versions
  package.json
  pnpm-lock.yaml
Labels: none

chore(security): bump fast-uri, undici, vitest to fix CVEs (#815)
  .nx/workflows/dynamic-changesets.yml
  e2e/am-mock-api/.eslintrc.json
  e2e/am-mock-api/eslint.config.mjs
  e2e/am-mock-api/project.json
  e2e/mock-api-v2/package.json
  eslint.config.mjs
  package.json
  packages/davinci-client/package.json
  packages/device-client/package.json
  packages/device-client/vite.config.ts
  packages/journey-client/package.json
  packages/journey-client/vite.config.ts
  packages/oidc-client/package.json
  packages/oidc-client/src/lib/authorize.request.utils.test.ts
  packages/recognize/vitest.config.mts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/interface-mapping-validator/package.json
  tools/user-scripts/package.json
  vitest.config.ts
  vitest.workspace.ts
Labels: davinci-client, device-client, test

feat: add AM mediation check to WebAuthn and export storage config types
  .changeset/pink-jars-check.md
  e2e/journey-app/components/webauthn-step.ts
  interface_mapping.md
  packages/journey-client/api-report/journey-client.webauthn.api.md
  packages/journey-client/src/lib/webauthn/webauthn.mock.data.ts
  packages/journey-client/src/lib/webauthn/webauthn.test.ts
  packages/journey-client/src/lib/webauthn/webauthn.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/__tests__/types-reexport.typecheck.ts
  packages/oidc-client/src/types.ts
Labels: docs, test
