Repository ForgeRock/ping-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, davinci-client, device-client, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

test:
  - e2e/**/*
  - packages/**/*.test.ts

test(davinci-client): virtual authenticator e2e tests
  e2e/davinci-app/components/fido.ts
  e2e/davinci-app/main.ts
  e2e/davinci-suites/playwright.config.ts
  e2e/davinci-suites/src/fido.test.ts
Labels: test

fix(davinci-client): improve fido module error handling
  .changeset/full-bikes-boil.md
  e2e/davinci-app/components/fido.ts
  e2e/davinci-app/main.ts
  e2e/davinci-suites/src/fido.test.ts
  packages/davinci-client/src/lib/fido/fido.ts
Labels: docs, test

chore: temporarily disable nx cloud
  .github/actions/setup/action.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci.yml
Labels: CI

fix: update-storage-client-error-handling
  packages/davinci-client/package.json
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/tsconfig.json
  packages/davinci-client/tsconfig.lib.json
  packages/sdk-utilities/package.json
  packages/sdk-utilities/src/index.ts
  packages/sdk-utilities/src/lib/error/error.utils.test.ts
  packages/sdk-utilities/src/lib/error/error.utils.ts
  packages/sdk-utilities/src/lib/error/index.ts
  packages/sdk-utilities/tsconfig.json
  packages/sdk-utilities/tsconfig.lib.json
  pnpm-lock.yaml
Labels: davinci-client, test

fix(journey-client): fix callbackType export
  packages/journey-client/src/index.ts
  packages/journey-client/src/types.ts
Labels: none

fix(oidc-client): fix token force renew
  packages/oidc-client/src/lib/client.store.ts
Labels: none

chore: publish-only-dist-jc
  packages/journey-client/package.json
  pnpm-lock.yaml
Labels: none

chore: pr-comments
  .changeset/fix-storage-error-handling.md
  packages/davinci-client/src/lib/client.store.ts
  packages/sdk-effects/storage/src/lib/storage.effects.ts
  packages/sdk-utilities/src/lib/error/error.utils.test.ts
  packages/sdk-utilities/src/lib/error/error.utils.ts
Labels: docs, test

chore: updates-dependencies
  e2e/am-mock-api/package.json
  pnpm-lock.yaml
Labels: test

chore: another-dependency-upgrade
  e2e/davinci-app/tsconfig.json
  e2e/device-client-app/tsconfig.json
  e2e/journey-app/tsconfig.json
  e2e/oidc-app/tsconfig.json
  e2e/protect-app/tsconfig.json
  nx.json
  package.json
  packages/journey-client/package.json
  packages/journey-client/src/lib/device/device-profile.test.ts
  packages/journey-client/tsconfig.json
  packages/oidc-client/tsconfig.json
  packages/sdk-effects/oidc/tsconfig.json
  packages/sdk-effects/storage/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: test

chore: express-5-fixes
  e2e/am-mock-api/src/app/routes.resource.js
Labels: test

chore: update-package-jsons
  e2e/am-mock-api/package.json
  e2e/davinci-app/package.json
  e2e/device-client-app/package.json
  e2e/journey-app/package.json
  e2e/protect-app/package.json
  package.json
  packages/journey-client/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/user-scripts/package.json
Labels: test

chore: comments
  e2e/davinci-suites/src/phone-number-field.test.ts
  packages/oidc-client/src/lib/client.store.ts
Labels: test

fix!: update-error-handling-across-packages
  .changeset/chilly-sheep-follow.md
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/device/device-profile.test.ts
  packages/journey-client/src/lib/journey.utils.ts
Labels: docs, test

chore: another-dependency-upgrade
  e2e/davinci-app/tsconfig.json
  e2e/device-client-app/tsconfig.json
  e2e/journey-app/tsconfig.json
  e2e/oidc-app/tsconfig.json
  e2e/protect-app/tsconfig.json
  nx.json
  package.json
  packages/journey-client/package.json
  packages/journey-client/src/lib/device/device-profile.test.ts
  packages/journey-client/tsconfig.json
  packages/oidc-client/tsconfig.json
  packages/sdk-effects/oidc/tsconfig.json
  packages/sdk-effects/storage/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: test

chore: express-5-fixes
  e2e/am-mock-api/src/app/routes.resource.js
Labels: test

chore: update-package-jsons
  e2e/am-mock-api/package.json
  e2e/davinci-app/package.json
  e2e/device-client-app/package.json
  e2e/journey-app/package.json
  e2e/protect-app/package.json
  package.json
  packages/journey-client/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/user-scripts/package.json
Labels: test

chore: updates-dependencies
  e2e/am-mock-api/package.json
  pnpm-lock.yaml
Labels: test

feat(journey-client): wellknown-endpoint-config-support
  .changeset/rich-cows-try.md
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/journey-client/src/lib/config.types.ts
  packages/journey-client/src/lib/journey.slice.ts
  packages/journey-client/src/lib/wellknown.api.ts
  packages/journey-client/src/lib/wellknown.utils.test.ts
  packages/journey-client/src/lib/wellknown.utils.ts
  packages/journey-client/src/types.ts
Labels: docs, test

chore: update-deps-to-fix-build
  packages/davinci-client/src/lib/client.store.ts
  packages/journey-client/package.json
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/journey-client/src/lib/journey.api.ts
  packages/journey-client/tsconfig.json
  packages/sdk-effects/oidc/package.json
  packages/sdk-effects/oidc/src/lib/wellknown.api.ts
  packages/sdk-effects/oidc/src/lib/wellknown.utils.test.ts
  packages/sdk-utilities/tsconfig.json
  pnpm-lock.yaml
  tools/user-scripts/package.json
Labels: test

fix: update-storage-client-error-handling
  packages/sdk-utilities/src/lib/error/error.utils.test.ts
Labels: test

chore: move-to-wellknown-refactor
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/config.types.test-d.ts
  packages/davinci-client/src/lib/config.types.ts
  packages/davinci-client/src/lib/wellknown.api.ts
  packages/davinci-client/src/lib/wellknown.types.ts
  packages/journey-client/package.json
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/wellknown.api.ts
  packages/journey-client/src/lib/wellknown.utils.test.ts
  packages/journey-client/src/lib/wellknown.utils.ts
  packages/journey-client/src/types.ts
  packages/journey-client/tsconfig.json
  packages/journey-client/tsconfig.lib.json
  packages/oidc-client/src/lib/wellknown.api.ts
  packages/sdk-effects/oidc/package.json
  packages/sdk-effects/oidc/src/lib/wellknown.api.ts
  packages/sdk-effects/oidc/src/lib/wellknown.utils.test.ts
  packages/sdk-effects/oidc/src/lib/wellknown.utils.ts
  packages/sdk-utilities/src/index.ts
  packages/sdk-utilities/src/lib/wellknown/index.ts
  packages/sdk-utilities/src/lib/wellknown/wellknown.utils.test.ts
  packages/sdk-utilities/src/lib/wellknown/wellknown.utils.ts
  pnpm-lock.yaml
Labels: test

chore: more-refactoring-rebase-with-main
  .changeset/rich-cows-try.md
  packages/davinci-client/src/lib/config.types.test-d.ts
  packages/journey-client/src/lib/wellknown.utils.test.ts
  packages/journey-client/src/lib/wellknown.utils.ts
  packages/sdk-effects/oidc/src/lib/wellknown.utils.test.ts
  packages/sdk-effects/oidc/src/lib/wellknown.utils.ts
  packages/sdk-utilities/src/lib/wellknown/wellknown.utils.test.ts
  packages/sdk-utilities/src/lib/wellknown/wellknown.utils.ts
  pnpm-lock.yaml
Labels: docs, test

chore: coderabbit-comments
  e2e/am-mock-api/package.json
  packages/journey-client/package.json
  packages/journey-client/src/lib/config.types.ts
  packages/journey-client/src/lib/interfaces.ts
  packages/journey-client/src/lib/wellknown.utils.ts
  pnpm-lock.yaml
Labels: test

chore: remove-wellknown.api-file
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/wellknown.api.ts
Labels: none

fix!: update-error-handling-across-packages
  .changeset/chilly-sheep-follow.md
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/device/device-profile.test.ts
  packages/journey-client/src/lib/journey.utils.ts
Labels: docs, test

chore: publish-only-dist-jc
  packages/journey-client/package.json
  pnpm-lock.yaml
Labels: none

chore: add-typedoc-to-journey-client
  packages/journey-client/typedoc.json
Labels: none

chore: add-typedoc-to-journey-client
  packages/journey-client/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

feat: expose client return types
  .changeset/lovely-cloths-sin.md
  packages/device-client/src/lib/types/index.ts
  packages/journey-client/src/lib/client.types.ts
  packages/journey-client/src/types.ts
  packages/oidc-client/src/lib/client.types.ts
Labels: docs

chore: update readmes, fix types and comments
  .changeset/sour-jobs-count.md
  e2e/davinci-suites/src/fido.test.ts
  packages/davinci-client/src/lib/fido/README.md
  packages/device-client/README.md
  packages/device-client/src/lib/device.store.ts
  packages/oidc-client/README.md
  packages/protect/README.md
  packages/sdk-effects/iframe-manager/README.md
  packages/sdk-effects/iframe-manager/src/lib/iframe-manager.effects.ts
  packages/sdk-effects/logger/README.md
  packages/sdk-effects/sdk-request-middleware/README.md
  packages/sdk-effects/storage/README.md
  packages/sdk-effects/storage/src/lib/storage.effects.test.ts
  packages/sdk-types/README.md
  packages/sdk-types/src/lib/authorize.types.ts
  packages/sdk-utilities/README.md
Labels: docs, device-client, test

fix(logger): fix custom logger
  .changeset/happy-actors-learn.md
  packages/sdk-effects/logger/src/lib/logger.effects.ts
Labels: docs

feat: refactor wellknown effect
  e2e/journey-app/main.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/journey-client/src/lib/callbacks/ping-protect-initialize-callback.test.ts
  packages/journey-client/src/lib/callbacks/ping-protect-initialize-callback.ts
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/journey-client/src/lib/config.slice.ts
  packages/journey-client/src/lib/config.types.ts
  packages/journey-client/src/lib/journey.slice.ts
  packages/journey-client/src/lib/wellknown.api.ts
  packages/journey-client/src/lib/wellknown.utils.test.ts
  packages/journey-client/src/lib/wellknown.utils.ts
  packages/protect/src/lib/protect.types.ts
  packages/sdk-effects/oidc/package.json
  packages/sdk-effects/oidc/src/lib/wellknown.effects.ts
  packages/sdk-effects/sdk-request-middleware/src/lib/request-mware.effects.ts
  packages/sdk-types/src/lib/config.types.ts
  packages/sdk-utilities/package.json
  packages/sdk-utilities/src/lib/wellknown/wellknown.utils.ts
  pnpm-lock.yaml
Labels: test

feat(oidc): refactor-wellknown-architecture
  e2e/journey-app/main.ts
  e2e/journey-app/server-configs.ts
  packages/journey-client/README.md
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/journey-client/src/lib/client.types.ts
  packages/journey-client/src/lib/config.slice.ts
  packages/journey-client/src/lib/config.types.ts
  packages/journey-client/src/lib/journey.api.ts
  packages/journey-client/src/lib/journey.slice.ts
  packages/journey-client/src/lib/wellknown.api.ts
  packages/journey-client/src/lib/wellknown.utils.test.ts
  packages/journey-client/src/lib/wellknown.utils.ts
  packages/journey-client/src/types.ts
  packages/oidc-client/src/lib/config.types.ts
  packages/sdk-effects/oidc/src/lib/wellknown.effects.ts
  packages/sdk-utilities/src/lib/wellknown/wellknown.utils.test.ts
  packages/sdk-utilities/src/lib/wellknown/wellknown.utils.ts
Labels: docs, test

fix(davinci-client): fix updater for device registration collector
  .changeset/good-buckets-raise.md
  packages/davinci-client/src/lib/node.reducer.ts
Labels: docs

feat(oidc): refactor-wellknown-architecture
  e2e/journey-app/main.ts
  e2e/journey-app/server-configs.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/wellknown.api.ts
  packages/davinci-client/src/lib/wellknown.utils.ts
  packages/journey-client/README.md
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/journey-client/src/lib/client.types.ts
  packages/journey-client/src/lib/config.slice.test.ts
  packages/journey-client/src/lib/config.slice.ts
  packages/journey-client/src/lib/config.types.ts
  packages/journey-client/src/lib/journey.api.ts
  packages/journey-client/src/lib/journey.slice.ts
  packages/journey-client/src/lib/wellknown.api.ts
  packages/journey-client/src/lib/wellknown.utils.test.ts
  packages/journey-client/src/lib/wellknown.utils.ts
  packages/journey-client/src/types.ts
  packages/oidc-client/src/lib/config.types.ts
  packages/oidc-client/src/lib/wellknown.api.ts
  packages/sdk-effects/oidc/src/lib/wellknown.effects.test.ts
  packages/sdk-effects/oidc/src/lib/wellknown.effects.ts
  packages/sdk-utilities/src/lib/wellknown/wellknown.utils.test.ts
  packages/sdk-utilities/src/lib/wellknown/wellknown.utils.ts
Labels: docs, test

chore: fix-local-release
  tools/release/commands/commands.ts
  tools/release/errors.ts
  tools/release/release.ts
Labels: none

fix: resolve typecheck failures in wellknown test mocks
  .github/actions/setup/action.yml
  packages/journey-client/src/lib/config.slice.test.ts
  packages/journey-client/src/lib/wellknown.utils.test.ts
  packages/sdk-effects/oidc/src/lib/wellknown.effects.test.ts
Labels: CI, test

feat(ci): add StackBlitz templates for e2e apps on PR previews
  .github/workflows/ci.yml
Labels: CI

fix(journey-client): classify HTTP 4xx error bodies as LoginFailure
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
Labels: test
