Repository ForgeRock/ping-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, davinci-client, device-client, test

fix(test): alias @forgerock/sdk-wellknown to source in vite configs
  packages/davinci-client/vite.config.ts
Labels: davinci-client

chore: regenerate pnpm-lock.yaml after effect v4 migration
  pnpm-lock.yaml
Labels: none

fix(davinci-client): break circular import by extracting collector resolver
  goals/centralize-redux-store/facts-result.json
  goals/centralize-redux-store/facts-review.json
  goals/centralize-redux-store/facts.md
  goals/centralize-redux-store/facts.meta.json
  goals/centralize-redux-store/goal.md
  goals/centralize-redux-store/interview-result.json
  goals/centralize-redux-store/interview.json
  goals/centralize-redux-store/plan.md
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/collector.resolver.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
Labels: docs

fix(device-client): adopt main's device-client-app rewrite and port to Effect v4 catch API
  e2e/device-client-app/src/utils/index.ts
Labels: test

chore: fix-typecheck
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
Labels: docs

fix(sdk-utilities): narrow serverConfig type in wellknown assertions
  packages/sdk-utilities/src/lib/config/config.test.ts
Labels: test

fix(pr729-review): address blocking review comments
  e2e/device-client-app/src/utils/index.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/config.slice.ts
  packages/journey-client/src/lib/journey.api.ts
  packages/journey-client/src/lib/store-shape.test.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/shared-store.test.ts
  packages/oidc-client/src/lib/store-lifecycle.test.ts
  packages/sdk-effects/store/src/index.ts
  packages/sdk-effects/store/src/lib/store.effects.test.ts
  packages/sdk-effects/store/src/lib/store.effects.ts
Labels: test

style: sort imports and use type-only imports per lint rules
  e2e/davinci-app/main.ts
  e2e/davinci-app/shared-store.ts
  e2e/journey-app/main.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/davinci.state.ts
  packages/device-client/api-report/device-client.api.md
  packages/device-client/api-report/device-client.types.api.md
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/api-report/journey-client.webauthn.api.md
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/client-extra.test.ts
  packages/oidc-client/src/lib/client.store.test.ts
  packages/oidc-client/src/lib/client.store.types.test.ts
  packages/oidc-client/src/lib/client.store.types.ts
  packages/oidc-client/src/lib/oidc.api.ts
  packages/oidc-client/src/types.ts
Labels: docs, test

test(davinci-suites): test oidc client pi.flow route
  .changeset/petite-clowns-refuse.md
  e2e/davinci-app/main.ts
  e2e/davinci-app/server-configs.ts
  e2e/davinci-suites/src/oidc-piflow.test.ts
  e2e/oidc-app/src/utils/oidc-app.ts
  e2e/oidc-suites/src/login.spec.ts
  packages/davinci-client/src/lib/config.slice.ts
  packages/davinci-client/src/lib/config.types.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/oidc-client/README.md
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/authorize.request.ts
  packages/oidc-client/src/lib/authorize.request.utils.test.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.types.ts
  packages/oidc-client/src/lib/session.micros.ts
  packages/sdk-types/src/lib/config.types.ts
  tools/copyright/sync-header-years.mjs
  tools/copyright/sync-header-years.test.mjs
Labels: docs, test

fix(journey-client): x-requested-platform header
  .changeset/plenty-flies-tease.md
  packages/journey-client/src/lib/journey.api.ts
Labels: docs

feat(protect): migrate to npm @ping-identity/pingone-signals-web-sdk
  packages/protect/package.json
  packages/protect/src/lib/protect.test.ts
  packages/protect/src/lib/protect.ts
  packages/protect/src/lib/signals-sdk.js
  packages/protect/tsconfig.lib.json
  pnpm-lock.yaml
Labels: test

chore(protect): mark signals SDK migration as breaking
  .changeset/tiny-signals-import.md
Labels: docs

fix(journey-client): namespace config actions
  packages/journey-client/src/lib/config.slice.ts
  packages/sdk-effects/store/src/lib/store.effects.test.ts
Labels: test

refactor(store): derive reducer path from injected api
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/sdk-effects/store/src/lib/store.effects.test.ts
  packages/sdk-effects/store/src/lib/store.effects.ts
  packages/sdk-effects/store/src/lib/store.types.ts
Labels: test

refactor(store): isolate client store workflows
  e2e/davinci-suites/src/shared-store.test.ts
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/store-shape.test.ts
  packages/journey-client/README.md
  packages/journey-client/src/lib/client.store.effects.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/journey-client/src/lib/journey.api.ts
  packages/journey-client/src/lib/store-shape.test.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/client.store.effects.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.types.test.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/client.types.ts
  packages/oidc-client/src/lib/logout.request.test.ts
  packages/oidc-client/src/lib/oidc.api.ts
  packages/oidc-client/src/lib/shared-store.test.ts
  packages/oidc-client/src/types.ts
  packages/sdk-effects/store/src/index.ts
  packages/sdk-effects/store/src/lib/store.effects.test.ts
  packages/sdk-effects/store/src/lib/store.effects.ts
  packages/sdk-effects/store/src/lib/store.micros.ts
  packages/sdk-effects/store/src/lib/store.utils.ts
Labels: docs, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

test:
  - e2e/**/*
  - packages/**/*.test.ts
