Repository ForgeRock/ping-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, davinci-client, device-client, test

fix: restore missing pnpm catalog entries in lockfile
  pnpm-lock.yaml
Labels: none

fix: deploy coverage dashboard from PR workflow
  .github/workflows/ci.yml
Labels: CI

fix: use workspace-relative paths for e2e coverage matching, dedupe PR comment
  .github/workflows/ci.yml
  tools/coverage-matrix/scripts/lib/merge.ts
Labels: CI

fix: write e2e coverage to project dirs for DTE artifact transfer
  e2e/shared/coverage-fixture.ts
  nx.json
  tools/coverage-matrix/scripts/__tests__/collect-e2e-coverage.test.ts
  tools/coverage-matrix/scripts/lib/collect-e2e-coverage.ts
Labels: test

feat(ci): add StackBlitz templates for e2e apps on PR previews
  .github/workflows/ci.yml
Labels: CI

fix(davinci-client): validate config before attaching shared store
  packages/davinci-client/src/lib/client.store.ts
Labels: none

fix(journey-client): validate config before attaching shared store
  packages/journey-client/src/lib/client.store.ts
Labels: none

refactor(oidc-client): parse don't validate oidc() arguments
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.types.test.ts
  packages/oidc-client/src/lib/client.store.types.ts
  packages/oidc-client/src/types.ts
Labels: docs, test

fix(store): prevent double middleware registration in injectClient
  packages/sdk-effects/store/src/lib/store.effects.test.ts
  packages/sdk-effects/store/src/lib/store.effects.ts
Labels: test

refactor(store): remove unused createStoreExtra export
  packages/sdk-effects/store/src/index.ts
  packages/sdk-effects/store/src/lib/store.utils.ts
  tasks/plans/2026-07-28-centralize-redux-stores-rework.md
Labels: docs

refactor(sdk): centralise invalid-store message and clientExtra defaults
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/journey.api.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/oidc.api.ts
  packages/sdk-effects/store/src/index.ts
  packages/sdk-effects/store/src/lib/store.effects.ts
  packages/sdk-effects/store/src/lib/store.utils.ts
Labels: none

docs: fix README inaccuracies in davinci, oidc, journey, and sdk-store
  packages/davinci-client/README.md
  packages/journey-client/README.md
  packages/oidc-client/README.md
  packages/oidc-client/src/types.ts
  packages/sdk-effects/store/README.md
Labels: docs, davinci-client

ci: add-fixtures-and-generate-bundles
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  e2e/bundle-check-app/fixtures/davinci-client-flow.ts
  e2e/bundle-check-app/fixtures/davinci-client.ts
  e2e/bundle-check-app/fixtures/device-client.ts
  e2e/bundle-check-app/fixtures/effect-barrel-option.ts
  e2e/bundle-check-app/fixtures/effect-subpath-option.ts
  e2e/bundle-check-app/fixtures/journey-client-device.ts
  e2e/bundle-check-app/fixtures/journey-client-policy.ts
  e2e/bundle-check-app/fixtures/journey-client-qr-code.ts
  e2e/bundle-check-app/fixtures/journey-client-recovery-codes.ts
  e2e/bundle-check-app/fixtures/journey-client-webauthn.ts
  e2e/bundle-check-app/fixtures/journey-client.ts
  e2e/bundle-check-app/fixtures/journey-full.ts
  e2e/bundle-check-app/fixtures/oidc-client-logout.ts
  e2e/bundle-check-app/fixtures/oidc-client-token.ts
  e2e/bundle-check-app/fixtures/oidc-client.ts
  e2e/bundle-check-app/fixtures/protect.ts
  e2e/bundle-check-app/fixtures/redirect.ts
  e2e/bundle-check-app/package.json
  e2e/bundle-check-app/src/bundle.ts
  e2e/bundle-check-app/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Labels: CI, test

chore: use-either-for-composable-branching
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.effects.test.ts
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/davinci.utils.test.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/updater-narrowing.types.test-d.ts
Labels: docs, test

feat: SSR compatibility for journey-client and oidc-client (PoC)
  .gitignore
  e2e/oidc-app/src/utils/oidc-app.ts
  e2e/svelte-app/package.json
  e2e/svelte-app/src/app.html
  e2e/svelte-app/src/lib/config.ts
  e2e/svelte-app/src/routes/+layout.svelte
  e2e/svelte-app/src/routes/+page.server.ts
  e2e/svelte-app/src/routes/+page.svelte
  e2e/svelte-app/src/routes/callback/+page.server.ts
  e2e/svelte-app/src/routes/callback/+page.svelte
  e2e/svelte-app/svelte.config.js
  e2e/svelte-app/tsconfig.json
  e2e/svelte-app/vite.config.ts
  nx.json
  packages/davinci-client/src/lib/davinci.api.ts
  packages/journey-client/src/index.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/config.types.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/exchange.request.ts
  packages/oidc-client/src/lib/exchange.utils.ts
  packages/oidc-client/src/types.ts
  packages/sdk-effects/oidc/src/lib/authorize.effects.ts
  packages/sdk-effects/oidc/src/lib/authorize.test.ts
  packages/sdk-effects/oidc/src/lib/state-pkce.effects.ts
  packages/sdk-effects/storage/src/lib/storage.effects.ts
  pnpm-lock.yaml
Labels: test

fix: replace Effect.sleep with direct setTimeout in polling effects
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/password-policy.rules.ts
  tools/user-scripts/src/lib/user-scripts.ts
Labels: none

feat: extract wellknownApi to shared @forgerock/sdk-wellknown package
  goals/centralize-redux-store/facts-result.json
  goals/centralize-redux-store/facts-review.json
  goals/centralize-redux-store/facts.md
  goals/centralize-redux-store/facts.meta.json
  goals/centralize-redux-store/goal.md
  goals/centralize-redux-store/interview-result.json
  goals/centralize-redux-store/interview.json
  goals/centralize-redux-store/plan.md
  packages/davinci-client/package.json
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/tsconfig.json
  packages/davinci-client/tsconfig.lib.json
  packages/journey-client/package.json
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/journey-client/src/lib/wellknown.api.ts
  packages/journey-client/tsconfig.lib.json
  packages/oidc-client/package.json
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/wellknown.api.ts
  packages/oidc-client/tsconfig.lib.json
  packages/sdk-effects/wellknown/eslint.config.mjs
  packages/sdk-effects/wellknown/package.json
  packages/sdk-effects/wellknown/src/index.ts
  packages/sdk-effects/wellknown/src/lib/wellknown.api.ts
  packages/sdk-effects/wellknown/tsconfig.json
  packages/sdk-effects/wellknown/tsconfig.lib.json
  packages/sdk-effects/wellknown/tsconfig.spec.json
  packages/sdk-effects/wellknown/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: docs, davinci-client

refactor(davinci-client): simplify maxRepeatedCharacters and remove redundant casts
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/password-policy.rules.ts
Labels: none

chore: update-to-rc
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

feat: centralize Redux stores — expose SdkStore from davinci/journey, inject into oidc
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/shared-store.test.ts
  packages/sdk-effects/wellknown/vite.config.ts
  packages/sdk-types/src/index.ts
  packages/sdk-types/src/lib/store.types.ts
Labels: docs, test

fix(test): alias @forgerock/sdk-wellknown to source in vite configs
  packages/davinci-client/vite.config.ts
Labels: davinci-client

fix(davinci-client): break circular import by extracting collector resolver
  goals/centralize-redux-store/facts-result.json
  goals/centralize-redux-store/facts-review.json
  goals/centralize-redux-store/facts.md
  goals/centralize-redux-store/facts.meta.json
  goals/centralize-redux-store/goal.md
  goals/centralize-redux-store/interview-result.json
  goals/centralize-redux-store/interview.json
  goals/centralize-redux-store/plan.md
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/collector.resolver.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
Labels: docs

fix(davinci-client): replace remaining Either with Result for Effect v4
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/node.reducer.ts
Labels: none

fix(oidc): warn when requestMiddleware is silently dropped with sharedStore
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/shared-store.test.ts
Labels: test

fix(davinci-client): remove trailing newline, finish Either→Result migration in node.reducer
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/node.reducer.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
Labels: docs

fix(davinci-client): break circular import by extracting davinci.state.ts
  e2e/davinci-app/main.ts
  e2e/journey-app/main.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/client.store.test.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/davinci.state.ts
  packages/davinci-client/src/lib/wellknown.api.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/wellknown.api.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.types.test.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/sdk-effects/store/src/index.ts
  packages/sdk-effects/store/src/lib/store.effects.ts
Labels: docs, test

chore: migrate davinci flows and clients to new tenant
  e2e/davinci-app/components/object-value.ts
  e2e/davinci-app/main.ts
  e2e/davinci-app/server-configs.ts
  e2e/davinci-suites/src/basic.test.ts
  e2e/davinci-suites/src/fido.test.ts
  e2e/davinci-suites/src/form-image.test.ts
  e2e/davinci-suites/src/middleware.test.ts
  e2e/davinci-suites/src/password-policy.test.ts
  e2e/davinci-suites/src/phone-number-field.test.ts
  e2e/davinci-suites/src/qr-code.test.ts
  e2e/oidc-app/src/ping-one/main.ts
Labels: test

fix(journey-client): use authentication service URL for Recognize callback
  packages/journey-client/src/lib/callbacks/ping-one-recognize-callback.ts
Labels: none

chore: migrate davinci flows and clients to new tenant
  e2e/davinci-app/components/object-value.ts
  e2e/davinci-app/main.ts
  e2e/davinci-app/server-configs.ts
  e2e/davinci-suites/src/basic.test.ts
  e2e/davinci-suites/src/fido.test.ts
  e2e/davinci-suites/src/form-image.test.ts
  e2e/davinci-suites/src/middleware.test.ts
  e2e/davinci-suites/src/password-policy.test.ts
  e2e/davinci-suites/src/phone-number-field.test.ts
  e2e/davinci-suites/src/qr-code.test.ts
  e2e/oidc-app/src/ping-one/main.ts
Labels: test

chore: add explicit client exports in default entry points
  commitlint.config.js
  package.json
  packages/device-client/src/index.ts
  packages/oidc-client/src/index.ts
Labels: none

chore(davinci-client): add fido entry point
  packages/davinci-client/api-report/davinci-client.fido.api.md
  packages/davinci-client/package.json
  packages/davinci-client/src/index.ts
  packages/davinci-client/src/lib/fido/fido.types.ts
  packages/davinci-client/src/lib/fido/index.ts
Labels: docs, davinci-client

refactor(journey-client): remove obsolete Recognize SDK config
  e2e/recognize-app/src/index-callback-test.ts
  packages/journey-client/src/lib/callbacks/ping-one-recognize-callback.ts
Labels: test

chore: re-export JSON config helpers
  .changeset/perky-doodles-vanish.md
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/src/index.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/src/index.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/src/index.ts
Labels: docs

chore: dont-release-recognize
  .changeset/config.json
  .changeset/recognize-initial-release.md
  packages/recognize/package.json
Labels: docs

feat: add AM mediation check to WebAuthn and export storage config types
  .changeset/pink-jars-check.md
  packages/journey-client/api-report/journey-client.webauthn.api.md
  packages/journey-client/src/lib/webauthn/webauthn.mock.data.ts
  packages/journey-client/src/lib/webauthn/webauthn.test.ts
  packages/journey-client/src/lib/webauthn/webauthn.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/__tests__/types-reexport.typecheck.ts
  packages/oidc-client/src/types.ts
Labels: docs, test

chore: add-nix-flake
  .envrc
  .gitignore
  devenv.lock
  devenv.nix
  flake.lock
  flake.nix
  package.json
  pnpm-lock.yaml
Labels: none

docs(contributing): add nix-environment guide; wire devenv activation
  contributing_docs/README.md
  contributing_docs/nix-environment.md
Labels: docs

feat(nix): add x86_64-darwin support via nixpkgs-darwin input
  flake.lock
  flake.nix
Labels: none

ci: block merge when PR carries 'Do not merge' label
  .github/workflows/ci.yml
Labels: CI

fix(ci): skip pr job on label-only events
  .github/workflows/ci.yml
Labels: CI

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

test:
  - e2e/**/*
  - packages/**/*.test.ts
