Repository ForgeRock/ping-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, davinci-client, device-client, test

test(e2e): add journey e2e tests for PingOneRecognizeCallback
  e2e/am-mock-api/src/app/responses.js
  e2e/am-mock-api/src/app/routes.auth.js
  e2e/journey-app/callback-map.ts
  e2e/journey-app/components/index.ts
  e2e/journey-app/components/ping-one-recognize.ts
  e2e/journey-suites/src/recognize.test.ts
Labels: test

chore(recognize): make recognize package releaseable by changesets
  .changeset/config.json
  packages/recognize/package.json
Labels: none

refactor(journey-client): fix import ordering in recognize callback files
  packages/journey-client/src/lib/callbacks/factory.ts
  packages/journey-client/src/lib/callbacks/ping-one-recognize-callback.test.ts
  packages/journey-client/src/lib/callbacks/ping-one-recognize-callback.ts
Labels: test

refactor(e2e): use type-only import for callback types in recognize app
  e2e/recognize-app/src/index-callback-test.ts
Labels: test

fix(e2e): fix import sorting and dependency order lint errors
  e2e/journey-app/callback-map.ts
  e2e/journey-app/package.json
  e2e/recognize-app/src/index-callback-test.ts
Labels: test

Merge pull request #846 from chore/recognize-bump-keyless-sdk-3.2.0
  .changeset/silly-pandas-bump.md
  packages/recognize/src/lib/functions/set-attributes.ts
  packages/recognize/src/lib/recognize-sdk/index.d.ts
  packages/recognize/src/lib/recognize-sdk/index.js
  packages/recognize/src/lib/recognize-sdk/pthreads/wasm.js
  packages/recognize/src/lib/recognize-sdk/pthreads/wasm.wasm
  packages/recognize/src/lib/recognize-sdk/wasm.data
  packages/recognize/src/lib/recognize-sdk/wasm.js
  packages/recognize/src/lib/recognize-sdk/wasm.wasm
  packages/recognize/src/lib/recognize.types.ts
Labels: docs

Merge pull request #745 from recognize-callback-3
  .changeset/config.json
  .changeset/recognize-callback-support.md
  e2e/am-mock-api/src/app/responses.js
  e2e/am-mock-api/src/app/routes.auth.js
  e2e/journey-app/callback-map.ts
  e2e/journey-app/components/index.ts
  e2e/journey-app/components/ping-one-recognize.ts
  e2e/journey-app/package.json
  e2e/journey-suites/src/recognize.test.ts
  e2e/recognize-app/src/index-callback-test.html
  e2e/recognize-app/src/index-callback-test.ts
  packages/journey-client/src/lib/callbacks/factory.ts
  packages/journey-client/src/lib/callbacks/ping-one-recognize-callback.test.ts
  packages/journey-client/src/lib/callbacks/ping-one-recognize-callback.ts
  packages/journey-client/src/types.ts
  packages/recognize/package.json
  packages/sdk-types/src/lib/am-callback.types.ts
Labels: docs, test

chore: version-packages
  .changeset/pink-jars-check.md
  .changeset/recognize-callback-support.md
  .changeset/silly-pandas-bump.md
  packages/davinci-client/CHANGELOG.md
  packages/davinci-client/package.json
  packages/device-client/CHANGELOG.md
  packages/device-client/package.json
  packages/journey-client/CHANGELOG.md
  packages/journey-client/package.json
  packages/oidc-client/CHANGELOG.md
  packages/oidc-client/package.json
  packages/protect/CHANGELOG.md
  packages/protect/package.json
  packages/recognize/CHANGELOG.md
  packages/recognize/package.json
  packages/sdk-effects/iframe-manager/CHANGELOG.md
  packages/sdk-effects/iframe-manager/package.json
  packages/sdk-effects/logger/CHANGELOG.md
  packages/sdk-effects/logger/package.json
  packages/sdk-effects/oidc/CHANGELOG.md
  packages/sdk-effects/oidc/package.json
  packages/sdk-effects/sdk-request-middleware/CHANGELOG.md
  packages/sdk-effects/sdk-request-middleware/package.json
  packages/sdk-effects/storage/CHANGELOG.md
  packages/sdk-effects/storage/package.json
  packages/sdk-types/CHANGELOG.md
  packages/sdk-types/package.json
  packages/sdk-utilities/CHANGELOG.md
  packages/sdk-utilities/package.json
Labels: docs, davinci-client, device-client

docs: fix README inaccuracies in davinci, oidc, journey, and sdk-store
  packages/davinci-client/README.md
  packages/journey-client/README.md
  packages/oidc-client/README.md
  packages/oidc-client/src/types.ts
  packages/sdk-effects/store/README.md
Labels: docs, davinci-client

refactor(store): remove unused createStoreExtra export
  packages/sdk-effects/store/src/index.ts
  packages/sdk-effects/store/src/lib/store.utils.ts
  tasks/plans/2026-07-28-centralize-redux-stores-rework.md
Labels: docs

refactor(sdk): centralise invalid-store message and clientExtra defaults
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/journey.api.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/oidc.api.ts
  packages/sdk-effects/store/src/index.ts
  packages/sdk-effects/store/src/lib/store.effects.ts
  packages/sdk-effects/store/src/lib/store.utils.ts
Labels: none

fix(journey-client): validate config before attaching shared store
  packages/journey-client/src/lib/client.store.ts
Labels: none

fix(store): prevent double middleware registration in injectClient
  packages/sdk-effects/store/src/lib/store.effects.test.ts
  packages/sdk-effects/store/src/lib/store.effects.ts
Labels: test

fix(davinci-client): validate config before attaching shared store
  packages/davinci-client/src/lib/client.store.ts
Labels: none

test(journey-client): cast journey() union return in baseUrl tests
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/src/lib/client.store.test.ts
Labels: docs, test

fix(davinci-client): break circular import by extracting davinci.state.ts
  e2e/davinci-app/main.ts
  e2e/journey-app/main.ts
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/client.store.test.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/davinci.state.ts
  packages/davinci-client/src/lib/wellknown.api.ts
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/wellknown.api.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.types.test.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/sdk-effects/store/src/index.ts
  packages/sdk-effects/store/src/lib/store.effects.ts
Labels: docs, test

fix(sdk): address shared store review comments
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/config.slice.test.ts
  packages/davinci-client/src/lib/config.slice.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/config.slice.ts
  packages/journey-client/src/lib/journey.api.ts
  packages/oidc-client/src/lib/client.store.test.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/sdk-effects/store/src/lib/store.effects.test.ts
  packages/sdk-effects/store/src/lib/store.effects.ts
Labels: test

fix(sdk): restore config slice name, add shared-store collision test
  packages/davinci-client/src/lib/config.slice.test.ts
  packages/davinci-client/src/lib/config.slice.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/config.slice.ts
  packages/journey-client/src/lib/journey.api.ts
  packages/sdk-effects/store/src/lib/store.effects.test.ts
Labels: test

refactor(oidc-client): parse don't validate oidc() arguments
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.types.test.ts
  packages/oidc-client/src/lib/client.store.types.ts
  packages/oidc-client/src/types.ts
Labels: test

fix(sdk-store): cache wellknown selector per URL to restore memoization
  packages/sdk-effects/store/src/lib/wellknown.api.ts
Labels: none

fix(device-client-app): narrow client factory errors
  e2e/device-client-app/src/utils/index.ts
Labels: test

chore: pr-comments
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: none

chore: add-lsp-plugin \r https://github.com/microsoft/typescript-go
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: none

chore: remove-package
  package.json
  pnpm-lock.yaml
Labels: none

fix(oidc-client): release failed store registration
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/shared-store.test.ts
  packages/sdk-effects/store/src/index.ts
  packages/sdk-effects/store/src/lib/store.effects.test.ts
  packages/sdk-effects/store/src/lib/store.effects.ts
Labels: test

fix(oidc-client): release failed store registration on PAR error
  .changeset/nice-sails-trade.md
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/shared-store.test.ts
Labels: docs, test

fix(journey-client): x-requested-platform header
  .changeset/plenty-flies-tease.md
  packages/journey-client/src/lib/journey.api.ts
Labels: docs

fix(api-report): increase test timeout for api-extractor tests
  tools/api-report/src/integration.spec.ts
  tools/api-report/vitest.config.ts
Labels: none

feat(oidc-client): forward client config opts to authorize requests
  lefthook.yml
  packages/oidc-client/README.md
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/authorize.request.micros.test.ts
  packages/oidc-client/src/lib/authorize.request.micros.ts
  packages/oidc-client/src/lib/authorize.request.ts
  packages/oidc-client/src/lib/authorize.request.types.ts
  packages/oidc-client/src/lib/authorize.request.utils.test.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.types.ts
  packages/sdk-types/src/lib/authorize.types.ts
  packages/sdk-types/src/lib/config.types.ts
Labels: docs, test

feat(oidc-client): optional redirect uri
  lefthook.yml
  packages/oidc-client/README.md
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/authorize.request.types.ts
  packages/oidc-client/src/lib/authorize.request.utils.test.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/oidc-client/src/lib/client.store.test.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/exchange.types.ts
  packages/oidc-client/src/lib/exchange.utils.test.ts
  packages/oidc-client/src/lib/exchange.utils.ts
  packages/oidc-client/src/lib/oidc.api.ts
  packages/oidc-client/src/lib/session.micros.test.ts
  packages/oidc-client/src/lib/session.micros.ts
  packages/sdk-effects/oidc/src/lib/authorize.test.ts
  packages/sdk-effects/oidc/src/lib/authorize.utils.ts
  packages/sdk-types/src/lib/authorize.types.ts
  packages/sdk-types/src/lib/config.types.ts
  packages/sdk-utilities/src/lib/config/config.test.ts
  packages/sdk-utilities/src/lib/config/config.utils.ts
Labels: docs, test

fix(davinci-client): remove default redirect uri
  packages/davinci-client/src/lib/client.store.test.ts
  packages/davinci-client/src/lib/config.slice.test.ts
  packages/davinci-client/src/lib/config.slice.ts
  packages/davinci-client/src/lib/config.types.ts
Labels: test

test(davinci-suites): test oidc client pi.flow route
  .changeset/petite-clowns-refuse.md
  e2e/davinci-app/main.ts
  e2e/davinci-app/server-configs.ts
  e2e/davinci-suites/src/oidc-piflow.test.ts
  e2e/oidc-app/src/utils/oidc-app.ts
  e2e/oidc-suites/src/login.spec.ts
  packages/davinci-client/src/lib/config.slice.ts
  packages/davinci-client/src/lib/config.types.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/authorize.request.ts
  packages/oidc-client/src/lib/authorize.request.utils.test.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.types.ts
  packages/oidc-client/src/lib/session.micros.ts
  packages/sdk-types/src/lib/config.types.ts
  tools/copyright/sync-header-years.mjs
  tools/copyright/sync-header-years.test.mjs
Labels: docs, test

refactor(davinci-client): simplify maxRepeatedCharacters and remove redundant casts
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/password-policy.rules.ts
Labels: none

fix: replace Effect.sleep with direct setTimeout in polling effects
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/password-policy.rules.ts
  tools/user-scripts/src/lib/user-scripts.ts
Labels: none

feat: extract wellknownApi to shared @forgerock/sdk-wellknown package
  goals/centralize-redux-store/facts-result.json
  goals/centralize-redux-store/facts-review.json
  goals/centralize-redux-store/facts.md
  goals/centralize-redux-store/facts.meta.json
  goals/centralize-redux-store/goal.md
  goals/centralize-redux-store/interview-result.json
  goals/centralize-redux-store/interview.json
  goals/centralize-redux-store/plan.md
  packages/davinci-client/package.json
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/wellknown.api.ts
  packages/davinci-client/tsconfig.json
  packages/davinci-client/tsconfig.lib.json
  packages/journey-client/package.json
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/journey-client/src/lib/wellknown.api.ts
  packages/journey-client/tsconfig.lib.json
  packages/oidc-client/package.json
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/tsconfig.lib.json
  packages/sdk-effects/wellknown/eslint.config.mjs
  packages/sdk-effects/wellknown/package.json
  packages/sdk-effects/wellknown/src/index.ts
  packages/sdk-effects/wellknown/src/lib/wellknown.api.ts
  packages/sdk-effects/wellknown/tsconfig.json
  packages/sdk-effects/wellknown/tsconfig.lib.json
  packages/sdk-effects/wellknown/tsconfig.spec.json
  packages/sdk-effects/wellknown/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: docs, davinci-client

feat: centralize Redux stores — expose SdkStore from davinci/journey, inject into oidc
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/shared-store.test.ts
  packages/sdk-effects/wellknown/vite.config.ts
  packages/sdk-types/src/index.ts
  packages/sdk-types/src/lib/store.types.ts
Labels: docs, test

fix(davinci-client): replace remaining Either with Result for Effect v4
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/node.reducer.ts
Labels: none

fix(oidc): warn when requestMiddleware is silently dropped with sharedStore
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/shared-store.test.ts
Labels: test

fix(davinci-client): remove trailing newline, finish Either→Result migration in node.reducer
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/node.reducer.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
Labels: docs

chore: update-to-rc
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

test:
  - e2e/**/*
  - packages/**/*.test.ts
