Repository ForgeRock/ping-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, davinci-client, device-client, test

chore: refactor
  tools/user-scripts/package.json
  tools/user-scripts/src/index.ts
  tools/user-scripts/src/lib/schemas.ts
  tools/user-scripts/src/lib/user-scripts.test.ts
  tools/user-scripts/src/lib/user-scripts.ts
  tools/user-scripts/tsconfig.json
  tools/user-scripts/tsconfig.lib.json
  vitest.workspace.ts
Labels: none

chore: updates
  .changeset/config.json
  e2e/device-client-app/src/utils/index.ts
  nx.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scratchpad/logs/.064038e150928591711bbc599375c67ff8c2d941-audit.json
  scratchpad/logs/mcp-puppeteer-2025-07-18.log
  scratchpad/package.json
  scratchpad/src/main.ts
  scratchpad/tsconfig.json
  tools/user-scripts/.env.example
  tools/user-scripts/README.md
  tools/user-scripts/package.json
  tools/user-scripts/src/index.ts
  tools/user-scripts/src/lib/schemas.ts
  tools/user-scripts/src/lib/user-scripts.test.ts
  tools/user-scripts/src/lib/user-scripts.ts
  tools/user-scripts/tsconfig.json
  tools/user-scripts/tsconfig.lib.json
  tools/user-scripts/vitest.config.ts
Labels: docs, test

chore(protect): update signals sdk to 5.6.0
  e2e/protect-app/src/protect-marketplace.ts
  e2e/protect-app/src/protect-native.ts
  e2e/protect-suites/src/protect-native.test.ts
  packages/protect/src/lib/protect.types.ts
  packages/protect/src/lib/signals-sdk.js
Labels: test

chore(protect): update signals sdk to 5.6.0
  e2e/protect-app/src/protect-marketplace.ts
  e2e/protect-app/src/protect-native.ts
  e2e/protect-suites/src/protect-native.test.ts
  packages/protect/src/lib/protect.test.ts
  packages/protect/src/lib/protect.types.ts
  packages/protect/src/lib/signals-sdk.js
Labels: test

chore: update-routes
  e2e/mock-api-v2/src/errors/index.ts
  e2e/mock-api-v2/src/handlers/authorize.handler.ts
  e2e/mock-api-v2/src/handlers/capabilities.handler.ts
  e2e/mock-api-v2/src/handlers/custom-html-template.handler.ts
  e2e/mock-api-v2/src/handlers/revoke.handler.ts
  e2e/mock-api-v2/src/handlers/userinfo.handler.ts
  e2e/mock-api-v2/src/helpers/match.ts
  e2e/mock-api-v2/src/index.css
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/schemas/capabilities/capabilities.headers.schema.ts
  e2e/mock-api-v2/src/schemas/capabilities/capabilities.path.schema.ts
  e2e/mock-api-v2/src/schemas/capabilities/capabilities.query.schema.ts
  e2e/mock-api-v2/src/schemas/capabilities/capabilities.request.schema.ts
  e2e/mock-api-v2/src/schemas/capabilities/capabilities.response.schema.ts
  e2e/mock-api-v2/src/schemas/custom-html-template/custom-html-template-request.schema.ts
  e2e/mock-api-v2/src/schemas/custom-html-template/custom-html-template-response.schema.ts
  e2e/mock-api-v2/src/schemas/custom-html-template/form-data.schema.ts
  e2e/mock-api-v2/src/services/authorize.service.ts
  e2e/mock-api-v2/src/services/custom-html-template.service.ts
  e2e/mock-api-v2/src/services/mock-env-helpers/index.ts
  e2e/mock-api-v2/src/spec.ts
  e2e/mock-api-v2/src/types/index.ts
  eslint.config.mjs
Labels: test

feat(oidc-client): improving types and completing userinfo
  .changeset/public-cougars-sneeze.md
  e2e/oidc-app/index.html
  e2e/oidc-app/src/main.ts
  packages/davinci-client/src/lib/client.types.test-d.ts
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/error.types.test-d.ts
  packages/davinci-client/src/lib/error.types.ts
  packages/davinci-client/src/lib/node.slice.ts
  packages/davinci-client/src/lib/node.types.ts
  packages/oidc-client/src/lib/authorize.request.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/exchange.utils.ts
  packages/oidc-client/src/lib/oidc.api.ts
  packages/oidc-client/src/lib/oidc.api.utils.ts
  packages/sdk-effects/storage/src/lib/storage.effects.ts
  packages/sdk-types/src/index.ts
  packages/sdk-types/src/lib/error.types.ts
Labels: docs, test

chore(protect): update readme
  packages/protect/README.md
Labels: docs

chore(protect): update protect module and tests
  .changeset/config.json
  .changeset/small-rats-cut.md
  e2e/davinci-app/main.ts
  e2e/davinci-app/package.json
  e2e/protect-app/package.json
  e2e/protect-app/src/protect-marketplace.ts
  e2e/protect-app/src/protect-native.ts
  e2e/protect-suites/package.json
  e2e/protect-suites/playwright.config.ts
  package.json
  packages/protect/README.md
  packages/protect/package.json
  packages/protect/src/lib/protect.ts
  packages/protect/src/lib/protect.types.ts
  pnpm-lock.yaml
  tools/release/package.json
  tools/user-scripts/eslint.config.mjs
  tools/user-scripts/package.json
Labels: docs, test

chore: update-routes
  e2e/mock-api-v2/package.json
  e2e/mock-api-v2/src/errors/index.ts
  e2e/mock-api-v2/src/handlers/authorize.handler.ts
  e2e/mock-api-v2/src/handlers/capabilities.handler.ts
  e2e/mock-api-v2/src/handlers/custom-html-template.handler.ts
  e2e/mock-api-v2/src/handlers/revoke.handler.ts
  e2e/mock-api-v2/src/handlers/userinfo.handler.ts
  e2e/mock-api-v2/src/helpers/match.ts
  e2e/mock-api-v2/src/index.css
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/schemas/capabilities/capabilities.headers.schema.ts
  e2e/mock-api-v2/src/schemas/capabilities/capabilities.path.schema.ts
  e2e/mock-api-v2/src/schemas/capabilities/capabilities.query.schema.ts
  e2e/mock-api-v2/src/schemas/capabilities/capabilities.request.schema.ts
  e2e/mock-api-v2/src/schemas/capabilities/capabilities.response.schema.ts
  e2e/mock-api-v2/src/schemas/custom-html-template/custom-html-template-request.schema.ts
  e2e/mock-api-v2/src/schemas/custom-html-template/custom-html-template-response.schema.ts
  e2e/mock-api-v2/src/schemas/custom-html-template/form-data.schema.ts
  e2e/mock-api-v2/src/services/authorize.service.ts
  e2e/mock-api-v2/src/services/custom-html-template.service.ts
  e2e/mock-api-v2/src/services/mock-env-helpers/index.ts
  e2e/mock-api-v2/src/spec.ts
  e2e/mock-api-v2/src/types/index.ts
  eslint.config.mjs
  package.json
  packages/davinci-client/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: davinci-client, test

chore(protect): update readme
  packages/protect/README.md
Labels: docs

chore(protect): update signals sdk to 5.6.0
  e2e/protect-app/src/protect-marketplace.ts
  e2e/protect-app/src/protect-native.ts
  e2e/protect-suites/src/protect-native.test.ts
  packages/protect/src/lib/protect.test.ts
  packages/protect/src/lib/protect.types.ts
  packages/protect/src/lib/signals-sdk.js
Labels: test

chore(protect): update protect module and tests
  .changeset/config.json
  .changeset/small-rats-cut.md
  e2e/davinci-app/main.ts
  e2e/davinci-app/package.json
  e2e/protect-app/package.json
  e2e/protect-app/src/protect-marketplace.ts
  e2e/protect-app/src/protect-native.ts
  e2e/protect-suites/package.json
  e2e/protect-suites/playwright.config.ts
  package.json
  packages/protect/README.md
  packages/protect/package.json
  packages/protect/src/lib/protect.ts
  packages/protect/src/lib/protect.types.ts
  pnpm-lock.yaml
  tools/release/package.json
  tools/user-scripts/eslint.config.mjs
  tools/user-scripts/package.json
Labels: docs, test

test(oidc-client): add oidc client tests
  e2e/oidc-app/index.html
  e2e/oidc-app/src/assets/.gitkeep
  e2e/oidc-app/src/index.html
  e2e/oidc-app/src/index.ts
  e2e/oidc-app/src/main.ts
  e2e/oidc-app/src/ping-am/index.html
  e2e/oidc-app/src/ping-am/main.ts
  e2e/oidc-app/src/ping-one/index.html
  e2e/oidc-app/src/ping-one/main.ts
  e2e/oidc-app/src/styles.css
  e2e/oidc-app/src/utils/oidc-app.ts
  e2e/oidc-app/vite.config.ts
  e2e/oidc-suites/playwright.config.ts
  e2e/oidc-suites/src/example.spec.ts
  e2e/oidc-suites/src/login.spec.ts
  e2e/oidc-suites/src/logout.spec.ts
  e2e/oidc-suites/src/user.spec.ts
  e2e/oidc-suites/src/utils/demo-users.ts
Labels: test

feat(oidc-client): implement tokens.get
  .changeset/thin-nights-send.md
  e2e/oidc-app/index.html
  e2e/oidc-app/src/main.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/oidc-client/src/lib/authorize.request.ts
  packages/oidc-client/src/lib/authorize.request.types.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/client.types.ts
  packages/oidc-client/src/lib/config.types.ts
  packages/oidc-client/src/lib/exchange.request.ts
  packages/oidc-client/src/lib/exchange.types.ts
  packages/oidc-client/src/lib/exchange.utils.ts
  packages/oidc-client/src/lib/oidc.api.ts
  packages/oidc-client/src/lib/token.utils.ts
  packages/oidc-client/src/types.ts
  packages/sdk-effects/sdk-request-middleware/src/lib/request-mware.derived.ts
  packages/sdk-types/src/lib/error.types.ts
Labels: docs, test

chore: update-routes,fix-cookie,etc
  e2e/mock-api-v2/src/addStepCookie.openapi.ts
  e2e/mock-api-v2/src/handlers/capabilities.handler.ts
  e2e/mock-api-v2/src/middleware/CookieMiddleware.ts
  e2e/mock-api-v2/src/schemas/capabilities/capabilities.headers.schema.ts
  e2e/mock-api-v2/src/spec.ts
  tsconfig.base.json
Labels: test

chore: update-routes
  e2e/mock-api-v2/package.json
  e2e/mock-api-v2/src/errors/index.ts
  e2e/mock-api-v2/src/handlers/authorize.handler.ts
  e2e/mock-api-v2/src/handlers/capabilities.handler.ts
  e2e/mock-api-v2/src/handlers/custom-html-template.handler.ts
  e2e/mock-api-v2/src/handlers/revoke.handler.ts
  e2e/mock-api-v2/src/handlers/userinfo.handler.ts
  e2e/mock-api-v2/src/helpers/match.ts
  e2e/mock-api-v2/src/index.css
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/schemas/capabilities/capabilities.headers.schema.ts
  e2e/mock-api-v2/src/schemas/capabilities/capabilities.path.schema.ts
  e2e/mock-api-v2/src/schemas/capabilities/capabilities.query.schema.ts
  e2e/mock-api-v2/src/schemas/capabilities/capabilities.request.schema.ts
  e2e/mock-api-v2/src/schemas/capabilities/capabilities.response.schema.ts
  e2e/mock-api-v2/src/schemas/custom-html-template/custom-html-template-request.schema.ts
  e2e/mock-api-v2/src/schemas/custom-html-template/custom-html-template-response.schema.ts
  e2e/mock-api-v2/src/schemas/custom-html-template/form-data.schema.ts
  e2e/mock-api-v2/src/services/authorize.service.ts
  e2e/mock-api-v2/src/services/custom-html-template.service.ts
  e2e/mock-api-v2/src/services/mock-env-helpers/index.ts
  e2e/mock-api-v2/src/spec.ts
  e2e/mock-api-v2/src/types/index.ts
  eslint.config.mjs
  package.json
  packages/davinci-client/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: davinci-client, test

chore(protect): remove marketplace support
  e2e/protect-app/src/index.html
  e2e/protect-app/src/protect-marketplace.html
  e2e/protect-app/src/protect-marketplace.ts
  e2e/protect-app/vite.config.ts
  e2e/protect-suites/src/protect-native.test.ts
  packages/protect/package.json
  packages/protect/src/lib/protect.mock.data.ts
  packages/protect/src/lib/protect.test.ts
  packages/protect/src/lib/protect.ts
  packages/protect/src/lib/protect.types.ts
  packages/protect/tsconfig.lib.json
  pnpm-lock.yaml
Labels: test

chore(oidc-client): fix e2e text assertions
  e2e/oidc-suites/src/login.spec.ts
  e2e/oidc-suites/src/user.spec.ts
Labels: test

chore: upgrade vite to 6.3.4
  e2e/davinci-suites/src/phone-number-field.test.ts
  package.json
  pnpm-lock.yaml
  tools/user-scripts/package.json
Labels: test

chore: add typedoc
  contributing_docs/releases.md
  packages/protect/package.json
  packages/protect/typedoc.json
Labels: docs

chore: skip phone field test
  e2e/davinci-suites/src/form-fields.test.ts
Labels: test

feat: remove acr_values from capabilities endpoint
  e2e/mock-api-v2/src/handlers/authorize.handler.ts
  e2e/mock-api-v2/src/handlers/capabilities.handler.ts
  e2e/mock-api-v2/src/handlers/userinfo.handler.ts
  e2e/mock-api-v2/src/responses/custom-html-template/ping-protect-node.ts
  e2e/mock-api-v2/src/responses/index.ts
  e2e/mock-api-v2/src/spec.ts
Labels: test

chore: update-typechecking
  e2e/mock-api-v2/GEMINI.md
  e2e/mock-api-v2/src/handlers/authorize.handler.ts
  e2e/mock-api-v2/src/spec.ts
Labels: docs, test

chore(oidc-client): update user.info
  e2e/oidc-app/src/ping-am/index.html
  e2e/oidc-app/src/ping-one/index.html
  e2e/oidc-app/src/utils/oidc-app.ts
  e2e/oidc-suites/src/user.spec.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/oidc.api.ts
Labels: test

chore: make-openid-config-dynamic
  e2e/mock-api-v2/src/handlers/open-id-configuration.handler.ts
  e2e/mock-api-v2/src/responses/open-id-configuration.ts
Labels: test

feat(oidc-client): add token.revoke method
  .changeset/chubby-chairs-dream.md
  e2e/oidc-app/src/ping-am/index.html
  e2e/oidc-app/src/ping-one/index.html
  e2e/oidc-app/src/utils/oidc-app.ts
  e2e/oidc-suites/src/login.spec.ts
  e2e/oidc-suites/src/token.spec.ts
  e2e/oidc-suites/src/user.spec.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.types.ts
  packages/oidc-client/src/lib/logout.request.test.ts
  packages/oidc-client/src/lib/logout.request.ts
  packages/oidc-client/src/lib/oidc.api.ts
Labels: docs, test

chore(protect): remove marketplace support
  e2e/davinci-app/tsconfig.app.json
  e2e/davinci-app/tsconfig.json
  e2e/protect-app/src/index.html
  e2e/protect-app/src/protect-marketplace.html
  e2e/protect-app/src/protect-marketplace.ts
  e2e/protect-app/vite.config.ts
  e2e/protect-suites/src/protect-native.test.ts
  packages/protect/package.json
  packages/protect/src/lib/protect.mock.data.ts
  packages/protect/src/lib/protect.test.ts
  packages/protect/src/lib/protect.ts
  packages/protect/src/lib/protect.types.ts
  packages/protect/tsconfig.lib.json
  pnpm-lock.yaml
Labels: test

chore: update-capabilities-and-swagger
  e2e/mock-api-v2/src/addStepCookie.openapi.ts
  e2e/mock-api-v2/src/handlers/authorize.handler.ts
  e2e/mock-api-v2/src/handlers/capabilities.handler.ts
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/responses/index.ts
  e2e/mock-api-v2/src/schemas/capabilities/capabilities.cookies.schema.ts
  e2e/mock-api-v2/src/spec.ts
Labels: test

refactor(oidc-client): move authorize requests into rtk query
  .changeset/spotty-tires-admire.md
  e2e/oidc-app/package.json
  e2e/oidc-app/src/utils/oidc-app.ts
  e2e/oidc-suites/src/login.spec.ts
  packages/oidc-client/src/lib/authorize.request.ts
  packages/oidc-client/src/lib/authorize.request.types.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.types.ts
  packages/oidc-client/src/lib/logout.request.test.ts
  packages/oidc-client/src/lib/logout.request.ts
  packages/oidc-client/src/lib/oidc.api.ts
  packages/oidc-client/src/types.ts
Labels: docs, test

chore: update-typechecking
  e2e/mock-api-v2/GEMINI.md
  e2e/mock-api-v2/src/handlers/authorize.handler.ts
  e2e/mock-api-v2/src/spec.ts
Labels: docs, test

chore: make-openid-config-dynamic
  e2e/mock-api-v2/src/handlers/open-id-configuration.handler.ts
  e2e/mock-api-v2/src/responses/open-id-configuration.ts
Labels: test

chore: update-capabilities-and-swagger
  e2e/mock-api-v2/src/addStepCookie.openapi.ts
  e2e/mock-api-v2/src/handlers/authorize.handler.ts
  e2e/mock-api-v2/src/handlers/capabilities.handler.ts
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/responses/index.ts
  e2e/mock-api-v2/src/schemas/capabilities/capabilities.cookies.schema.ts
  e2e/mock-api-v2/src/spec.ts
Labels: test

feat: remove acr_values from capabilities endpoint
  e2e/mock-api-v2/src/handlers/authorize.handler.ts
  e2e/mock-api-v2/src/handlers/capabilities.handler.ts
  e2e/mock-api-v2/src/handlers/userinfo.handler.ts
  e2e/mock-api-v2/src/responses/custom-html-template/ping-protect-node.ts
  e2e/mock-api-v2/src/responses/index.ts
  e2e/mock-api-v2/src/spec.ts
Labels: test

chore: ignore-root-changeset
  .changeset/config.json
  .github/workflows/changesets-renovate.yml
Labels: CI

chore: update-ci-for-self-healing
  .github/workflows/ci.yml
Labels: CI

fix(e2e): make oidc logout test more robust
  .changeset/config.json
  e2e/oidc-suites/src/logout.spec.ts
Labels: test

feat(ci): cache playwright browsers and use .node-version
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/snapshot.yml
Labels: CI

chore(oidc-client): update user.info
  e2e/oidc-app/src/ping-am/index.html
  e2e/oidc-app/src/ping-one/index.html
  e2e/oidc-app/src/utils/oidc-app.ts
  e2e/oidc-suites/src/user.spec.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/oidc.api.ts
Labels: test

chore: add-continuous-publish
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  README.md
  package.json
  pnpm-lock.yaml
Labels: CI, docs

feat(oidc-client): implement force renew & revoke old tokens
  .changeset/every-bottles-sleep.md
  packages/oidc-client/src/lib/client.store.test.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.types.ts
Labels: docs, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

test:
  - e2e/**/*
  - packages/**/*.test.ts
