Repository ForgeRock/ping-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, davinci-client, device-client, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

test:
  - e2e/**/*
  - packages/**/*.test.ts

fix(davinci-client): replace remaining Either with Result for Effect v4
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/node.reducer.ts
Labels: none

chore: regenerate pnpm-lock.yaml after effect v4 migration
  pnpm-lock.yaml
Labels: none

fix(store): prevent double middleware registration in injectClient
  packages/sdk-effects/store/src/lib/store.effects.test.ts
  packages/sdk-effects/store/src/lib/store.effects.ts
Labels: test

docs: fix README inaccuracies in davinci, oidc, journey, and sdk-store
  packages/davinci-client/README.md
  packages/journey-client/README.md
  packages/oidc-client/README.md
  packages/oidc-client/src/types.ts
  packages/sdk-effects/store/README.md
Labels: docs, davinci-client

refactor(store): remove unused createStoreExtra export
  packages/sdk-effects/store/src/index.ts
  packages/sdk-effects/store/src/lib/store.utils.ts
  tasks/plans/2026-07-28-centralize-redux-stores-rework.md
Labels: docs

test(journey-client): cast journey() union return in baseUrl tests
  packages/davinci-client/api-report/davinci-client.api.md
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/src/lib/client.store.test.ts
  packages/oidc-client/api-report/oidc-client.api.md
Labels: docs, test

refactor(oidc-client): parse don't validate oidc() arguments
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.types.test.ts
  packages/oidc-client/src/lib/client.store.types.ts
  packages/oidc-client/src/types.ts
Labels: docs, test

fix(journey-client): validate config before attaching shared store
  packages/journey-client/src/lib/client.store.ts
Labels: none

fix(davinci-client): break circular import by extracting davinci.state.ts
  e2e/davinci-app/main.ts
  e2e/journey-app/main.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/client.store.test.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/davinci.state.ts
  packages/davinci-client/src/lib/wellknown.api.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/wellknown.api.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.types.test.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/sdk-effects/store/src/index.ts
  packages/sdk-effects/store/src/lib/store.effects.ts
Labels: docs, test

refactor(sdk): centralise invalid-store message and clientExtra defaults
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/journey.api.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/oidc.api.ts
  packages/sdk-effects/store/src/index.ts
  packages/sdk-effects/store/src/lib/store.effects.ts
  packages/sdk-effects/store/src/lib/store.utils.ts
Labels: none

fix(davinci-client): validate config before attaching shared store
  packages/davinci-client/src/lib/client.store.ts
Labels: none

fix(sdk-utilities): narrow serverConfig type in wellknown assertions
  packages/sdk-utilities/src/lib/config/config.test.ts
Labels: test

chore: fix-typecheck
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
Labels: docs

fix(device-client): adopt main's device-client-app rewrite and port to Effect v4 catch API
  e2e/device-client-app/package.json
  e2e/device-client-app/src/utils/index.ts
  e2e/device-client-app/tsconfig.app.json
  pnpm-lock.yaml
Labels: test

feat: add AM mediation check to WebAuthn and export storage config types
  .changeset/pink-jars-check.md
  e2e/journey-app/components/webauthn-step.ts
  interface_mapping.md
  packages/journey-client/api-report/journey-client.webauthn.api.md
  packages/journey-client/src/lib/webauthn/webauthn.mock.data.ts
  packages/journey-client/src/lib/webauthn/webauthn.test.ts
  packages/journey-client/src/lib/webauthn/webauthn.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/__tests__/types-reexport.typecheck.ts
  packages/oidc-client/src/types.ts
Labels: docs, test

chore(e2e): resolve TODO for the autofill e2e test
  e2e/journey-app/components/text-input.ts
  e2e/journey-app/components/validated-username.ts
  e2e/journey-app/components/webauthn-step.ts
  e2e/journey-suites/src/WEBAUTHN_TESTING.md
  e2e/journey-suites/src/webauthn-device.test.ts
  packages/device-client/api-report/device-client.api.md
  packages/device-client/api-report/device-client.types.api.md
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
Labels: docs, test

fix(journey-client): validate config before attaching shared store
  packages/journey-client/src/lib/client.store.ts
Labels: none

fix(davinci-client): validate config before attaching shared store
  packages/davinci-client/src/lib/client.store.ts
Labels: none

fix(store): prevent double middleware registration in injectClient
  packages/sdk-effects/store/src/lib/store.effects.test.ts
  packages/sdk-effects/store/src/lib/store.effects.ts
Labels: test

docs: fix README inaccuracies in davinci, oidc, journey, and sdk-store
  packages/davinci-client/README.md
  packages/journey-client/README.md
  packages/oidc-client/README.md
  packages/oidc-client/src/types.ts
  packages/sdk-effects/store/README.md
Labels: docs, davinci-client

refactor(store): remove unused createStoreExtra export
  packages/sdk-effects/store/src/index.ts
  packages/sdk-effects/store/src/lib/store.utils.ts
  tasks/plans/2026-07-28-centralize-redux-stores-rework.md
Labels: docs

test(journey-client): cast journey() union return in baseUrl tests
  packages/davinci-client/api-report/davinci-client.api.md
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/src/lib/client.store.test.ts
  packages/oidc-client/api-report/oidc-client.api.md
Labels: docs, test

fix(davinci-client): break circular import by extracting davinci.state.ts
  e2e/davinci-app/main.ts
  e2e/journey-app/main.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/client.store.test.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/davinci.state.ts
  packages/davinci-client/src/lib/wellknown.api.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/wellknown.api.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.types.test.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/sdk-effects/store/src/index.ts
  packages/sdk-effects/store/src/lib/store.effects.ts
Labels: docs, test

refactor(oidc-client): parse don't validate oidc() arguments
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.types.test.ts
  packages/oidc-client/src/lib/client.store.types.ts
  packages/oidc-client/src/types.ts
Labels: docs, test

refactor(sdk): centralise invalid-store message and clientExtra defaults
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/journey.api.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/oidc.api.ts
  packages/sdk-effects/store/src/index.ts
  packages/sdk-effects/store/src/lib/store.effects.ts
  packages/sdk-effects/store/src/lib/store.utils.ts
Labels: none

feat: add AM mediation check to WebAuthn and export storage config types (#762)
  .changeset/pink-jars-check.md
  e2e/journey-app/components/text-input.ts
  e2e/journey-app/components/validated-username.ts
  e2e/journey-app/components/webauthn-step.ts
  e2e/journey-suites/src/WEBAUTHN_TESTING.md
  e2e/journey-suites/src/webauthn-device.test.ts
  interface_mapping.md
  packages/device-client/api-report/device-client.api.md
  packages/device-client/api-report/device-client.types.api.md
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/api-report/journey-client.webauthn.api.md
  packages/journey-client/src/lib/webauthn/webauthn.mock.data.ts
  packages/journey-client/src/lib/webauthn/webauthn.test.ts
  packages/journey-client/src/lib/webauthn/webauthn.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/__tests__/types-reexport.typecheck.ts
  packages/oidc-client/src/types.ts
Labels: docs, test

chore: fix import order and normalize copyright headers
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/journey-client/api-report/journey-client._utils.api.md
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
Labels: docs

chore: fix copyright headers per review feedback
  e2e/davinci-suites/playwright.config.ts
  e2e/journey-suites/playwright.config.ts
  e2e/oidc-suites/playwright.config.ts
Labels: test

chore: sync lockfile and api reports post-rebase
  package.json
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/device-client/api-report/device-client.api.md
  packages/device-client/api-report/device-client.types.api.md
  packages/journey-client/api-report/journey-client._utils.api.md
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/api-report/journey-client.webauthn.api.md
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  pnpm-lock.yaml
Labels: docs

chore: version-packages
  .changeset/pink-jars-check.md
  packages/davinci-client/CHANGELOG.md
  packages/davinci-client/package.json
  packages/device-client/CHANGELOG.md
  packages/device-client/package.json
  packages/journey-client/CHANGELOG.md
  packages/journey-client/package.json
  packages/oidc-client/CHANGELOG.md
  packages/oidc-client/package.json
  packages/protect/CHANGELOG.md
  packages/protect/package.json
  packages/sdk-effects/iframe-manager/CHANGELOG.md
  packages/sdk-effects/iframe-manager/package.json
  packages/sdk-effects/logger/CHANGELOG.md
  packages/sdk-effects/logger/package.json
  packages/sdk-effects/oidc/CHANGELOG.md
  packages/sdk-effects/oidc/package.json
  packages/sdk-effects/sdk-request-middleware/CHANGELOG.md
  packages/sdk-effects/sdk-request-middleware/package.json
  packages/sdk-effects/storage/CHANGELOG.md
  packages/sdk-effects/storage/package.json
  packages/sdk-types/CHANGELOG.md
  packages/sdk-types/package.json
  packages/sdk-utilities/CHANGELOG.md
  packages/sdk-utilities/package.json
Labels: docs, davinci-client, device-client

chore: add-lsp-plugin \r https://github.com/microsoft/typescript-go
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: none

chore: pr-comments
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: none

chore: remove-package
  package.json
  pnpm-lock.yaml
Labels: none

chore(changeset): add changeset for recognize keyless sdk 3.2.0 bump
  .changeset/silly-pandas-bump.md
Labels: docs

fix(recognize-app): fix type errors after RecognizeError and RecognizeWebComponentEvent type updates
  e2e/recognize-app/src/index-callback-test.ts
Labels: test

fix(journey-client): use authentication service URL for Recognize callback
  packages/journey-client/src/lib/callbacks/ping-one-recognize-callback.ts
Labels: none

wip: feat(recognize): add PingOneRecognizeCallback and e2e callback test page
  e2e/recognize-app/src/index-callback-test.html
  e2e/recognize-app/src/index-callback-test.ts
  packages/journey-client/src/lib/callbacks/factory.ts
  packages/journey-client/src/lib/callbacks/ping-one-recognize-callback.ts
  packages/journey-client/src/types.ts
  packages/sdk-types/src/lib/am-callback.types.ts
Labels: test

test(journey-client): add unit tests for PingOneRecognizeCallback
  packages/journey-client/src/lib/callbacks/ping-one-recognize-callback.test.ts
Labels: test

refactor(journey-client): remove obsolete Recognize SDK config
  e2e/recognize-app/src/index-callback-test.ts
  packages/journey-client/src/lib/callbacks/ping-one-recognize-callback.ts
Labels: test

chore(changeset): add changeset for recognize callback support
  .changeset/recognize-callback-support.md
Labels: docs
