Repository ForgeRock/ping-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, davinci-client, device-client, test

feat(e2e): implement local https proxy for e2e testing
  .gitignore
  contributing_docs/README.md
  contributing_docs/local-https.md
  e2e/docker-compose.yml
  e2e/https-proxy/Dockerfile
  e2e/https-proxy/default.conf.template
  e2e/https-proxy/docker-entrypoint.d/10-generate-config.sh
  e2e/oidc-app/src/ping-am/main.ts
  e2e/oidc-app/src/ping-one/main.ts
  e2e/oidc-app/vite.config.ts
  package.json
  scripts/bootstrap-https.sh
Labels: docs, test

chore: fix-slackbot
  .github/workflows/publish.yml
Labels: CI

fix(github-actions): address review comments for publish workflows
  .github/actions/publish-beta/action.yml
  .github/actions/publish-release/action.yml
  .github/actions/setup/action.yml
Labels: CI

chore: refactor
  .github/actions/publish-beta/action.yml
  .github/actions/publish-release/action.yml
  .github/actions/setup/action.yml
  .github/workflows/publish.yml
Labels: CI

fix(ci): correct pnpm config setup and codecov token
  .github/actions/setup/action.yml
Labels: CI

chore: refactor
  .github/actions/setup/action.yml
  .github/workflows/publish.yml
Labels: CI

feat: add fork-safe CI workflow
  .github/workflows/ci-fork.yml
Labels: CI

chore: update-fork-flow
  .github/actions/publish-beta/action.yml
  .github/actions/setup/action.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Labels: CI

chore: update-ci.yml
  .github/actions/setup/action.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci.yml
  .github/workflows/mend.yml
  .github/workflows/publish.yml
  .node-version
  package.json
  packages/protect/README.md
  pnpm-lock.yaml
Labels: CI, docs

test: fix-test
  packages/journey-client/src/lib/journey.store.test.ts
Labels: test

chore: tasks-and-publish
  .github/workflows/publish.yml
  .zed/tasks.json
Labels: CI

chore: add-tasks
  .zed/tasks.json
Labels: none

test: add-virtual-authenticator-tests
  .zed/tasks.json
  e2e/journey-app/components/webauthn.ts
  e2e/journey-app/main.ts
  e2e/journey-app/package.json
  e2e/journey-app/server-configs.ts
  e2e/journey-app/tsconfig.app.json
  e2e/journey-app/tsconfig.json
  e2e/journey-suites/playwright.config.ts
  e2e/journey-suites/src/webauthn-username-password.test.ts
  e2e/journey-suites/src/webauthn-usernameless.test.ts
  e2e/journey-suites/src/webauthn.test.ts
  packages/journey-client/package.json
  packages/journey-client/src/lib/journey.store.ts
  pnpm-lock.yaml
Labels: test

feat(davinci-client): add fido module
  package.json
  packages/davinci-client/package.json
  packages/davinci-client/src/index.ts
  packages/davinci-client/src/lib/client.types.test-d.ts
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/fido/fido.ts
  packages/davinci-client/src/lib/fido/fido.utils.ts
  packages/sdk-types/src/lib/error.types.ts
  pnpm-lock.yaml
Labels: davinci-client

chore: pr-review
  .github/actions/publish-beta/action.yml
  .github/actions/publish-release/action.yml
  .github/actions/setup/action.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Labels: CI

fix(oidc-client): append query params when provided
  .changeset/vast-dogs-make.md
  packages/oidc-client/src/lib/authorize.request.ts
  packages/oidc-client/src/lib/authorize.request.utils.test.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/sdk-effects/oidc/src/lib/authorize.effects.ts
  packages/sdk-effects/oidc/src/lib/authorize.test.ts
Labels: docs, test

chore: update-nx
  package.json
  packages/journey-client/package.json
  packages/journey-client/src/lib/device/device-profile.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/user-scripts/vitest.config.ts
Labels: test

chore: fix-fork-ci
  .github/workflows/ci-fork.yml
  .zed/tasks.json
Labels: CI

chore: update-filename
  e2e/journey-suites/src/otp-register.test.ts
Labels: test

chore: update-unittest
  packages/sdk-effects/sdk-request-middleware/src/lib/request-mware.test.ts
Labels: test

chore: update-e2e
  e2e/journey-suites/src/otp-register.test.ts
Labels: test

feat(davinci-client): add fido module
  .changeset/sparkly-dragons-lay.md
  package.json
  packages/davinci-client/package.json
  packages/davinci-client/src/index.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.types.test-d.ts
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/fido/README.md
  packages/davinci-client/src/lib/fido/fido.ts
  packages/davinci-client/src/lib/fido/fido.utils.test.ts
  packages/davinci-client/src/lib/fido/fido.utils.ts
  packages/davinci-client/src/types.ts
  packages/sdk-types/src/lib/error.types.ts
  pnpm-lock.yaml
Labels: docs, davinci-client, test

chore: revert-tree-to-journey
  e2e/davinci-suites/src/phone-number-field.test.ts
  e2e/journey-app/main.ts
  e2e/journey-suites/src/choice-confirm-poll.test.ts
  e2e/journey-suites/src/custom-paths.test.ts
  e2e/journey-suites/src/device-profile.test.ts
  e2e/journey-suites/src/email-suspend.test.ts
  e2e/journey-suites/src/login.test.ts
  e2e/journey-suites/src/no-session.test.ts
  e2e/journey-suites/src/otp-register.test.ts
  e2e/journey-suites/src/protect.test.ts
  e2e/journey-suites/src/registration.test.ts
  e2e/journey-suites/src/request-middleware.test.ts
Labels: test

chore: type-exports
  packages/davinci-client/src/types.ts
  packages/device-client/package.json
  packages/device-client/src/lib/types/index.ts
  packages/journey-client/src/types.ts
  packages/oidc-client/src/types.ts
Labels: device-client

chore: update-types-updater-further
  e2e/davinci-app/components/multi-value.ts
  e2e/davinci-app/components/object-value.ts
  e2e/davinci-app/components/password.ts
  e2e/davinci-app/components/protect.ts
  e2e/davinci-app/components/single-value.ts
  e2e/davinci-app/components/text.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/updater-narrowing.types.test-d.ts
  packages/davinci-client/src/types.ts
Labels: test

chore(oidc-client): re-export necessary types
  e2e/oidc-app/package.json
  e2e/oidc-app/tsconfig.app.json
  e2e/oidc-app/tsconfig.json
  packages/oidc-client/README.md
  packages/oidc-client/src/lib/authorize.request.ts
  packages/oidc-client/src/lib/authorize.request.types.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/oidc-client/src/lib/authorize.slice.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/client.types.ts
  packages/oidc-client/src/lib/exchange.request.ts
  packages/oidc-client/src/lib/exchange.types.ts
  packages/oidc-client/src/lib/exchange.utils.test.ts
  packages/oidc-client/src/lib/exchange.utils.ts
  packages/oidc-client/src/lib/logout.request.test.ts
  packages/oidc-client/src/lib/logout.request.ts
  packages/oidc-client/src/lib/oidc.api.ts
  packages/oidc-client/src/lib/wellknown.api.ts
  packages/oidc-client/src/types.ts
  pnpm-lock.yaml
Labels: docs, test

chore: update-readme
  packages/davinci-client/README.md
  packages/device-client/README.md
  packages/journey-client/README.md
  packages/oidc-client/README.md
  packages/protect/README.md
  packages/sdk-effects/iframe-manager/README.md
  packages/sdk-effects/logger/README.md
  packages/sdk-effects/oidc/README.md
  packages/sdk-effects/sdk-request-middleware/README.md
  packages/sdk-effects/storage/README.md
  packages/sdk-types/README.md
  packages/sdk-utilities/README.md
Labels: docs, davinci-client, device-client

chore: update-npm-version-in-ci
  .github/workflows/publish.yml
  package.json
Labels: CI

chore: update-publish
  .github/workflows/publish.yml
  .npmrc
Labels: CI

fix(journey-client): add support for KBA allowUserDefinedQuestions flag
  .changeset/config.json
  .changeset/eleven-baboons-battle.md
  e2e/journey-app/components/kba-create.ts
  e2e/journey-suites/src/registration.test.ts
  packages/journey-client/src/lib/callbacks/kba-create-callback.test.ts
  packages/journey-client/src/lib/callbacks/kba-create-callback.ts
Labels: docs, test

chore: initial-jc-tests
  e2e/am-mock-api/src/app/routes.auth.js
  e2e/journey-app/components/ping-protect-evaluation.ts
  e2e/journey-app/components/ping-protect-initialize.ts
  e2e/journey-app/package.json
  e2e/journey-app/tsconfig.app.json
  e2e/journey-app/tsconfig.json
  e2e/journey-suites/src/protect.test.ts
  pnpm-lock.yaml
Labels: test

chore: add-jc-tests
  e2e/am-mock-api/src/app/response.webauthn.js
  e2e/am-mock-api/src/app/responses.js
  e2e/am-mock-api/src/app/routes.auth.js
  e2e/journey-app/components/device-profile.ts
  e2e/journey-app/components/ping-protect-evaluation.ts
  e2e/journey-suites/src/device-profile.test.ts
  e2e/journey-suites/src/protect.test.ts
  e2e/journey-suites/src/qr-code.test.ts
  e2e/journey-suites/src/recovery-codes.test.ts
Labels: test

chore: update-pw
  e2e/davinci-suites/src/utils/demo-user.ts
  e2e/oidc-suites/src/utils/demo-users.ts
Labels: test

chore: version-2-make-private-packages-public
  .changeset/config.json
  .changeset/hip-owls-rule.md
  packages/device-client/package.json
  packages/journey-client/package.json
Labels: docs, device-client

chore: updates
  e2e/journey-app/components/device-profile.ts
  e2e/journey-app/components/ping-protect-evaluation.ts
  e2e/journey-app/components/ping-protect-initialize.ts
  e2e/journey-app/components/qr-code.ts
  e2e/journey-app/components/recovery-codes.ts
  e2e/journey-app/main.ts
  e2e/journey-suites/src/device-profile.test.ts
  e2e/journey-suites/src/protect.test.ts
  e2e/journey-suites/src/qr-code.test.ts
  e2e/journey-suites/src/recovery-codes.test.ts
Labels: test

test(davinci-client): virtual authenticator e2e tests
  e2e/davinci-app/components/fido.ts
  e2e/davinci-app/main.ts
  e2e/davinci-suites/src/fido.test.ts
Labels: test

chore: pass-form-el
  e2e/journey-app/callback-map.ts
  e2e/journey-app/components/device-profile.ts
  e2e/journey-app/components/ping-protect-evaluation.ts
  e2e/journey-app/components/ping-protect-initialize.ts
  e2e/journey-app/main.ts
Labels: test

chore: version-2-make-private-packages-public
  .changeset/config.json
  .changeset/hip-owls-rule.md
  packages/device-client/package.json
  packages/journey-client/package.json
Labels: docs, device-client

fix: fido-errors
  .changeset/fido-error-codes.md
  packages/davinci-client/src/lib/davinci.utils.test.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/fido/fido.test.ts
  packages/davinci-client/src/lib/fido/fido.ts
  packages/davinci-client/src/lib/fido/fido.types.test.ts
  packages/davinci-client/src/lib/fido/fido.types.ts
  packages/davinci-client/src/types.ts
Labels: docs, test

chore(protect): remove note in readme
  packages/protect/README.md
Labels: docs

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

test:
  - e2e/**/*
  - packages/**/*.test.ts
