Repository ForgeRock/ping-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, davinci-client, device-client, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

test:
  - e2e/**/*
  - packages/**/*.test.ts

fix(e2e): serve apps directly in playwright webServer, bypass nx recursion
  e2e/davinci-suites/playwright.config.ts
  e2e/journey-suites/playwright.config.ts
Labels: test

fix(e2e): build am-mock-api before serving in journey webServer
  e2e/journey-suites/playwright.config.ts
Labels: test

fix(e2e): serve oidc-app directly in webServer, bypass nx recursion
  e2e/oidc-suites/playwright.config.ts
Labels: test

fix(e2e): build workspace deps before serving e2e apps
  e2e/davinci-suites/playwright.config.ts
  e2e/journey-suites/playwright.config.ts
  e2e/oidc-suites/playwright.config.ts
Labels: test

fix(ci): use renamed changesets/action v2.1.1 inputs
  .github/workflows/publish.yml
Labels: CI

fix(ci): pass GH token via changesets github-token input
  .github/workflows/publish.yml
Labels: CI

chore: version-packages
  .changeset/crisp-papers-serve.md
  .changeset/five-badgers-rule.md
  .changeset/perky-doodles-vanish.md
  .changeset/real-swans-leave.md
  .changeset/tender-signs-crash.md
  .changeset/thirty-badgers-lick.md
  packages/davinci-client/CHANGELOG.md
  packages/davinci-client/package.json
  packages/device-client/CHANGELOG.md
  packages/device-client/package.json
  packages/journey-client/CHANGELOG.md
  packages/journey-client/package.json
  packages/oidc-client/CHANGELOG.md
  packages/oidc-client/package.json
  packages/protect/CHANGELOG.md
  packages/protect/package.json
  packages/sdk-effects/iframe-manager/CHANGELOG.md
  packages/sdk-effects/iframe-manager/package.json
  packages/sdk-effects/logger/CHANGELOG.md
  packages/sdk-effects/logger/package.json
  packages/sdk-effects/oidc/CHANGELOG.md
  packages/sdk-effects/oidc/package.json
  packages/sdk-effects/sdk-request-middleware/CHANGELOG.md
  packages/sdk-effects/sdk-request-middleware/package.json
  packages/sdk-effects/storage/CHANGELOG.md
  packages/sdk-effects/storage/package.json
  packages/sdk-types/CHANGELOG.md
  packages/sdk-types/package.json
  packages/sdk-utilities/CHANGELOG.md
  packages/sdk-utilities/package.json
Labels: docs, davinci-client, device-client

test(journey-client): cast journey() union return in baseUrl tests
  packages/davinci-client/api-report/davinci-client.api.md
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/src/lib/client.store.test.ts
  packages/oidc-client/api-report/oidc-client.api.md
Labels: docs, test

fix(store): prevent double middleware registration in injectClient
  packages/sdk-effects/store/src/lib/store.effects.test.ts
  packages/sdk-effects/store/src/lib/store.effects.ts
Labels: test

fix(davinci-client): validate config before attaching shared store
  packages/davinci-client/src/lib/client.store.ts
Labels: none

refactor(sdk): centralise invalid-store message and clientExtra defaults
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/journey.api.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/oidc.api.ts
  packages/sdk-effects/store/src/index.ts
  packages/sdk-effects/store/src/lib/store.effects.ts
  packages/sdk-effects/store/src/lib/store.utils.ts
Labels: none

fix(davinci-client): break circular import by extracting davinci.state.ts
  e2e/davinci-app/main.ts
  e2e/journey-app/main.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/client.store.test.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/davinci.state.ts
  packages/davinci-client/src/lib/wellknown.api.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/wellknown.api.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.types.test.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/sdk-effects/store/src/index.ts
  packages/sdk-effects/store/src/lib/store.effects.ts
Labels: docs, test

refactor(store): remove unused createStoreExtra export
  packages/sdk-effects/store/src/index.ts
  packages/sdk-effects/store/src/lib/store.utils.ts
  tasks/plans/2026-07-28-centralize-redux-stores-rework.md
Labels: docs

docs: fix README inaccuracies in davinci, oidc, journey, and sdk-store
  packages/davinci-client/README.md
  packages/journey-client/README.md
  packages/oidc-client/README.md
  packages/oidc-client/src/types.ts
  packages/sdk-effects/store/README.md
Labels: docs, davinci-client

fix(journey-client): validate config before attaching shared store
  packages/journey-client/src/lib/client.store.ts
Labels: none

refactor(oidc-client): parse don't validate oidc() arguments
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.types.test.ts
  packages/oidc-client/src/lib/client.store.types.ts
  packages/oidc-client/src/types.ts
Labels: docs, test

chore: add-lsp-plugin \r https://github.com/microsoft/typescript-go
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: none

chore: pr-comments
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: none

chore: remove-package
  package.json
  pnpm-lock.yaml
Labels: none

chore(recognize): update Keyless SDK web components bundle to v3.2.0
  packages/recognize/src/lib/recognize-sdk/index.d.ts
  packages/recognize/src/lib/recognize-sdk/index.js
  packages/recognize/src/lib/recognize-sdk/pthreads/wasm.js
  packages/recognize/src/lib/recognize-sdk/pthreads/wasm.wasm
  packages/recognize/src/lib/recognize-sdk/wasm.data
  packages/recognize/src/lib/recognize-sdk/wasm.js
  packages/recognize/src/lib/recognize-sdk/wasm.wasm
Labels: none

feat(recognize): expose requestRecognitionFrame config option
  packages/recognize/src/lib/functions/set-attributes.ts
  packages/recognize/src/lib/recognize.types.ts
Labels: none

test(journey-client): add unit tests for PingOneRecognizeCallback
  packages/journey-client/src/lib/callbacks/ping-one-recognize-callback.test.ts
Labels: test

test(e2e): add journey e2e tests for PingOneRecognizeCallback
  e2e/am-mock-api/src/app/responses.js
  e2e/am-mock-api/src/app/routes.auth.js
  e2e/journey-app/callback-map.ts
  e2e/journey-app/components/index.ts
  e2e/journey-app/components/ping-one-recognize.ts
  e2e/journey-suites/src/recognize.test.ts
Labels: test

refactor(device-client): replace javascript-sdk dependency with sdk-types
  packages/device-client/api-report/device-client.api.md
  packages/device-client/api-report/device-client.types.api.md
  packages/device-client/package.json
  packages/device-client/src/lib/device.store.ts
  packages/device-client/src/lib/types/index.ts
  packages/device-client/tsconfig.lib.json
Labels: docs, device-client

refactor(e2e): migrate device-client-app to journey-client and oidc-client
  e2e/device-client-app/package.json
  e2e/device-client-app/src/utils/index.ts
  e2e/device-client-app/tsconfig.app.json
  pnpm-lock.yaml
Labels: test

chore(deps): override fast-uri and undici to patched versions
  pnpm-lock.yaml
Labels: none

refactor(device-client): address PR review feedback on types and effects
  .changeset/remove-js-sdk-from-device-client.md
  e2e/device-client-app/src/utils/index.ts
  packages/device-client/src/lib/device.store.ts
Labels: docs, test

chore: version-packages
  .changeset/crisp-papers-serve.md
  .changeset/five-badgers-rule.md
  .changeset/perky-doodles-vanish.md
  .changeset/real-swans-leave.md
  .changeset/remove-js-sdk-from-device-client.md
  .changeset/tender-signs-crash.md
  .changeset/thirty-badgers-lick.md
  packages/davinci-client/CHANGELOG.md
  packages/davinci-client/package.json
  packages/device-client/CHANGELOG.md
  packages/device-client/package.json
  packages/journey-client/CHANGELOG.md
  packages/journey-client/package.json
  packages/oidc-client/CHANGELOG.md
  packages/oidc-client/package.json
  packages/protect/CHANGELOG.md
  packages/protect/package.json
  packages/sdk-effects/iframe-manager/CHANGELOG.md
  packages/sdk-effects/iframe-manager/package.json
  packages/sdk-effects/logger/CHANGELOG.md
  packages/sdk-effects/logger/package.json
  packages/sdk-effects/oidc/CHANGELOG.md
  packages/sdk-effects/oidc/package.json
  packages/sdk-effects/sdk-request-middleware/CHANGELOG.md
  packages/sdk-effects/sdk-request-middleware/package.json
  packages/sdk-effects/storage/CHANGELOG.md
  packages/sdk-effects/storage/package.json
  packages/sdk-types/CHANGELOG.md
  packages/sdk-types/package.json
  packages/sdk-utilities/CHANGELOG.md
  packages/sdk-utilities/package.json
Labels: docs, davinci-client, device-client

chore: pr-comments
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: none

chore: add-lsp-plugin \r https://github.com/microsoft/typescript-go
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: none

chore: remove-package
  package.json
  pnpm-lock.yaml
Labels: none

refactor(davinci-client): simplify maxRepeatedCharacters and remove redundant casts
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/password-policy.rules.ts
Labels: none

feat: extract wellknownApi to shared @forgerock/sdk-wellknown package
  goals/centralize-redux-store/facts-result.json
  goals/centralize-redux-store/facts-review.json
  goals/centralize-redux-store/facts.md
  goals/centralize-redux-store/facts.meta.json
  goals/centralize-redux-store/goal.md
  goals/centralize-redux-store/interview-result.json
  goals/centralize-redux-store/interview.json
  goals/centralize-redux-store/plan.md
  packages/davinci-client/package.json
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/tsconfig.json
  packages/davinci-client/tsconfig.lib.json
  packages/journey-client/package.json
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/journey-client/src/lib/wellknown.api.ts
  packages/journey-client/tsconfig.lib.json
  packages/oidc-client/package.json
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/wellknown.api.ts
  packages/oidc-client/tsconfig.lib.json
  packages/sdk-effects/wellknown/eslint.config.mjs
  packages/sdk-effects/wellknown/package.json
  packages/sdk-effects/wellknown/src/index.ts
  packages/sdk-effects/wellknown/src/lib/wellknown.api.ts
  packages/sdk-effects/wellknown/tsconfig.json
  packages/sdk-effects/wellknown/tsconfig.lib.json
  packages/sdk-effects/wellknown/tsconfig.spec.json
  packages/sdk-effects/wellknown/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: docs, davinci-client

fix: replace Effect.sleep with direct setTimeout in polling effects
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/password-policy.rules.ts
  tools/user-scripts/src/lib/user-scripts.ts
Labels: none

feat: centralize Redux stores — expose SdkStore from davinci/journey, inject into oidc
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/shared-store.test.ts
  packages/sdk-effects/wellknown/vite.config.ts
  packages/sdk-types/src/index.ts
  packages/sdk-types/src/lib/store.types.ts
Labels: docs, test

fix(oidc): warn when requestMiddleware is silently dropped with sharedStore
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/shared-store.test.ts
Labels: test

chore: update-to-rc
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

fix(davinci-client): break circular import by extracting collector resolver
  goals/centralize-redux-store/facts-result.json
  goals/centralize-redux-store/facts-review.json
  goals/centralize-redux-store/facts.md
  goals/centralize-redux-store/facts.meta.json
  goals/centralize-redux-store/goal.md
  goals/centralize-redux-store/interview-result.json
  goals/centralize-redux-store/interview.json
  goals/centralize-redux-store/plan.md
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/collector.resolver.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
Labels: docs

fix(davinci-client): remove trailing newline, finish Either→Result migration in node.reducer
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/node.reducer.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
Labels: docs

fix(test): alias @forgerock/sdk-wellknown to source in vite configs
  packages/davinci-client/vite.config.ts
Labels: davinci-client
