Repository ForgeRock/ping-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, davinci-client, device-client, test

feat(sdk-utilities,logger,oidc,sdk-request-middleware,sdk-types): added-packages
  pnpm-lock.yaml
Labels: none

feat: storage-module
  .changeset/orange-baths-vanish.md
  nx.json
  package.json
  packages/davinci-client/src/lib/config.types.test-d.ts
  packages/davinci-client/src/lib/config.types.ts
  packages/effects/logger/package.json
  packages/effects/sdk-request-middleware/package.json
  packages/effects/storage/README.md
  packages/effects/storage/eslint.config.mjs
  packages/effects/storage/package.json
  packages/effects/storage/src/index.ts
  packages/effects/storage/src/lib/local-storage.test.ts
  packages/effects/storage/src/lib/local-storage.ts
  packages/effects/storage/src/lib/session-storage.test.ts
  packages/effects/storage/src/lib/session-storage.ts
  packages/effects/storage/src/lib/token-storage.test.ts
  packages/effects/storage/src/lib/token-storage.ts
  packages/effects/storage/tsconfig.json
  packages/effects/storage/tsconfig.lib.json
  packages/effects/storage/tsconfig.spec.json
  packages/effects/storage/vite.config.ts
  packages/sdk-types/src/index.ts
  packages/sdk-types/src/lib/legacy-config.types.ts
  packages/sdk-types/src/lib/tokens.derived.ts
  packages/sdk-types/src/lib/tokens.types.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: docs, test

chore: add-release-tool
  pnpm-lock.yaml
Labels: none

chore: rename-files
  packages/effects/storage/src/index.ts
  packages/effects/storage/src/lib/local-storage.effects.test.ts
  packages/effects/storage/src/lib/local-storage.effects.ts
  packages/effects/storage/src/lib/session-storage.effects.test.ts
  packages/effects/storage/src/lib/session-storage.effects.ts
  packages/effects/storage/src/lib/token-storage.effects.test.ts
  packages/effects/storage/src/lib/token-storage.effects.ts
Labels: test

feat(sdk-utilities,logger,oidc,sdk-request-middleware,sdk-types): added-packages
  packages/effects/logger/README.md
  packages/effects/logger/eslint.config.mjs
  packages/effects/logger/package.json
  packages/effects/logger/src/index.ts
  packages/effects/logger/src/lib/logger.effects.ts
  packages/effects/logger/src/lib/logger.test.ts
  packages/effects/logger/src/lib/logger.types.ts
  packages/effects/logger/tsconfig.json
  packages/effects/logger/tsconfig.lib.json
  packages/effects/logger/tsconfig.spec.json
  packages/effects/logger/typedoc.json
  packages/effects/logger/vite.config.ts
  packages/effects/oidc/README.md
  packages/effects/oidc/eslint.config.mjs
  packages/effects/oidc/package.json
  packages/effects/oidc/src/index.ts
  packages/effects/oidc/src/lib/authorize.effects.ts
  packages/effects/oidc/src/lib/authorize.types.ts
  packages/effects/oidc/src/lib/index.ts
  packages/effects/oidc/src/lib/state-pkce.effects.ts
  packages/effects/oidc/tsconfig.json
  packages/effects/oidc/tsconfig.lib.json
  packages/effects/oidc/tsconfig.spec.json
  packages/effects/oidc/typedoc.json
  packages/effects/oidc/vite.config.ts
  packages/effects/sdk-request-middleware/README.md
  packages/effects/sdk-request-middleware/eslint.config.mjs
  packages/effects/sdk-request-middleware/package.json
  packages/effects/sdk-request-middleware/src/index.ts
  packages/effects/sdk-request-middleware/src/lib/request-mware.derived.ts
  packages/effects/sdk-request-middleware/src/lib/request-mware.effects.ts
  packages/effects/sdk-request-middleware/src/lib/request-mware.mock.ts
  packages/effects/sdk-request-middleware/src/lib/request-mware.test.ts
  packages/effects/sdk-request-middleware/src/lib/request-mware.types.ts
  packages/effects/sdk-request-middleware/tsconfig.json
  packages/effects/sdk-request-middleware/tsconfig.lib.json
  packages/effects/sdk-request-middleware/tsconfig.spec.json
  packages/effects/sdk-request-middleware/typedoc.json
  packages/effects/sdk-request-middleware/vite.config.ts
  pnpm-lock.yaml
Labels: docs, test

feat(sdk-utilities,logger,oidc,sdk-request-middleware,sdk-types): added-packages
  pnpm-lock.yaml
Labels: none

chore: add-release-tool
  pnpm-lock.yaml
Labels: none

feat: storage-module
  .changeset/orange-baths-vanish.md
  nx.json
  package.json
  packages/davinci-client/src/lib/config.types.test-d.ts
  packages/davinci-client/src/lib/config.types.ts
  packages/effects/logger/package.json
  packages/effects/sdk-request-middleware/package.json
  packages/effects/storage/README.md
  packages/effects/storage/eslint.config.mjs
  packages/effects/storage/package.json
  packages/effects/storage/src/index.ts
  packages/effects/storage/src/lib/local-storage.test.ts
  packages/effects/storage/src/lib/local-storage.ts
  packages/effects/storage/src/lib/session-storage.test.ts
  packages/effects/storage/src/lib/session-storage.ts
  packages/effects/storage/src/lib/token-storage.test.ts
  packages/effects/storage/src/lib/token-storage.ts
  packages/effects/storage/tsconfig.json
  packages/effects/storage/tsconfig.lib.json
  packages/effects/storage/tsconfig.spec.json
  packages/effects/storage/vite.config.ts
  packages/sdk-types/src/index.ts
  packages/sdk-types/src/lib/legacy-config.types.ts
  packages/sdk-types/src/lib/tokens.derived.ts
  packages/sdk-types/src/lib/tokens.types.ts
  pnpm-lock.yaml
Labels: docs, test

chore: rename-files
  packages/effects/storage/src/index.ts
  packages/effects/storage/src/lib/local-storage.effects.test.ts
  packages/effects/storage/src/lib/local-storage.effects.ts
  packages/effects/storage/src/lib/session-storage.effects.test.ts
  packages/effects/storage/src/lib/session-storage.effects.ts
  packages/effects/storage/src/lib/token-storage.effects.test.ts
  packages/effects/storage/src/lib/token-storage.effects.ts
Labels: test

fix(davinci-client): event-name-and-formData
  .changeset/forty-parents-mix.md
  e2e/davinci-suites/src/form-fields.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.utils.test.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/mock-data/davinci.next.mock.ts
  packages/davinci-client/src/lib/mock-data/node.next.mock.ts
  packages/davinci-client/src/lib/node.slice.test.ts
  packages/davinci-client/src/lib/node.slice.ts
Labels: docs, test

feat(davinci-client): mfa otp field support
  .changeset/lemon-monkeys-fail.md
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
Labels: docs, test

feat: storage-module
  .changeset/orange-baths-vanish.md
  nx.json
  package.json
  packages/davinci-client/src/lib/config.types.test-d.ts
  packages/davinci-client/src/lib/config.types.ts
  packages/sdk-effects/storage/README.md
  packages/sdk-effects/storage/eslint.config.mjs
  packages/sdk-effects/storage/package.json
  packages/sdk-effects/storage/src/index.ts
  packages/sdk-effects/storage/src/lib/storage.effects.test.ts
  packages/sdk-effects/storage/src/lib/storage.effects.ts
  packages/sdk-effects/storage/tsconfig.json
  packages/sdk-effects/storage/tsconfig.lib.json
  packages/sdk-effects/storage/tsconfig.spec.json
  packages/sdk-effects/storage/vite.config.ts
  packages/sdk-types/src/lib/legacy-config.types.ts
  packages/sdk-types/src/lib/tokens.types.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: docs, test

chore: update-pr-review
  eslint.config.mjs
  packages/sdk-effects/storage/eslint.config.mjs
  packages/sdk-effects/storage/src/index.ts
  packages/sdk-effects/storage/src/lib/storage.effects.test.ts
  packages/sdk-effects/storage/src/lib/storage.effects.ts
  packages/sdk-effects/storage/vite.config.ts
  packages/sdk-types/src/lib/legacy-config.types.ts
  packages/sdk-types/src/lib/tokens.types.ts
Labels: test

chore: pr-comments
  packages/sdk-effects/iframe-manager/src/lib/iframe-manager.effects.ts
  packages/sdk-effects/storage/package.json
Labels: none

fix(davinci-client): update-type-misalignments
  .changeset/empty-nights-sniff.md
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/node.slice.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
  packages/davinci-client/src/types.test-d.ts
  packages/davinci-client/tsconfig.lib.json
  tools/release/commands/commands.ts
  tools/release/release.ts
Labels: docs, davinci-client

feat(iframe-manager): create-iframe-manager
  .changeset/honest-donuts-allow.md
  packages/sdk-effects/iframe-manager/README.md
  packages/sdk-effects/iframe-manager/eslint.config.mjs
  packages/sdk-effects/iframe-manager/package.json
  packages/sdk-effects/iframe-manager/src/index.ts
  packages/sdk-effects/iframe-manager/src/lib/iframe-manager.effects.ts
  packages/sdk-effects/iframe-manager/tsconfig.json
  packages/sdk-effects/iframe-manager/tsconfig.lib.json
  packages/sdk-effects/iframe-manager/tsconfig.spec.json
  packages/sdk-effects/iframe-manager/vite.config.ts
  packages/sdk-effects/oidc/src/lib/authorize.effects.ts
  packages/sdk-effects/storage/package.json
  packages/sdk-types/src/index.ts
  packages/sdk-types/src/lib/authorize.types.ts
  packages/sdk-types/src/lib/branded.types.ts
  packages/sdk-types/src/lib/config.types.ts
  packages/sdk-utilities/package.json
  packages/sdk-utilities/tsconfig.lib.json
  pnpm-lock.yaml
  tsconfig.json
  typedoc.json
Labels: docs

chore: change-format-again
  package.json
Labels: none

chore: update-doc-commands
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  eslint.config.mjs
  package.json
  packages/sdk-effects/iframe-manager/typedoc.json
  packages/sdk-effects/storage/typedoc.json
  typedoc.json
Labels: CI

feat(davinci-client): implement phone number field support
  .changeset/clever-chicken-smile.md
  .changeset/plain-books-beam.md
  e2e/davinci-app/components/label.ts
  e2e/davinci-app/components/object-value.ts
  e2e/davinci-app/main.ts
  e2e/davinci-app/server-configs.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
  packages/davinci-client/src/types.ts
Labels: docs, test

chore: add-e2e
  e2e/davinci-app/components/object-value.ts
  e2e/davinci-app/main.ts
  e2e/davinci-app/server-configs.ts
  e2e/davinci-suites/src/phone-number-field.test.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.types.test-d.ts
  packages/davinci-client/src/lib/client.types.ts
  packages/sdk-types/src/lib/authorize.types.ts
Labels: test

feat(protect): add protect package
  .changeset/config.json
  package.json
  packages/protect/README.md
  packages/protect/eslint.config.mjs
  packages/protect/package.json
  packages/protect/src/index.ts
  packages/protect/src/lib/protect.test.ts
  packages/protect/src/lib/protect.ts
  packages/protect/src/lib/protect.types.ts
  packages/protect/src/lib/signals-sdk.js
  packages/protect/src/types.ts
  packages/protect/tsconfig.json
  packages/protect/tsconfig.lib.json
  packages/protect/tsconfig.spec.json
  packages/protect/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: docs, test

chore(protect): try to fix signals build
  packages/protect/package.json
  packages/protect/tsconfig.lib.json
Labels: none

chore: save
  e2e/davinci-suites/src/mfa.test.ts
Labels: test

chore(protect): update JS doc comments and readme
  packages/protect/README.md
  packages/protect/src/lib/protect.ts
  packages/protect/src/lib/protect.types.ts
  packages/protect/tsconfig.lib.json
Labels: docs

chore: fix-formatting
  .github/workflows/publish.yml
  package.json
  pnpm-lock.yaml
Labels: CI

chore: remove-bad-step
  .github/workflows/publish.yml
  nx.json
Labels: CI

chore: add-tests
  e2e/davinci-app/components/object-value.ts
  e2e/davinci-app/components/single-value.ts
  e2e/davinci-suites/src/mfa.test.ts
Labels: test

fix: error-states-should-clear
  .changeset/cute-snails-burn.md
  packages/davinci-client/src/lib/node.slice.test.ts
  packages/davinci-client/src/lib/node.slice.ts
Labels: docs, test

fix: filter-undefined-keys
  .changeset/angry-bikes-stick.md
  packages/davinci-client/src/lib/davinci.utils.test.ts
  packages/davinci-client/src/lib/davinci.utils.ts
Labels: docs, test

feat: add-oidc-client-and-token-store
  .changeset/clever-garlics-listen.md
  nx.json
  packages/oidc-client/README.md
  packages/oidc-client/eslint.config.mjs
  packages/oidc-client/package.json
  packages/oidc-client/src/index.ts
  packages/oidc-client/src/lib/token-store.test-d.ts
  packages/oidc-client/src/lib/token-store.test.ts
  packages/oidc-client/src/lib/token-store.ts
  packages/oidc-client/tsconfig.json
  packages/oidc-client/tsconfig.lib.json
  packages/oidc-client/tsconfig.spec.json
  packages/oidc-client/typedoc.json
  packages/oidc-client/vite.config.ts
  packages/sdk-effects/oidc/tsconfig.json
  packages/sdk-effects/oidc/tsconfig.lib.json
  packages/sdk-effects/storage/src/lib/storage.effects.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: docs, test

chore: update-nx
  .github/instructions/nx.instructions.md
  migrations.json
  nx.json
  package.json
  pnpm-lock.yaml
Labels: CI, docs

chore: add-e2e-app
  .github/instructions/nx.instructions.md
  .gitignore
  e2e/oidc-app-e2e/eslint.config.mjs
  e2e/oidc-app-e2e/package.json
  e2e/oidc-app-e2e/playwright.config.ts
  e2e/oidc-app-e2e/src/example.spec.ts
  e2e/oidc-app-e2e/tsconfig.json
  e2e/oidc-app/.babelrc
  e2e/oidc-app/.swcrc
  e2e/oidc-app/eslint.config.mjs
  e2e/oidc-app/index.html
  e2e/oidc-app/package.json
  e2e/oidc-app/public/favicon.ico
  e2e/oidc-app/src/assets/.gitkeep
  e2e/oidc-app/src/main.ts
  e2e/oidc-app/src/styles.css
  e2e/oidc-app/tsconfig.app.json
  e2e/oidc-app/tsconfig.json
  e2e/oidc-app/vite.config.ts
  eslint.config.mjs
  nx.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Labels: CI, docs, test

feat(davinci-client): implement logger module
  .changeset/happy-dots-nail.md
  .changeset/wide-cooks-show.md
  .gitignore
  nx.json
  package.json
  packages/davinci-client/package.json
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/davinci.utils.test.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/node.slice.ts
  packages/davinci-client/tsconfig.json
  packages/davinci-client/tsconfig.lib.json
  packages/sdk-effects/logger/src/lib/logger.effects.ts
  packages/sdk-effects/logger/src/lib/logger.test.ts
  packages/sdk-effects/logger/src/lib/logger.types.ts
  pnpm-lock.yaml
Labels: docs, davinci-client, test

chore: rename-e2e-app
  e2e/oidc-app-e2e/package.json
  e2e/oidc-app/package.json
  e2e/oidc-suites/eslint.config.mjs
  e2e/oidc-suites/package.json
  e2e/oidc-suites/playwright.config.ts
  e2e/oidc-suites/src/example.spec.ts
  e2e/oidc-suites/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Labels: test

feat(protect): add protect package
  .changeset/config.json
  package.json
  packages/protect/README.md
  packages/protect/eslint.config.mjs
  packages/protect/package.json
  packages/protect/src/index.ts
  packages/protect/src/lib/protect.mock.data.ts
  packages/protect/src/lib/protect.test.ts
  packages/protect/src/lib/protect.ts
  packages/protect/src/lib/protect.types.ts
  packages/protect/src/lib/signals-sdk.js
  packages/protect/src/types.ts
  packages/protect/tsconfig.json
  packages/protect/tsconfig.lib.json
  packages/protect/tsconfig.spec.json
  packages/protect/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: docs, test

test(protect): add protect e2e tests
  e2e/protect-app/.gitignore
  e2e/protect-app/eslint.config.mjs
  e2e/protect-app/index.html
  e2e/protect-app/package.json
  e2e/protect-app/public/typescript.svg
  e2e/protect-app/public/vite.svg
  e2e/protect-app/src/main.ts
  e2e/protect-app/src/style.css
  e2e/protect-app/tsconfig.app.json
  e2e/protect-app/tsconfig.json
  e2e/protect-app/tsconfig.spec.json
  e2e/protect-app/vite-env.d.ts
  e2e/protect-app/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: test

chore: provenance-settings
  .github/workflows/snapshot.yml
  packages/device-client/package.json
  packages/oidc-client/package.json
  packages/sdk-effects/iframe-manager/package.json
  packages/sdk-types/package.json
Labels: CI, device-client

feat: add-davinci-client-type
  .changeset/deep-hornets-hunt.md
  e2e/davinci-app/main.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/types.test-d.ts
  packages/davinci-client/src/types.ts
Labels: docs, test

chore: fix-issues
  e2e/mock-api-v2/package.json
  nx.json
  packages/davinci-client/package.json
  packages/device-client/package.json
  packages/oidc-client/package.json
  packages/sdk-effects/iframe-manager/package.json
  packages/sdk-effects/iframe-manager/vite.config.ts
  packages/sdk-effects/logger/package.json
  packages/sdk-effects/oidc/package.json
  packages/sdk-effects/sdk-request-middleware/package.json
  packages/sdk-effects/storage/package.json
  packages/sdk-effects/storage/src/lib/storage.effects.test.ts
  packages/sdk-effects/storage/tsconfig.lib.json
  packages/sdk-types/package.json
  packages/sdk-types/vite.config.ts
  packages/sdk-utilities/package.json
  pnpm-lock.yaml
Labels: davinci-client, device-client, test

chore: add-patch-release-docs-and-workflow
  .github/workflows/ci.yml
  .github/workflows/patch-release.yml
  contributing_docs/releases.md
Labels: CI, docs

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

test:
  - e2e/**/*
  - packages/**/*.test.ts
