Repository ForgeRock/ping-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, davinci-client, device-client, test

test: add failing tests for validation error cases in reducer
  packages/davinci-client/src/lib/node.reducer.test.ts
Labels: test

chore: use-either-for-composable-branching
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.effects.test.ts
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/davinci.utils.test.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/updater-narrowing.types.test-d.ts
Labels: docs, test

chore: add-lsp-plugin \r https://github.com/microsoft/typescript-go
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: none

chore: pr-comments
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: none

chore: remove-package
  package.json
  pnpm-lock.yaml
Labels: none

feat: SSR compatibility for journey-client and oidc-client (PoC)
  .gitignore
  e2e/oidc-app/src/utils/oidc-app.ts
  e2e/svelte-app/package.json
  e2e/svelte-app/src/app.html
  e2e/svelte-app/src/lib/config.ts
  e2e/svelte-app/src/routes/+layout.svelte
  e2e/svelte-app/src/routes/+page.server.ts
  e2e/svelte-app/src/routes/+page.svelte
  e2e/svelte-app/src/routes/callback/+page.server.ts
  e2e/svelte-app/src/routes/callback/+page.svelte
  e2e/svelte-app/svelte.config.js
  e2e/svelte-app/tsconfig.json
  e2e/svelte-app/vite.config.ts
  nx.json
  packages/davinci-client/src/lib/davinci.api.ts
  packages/journey-client/src/index.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/config.types.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/exchange.request.ts
  packages/oidc-client/src/lib/exchange.utils.ts
  packages/oidc-client/src/types.ts
  packages/sdk-effects/oidc/src/lib/authorize.effects.ts
  packages/sdk-effects/oidc/src/lib/authorize.test.ts
  packages/sdk-effects/oidc/src/lib/state-pkce.effects.ts
  packages/sdk-effects/storage/src/lib/storage.effects.ts
  pnpm-lock.yaml
Labels: test

feat(ci): add StackBlitz templates for e2e apps on PR previews
  .github/workflows/ci.yml
Labels: CI

chore: update-paths
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/config.slice.test.ts
  packages/journey-client/src/lib/config.slice.ts
Labels: docs, test

feat(journey-client): add-create-journey-step-to-api
  .changeset/tender-signs-crash.md
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/src/index.ts
Labels: docs

fix(journey-client): add back baseUrl & export createJourneyStep for edge cases
  e2e/journey-app/services/delete-webauthn-device.ts
  packages/journey-client/api-report/journey-client._utils.api.md
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/package.json
  packages/journey-client/src/_utils.ts
  packages/journey-client/src/index.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/config.slice.test.ts
  packages/journey-client/src/lib/config.slice.ts
  packages/journey-client/src/lib/config.types.test-d.ts
  packages/journey-client/src/lib/config.types.ts
  packages/sdk-types/src/lib/config.types.ts
  packages/sdk-utilities/src/lib/config/config.test.ts
Labels: docs, test

fix: deploy PR dashboard to preview path, use relative base
  .github/workflows/ci.yml
  tools/coverage-matrix/vite.config.ts
Labels: CI

fix: exclude test fixtures from Nx project graph
  .nxignore
Labels: none

fix: deploy coverage dashboard from PR workflow
  .github/workflows/ci.yml
Labels: CI

chore: remove obsolete E2E coverage note from PR comment
  .github/workflows/ci.yml
Labels: CI

fix: move dashboard deploy to publish workflow, note E2E CI limitation
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Labels: CI

fix: restore missing pnpm catalog entries in lockfile
  pnpm-lock.yaml
Labels: none

fix: use workspace-relative paths for e2e coverage matching, dedupe PR comment
  .github/workflows/ci.yml
  tools/coverage-matrix/scripts/lib/merge.ts
Labels: CI

fix: write e2e coverage to project dirs for DTE artifact transfer
  e2e/shared/coverage-fixture.ts
  nx.json
  tools/coverage-matrix/scripts/__tests__/collect-e2e-coverage.test.ts
  tools/coverage-matrix/scripts/lib/collect-e2e-coverage.ts
Labels: test

fix (recognize): removed internal SDK license file
  packages/recognize/src/lib/recognize-sdk/LICENSE
Labels: none

test(recognize): rename recognize.spec.ts to recognize.test.ts
  packages/recognize/src/lib/recognize.test.ts
Labels: test

refactor(recognize): convert RecognizeError class and RecognizeErrorCode enum to plain objects
  packages/recognize/src/index.ts
  packages/recognize/src/lib/classes/recognize-error.ts
  packages/recognize/src/lib/defs/recognize-error-code.ts
  packages/recognize/src/lib/functions/recognize-error.ts
  packages/recognize/src/lib/recognize.test.ts
  packages/recognize/src/lib/recognize.ts
  packages/recognize/src/lib/recognize.types.ts
Labels: test

refactor(recognize): separate runtime and type exports into index.ts and types.ts
  packages/recognize/package.json
  packages/recognize/src/index.ts
  packages/recognize/src/types.ts
Labels: none

refactor(recognize): replace dispatch(type, detail) with typed event object
  packages/recognize/src/lib/recognize.ts
Labels: none

refactor(recognize): type CAMERA_ONLY_DISABLE_STEPS as KeylessComponentsStep[]
  packages/recognize/src/lib/defs/constants.ts
Labels: none

feat(davinci-client): add metadata collector (SDKS-5100)
  .changeset/real-swans-leave.md
  e2e/davinci-app/components/metadata.ts
  e2e/davinci-app/main.ts
  e2e/davinci-app/server-configs.ts
  e2e/davinci-suites/src/metadata.test.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.slice.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
Labels: docs, test

refactor(recognize): remove RecognizeWebComponent from public types
  packages/recognize/src/types.ts
Labels: none

refactor(recognize): extract setAttributes to standalone function
  packages/recognize/src/lib/functions/set-attributes.ts
  packages/recognize/src/lib/recognize.ts
Labels: none

fix(recognize): call aborter.abort() on dispose to remove DOM event listeners
  packages/recognize/src/lib/recognize.ts
Labels: none

chore(recognize): add MIT LICENSE file
  packages/recognize/LICENSE
Labels: none

fix(recognize): add missing ping copyright headers, small refactor to recognize errors and exported types
  packages/recognize/src/index.ts
  packages/recognize/src/lib/defs/constants.ts
  packages/recognize/src/lib/defs/recognize-error-code.ts
  packages/recognize/src/lib/defs/recognize-sdk-to-recognize-proxy-error-map.ts
  packages/recognize/src/lib/functions/create-recognize-error.ts
  packages/recognize/src/lib/functions/get-recognize-error-code-key.ts
  packages/recognize/src/lib/functions/recognize-error.ts
  packages/recognize/src/lib/functions/set-attributes.ts
  packages/recognize/src/lib/recognize.ts
  packages/recognize/src/lib/recognize.types.ts
  packages/recognize/src/types.ts
Labels: none

feat(davinci-client): send FIDO errors to DaVinci (SDKS-4480)
  .changeset/thirty-badgers-lick.md
  e2e/davinci-app/components/fido.ts
  e2e/davinci-suites/src/fido.test.ts
  e2e/davinci-suites/src/password-policy.test.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/davinci.utils.test.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/fido/fido.test.ts
  packages/davinci-client/src/lib/fido/fido.ts
  packages/davinci-client/src/lib/fido/fido.types.test.ts
  packages/davinci-client/src/lib/fido/fido.types.ts
  packages/davinci-client/src/lib/fido/fido.utils.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/types.ts
Labels: docs, test

refactor(recognize): type theme, localization, and logger config with @aracna/core types
  packages/recognize/package.json
  packages/recognize/src/lib/recognize.types.ts
  pnpm-lock.yaml
Labels: none

fix(recognize): remove unsafe cast in setAttributes and tighten config types
  packages/recognize/src/lib/functions/set-attributes.ts
  packages/recognize/src/lib/recognize.types.ts
Labels: none

fix(recognize): update tests to match plain-object RecognizeError shape
  packages/recognize/src/lib/recognize.test.ts
Labels: test

refactor(recognize): extract inline event handlers into named functions
  packages/recognize/src/lib/recognize.ts
Labels: none

feat(davinci-client): add metadata collector (SDKS-5100)
  .changeset/real-swans-leave.md
  e2e/davinci-app/components/metadata.ts
  e2e/davinci-app/main.ts
  e2e/davinci-app/server-configs.ts
  e2e/davinci-suites/src/metadata.test.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.slice.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
  packages/davinci-client/src/types.ts
Labels: docs, test

feat(davinci-client): add metadata collector (SDKS-5100)
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/api-report/davinci-client.utils.api.md
  packages/davinci-client/package.json
  packages/davinci-client/src/lib/utils/metadata.types.ts
  packages/davinci-client/src/lib/utils/metadata.utils.ts
  packages/davinci-client/src/lib/utils/utils.ts
  packages/davinci-client/src/lib/utils/utils.types.ts
  packages/davinci-client/src/types.ts
Labels: docs, davinci-client

feat(davinci-client): add metadata collector (SDKS-5100)
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.types.ts
Labels: docs

feat(davinci-client): send FIDO errors to DaVinci (SDKS-4480)
  .changeset/thirty-badgers-lick.md
  e2e/davinci-app/components/fido.ts
  e2e/davinci-suites/src/fido.test.ts
  e2e/davinci-suites/src/password-policy.test.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/davinci.utils.test.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/fido/fido.test.ts
  packages/davinci-client/src/lib/fido/fido.ts
  packages/davinci-client/src/lib/fido/fido.types.test.ts
  packages/davinci-client/src/lib/fido/fido.types.ts
  packages/davinci-client/src/lib/fido/fido.utils.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/types.ts
Labels: docs, test

fix(recognize): read err.error.* nested shape in e2e app error callback
  e2e/recognize-app/src/index.ts
Labels: test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

test:
  - e2e/**/*
  - packages/**/*.test.ts
