Repository ForgeRock/ping-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, davinci-client, device-client, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

test:
  - e2e/**/*
  - packages/**/*.test.ts

feat(davinci-client): add challenge polling support (SDKS-4687)
  e2e/davinci-app/components/polling.ts
  e2e/davinci-app/main.ts
  package.json
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.slice.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
  packages/davinci-client/src/types.ts
  packages/sdk-effects/sdk-request-middleware/src/lib/request-mware.derived.ts
Labels: test

feat(davinci-client): add continue polling support
  e2e/davinci-app/components/polling.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.slice.ts
  packages/davinci-client/src/types.ts
Labels: test

chore(davinci-client): refactor and improve polling
  .changeset/lucky-parts-own.md
  e2e/davinci-app/components/polling.ts
  e2e/davinci-app/main.ts
  packages/davinci-client/package.json
  packages/davinci-client/src/lib/client.store.effects.test.ts
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/davinci.utils.test.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/mock-data/node.poll.mock.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.slice.test.ts
  packages/davinci-client/src/lib/node.slice.ts
  packages/davinci-client/src/types.ts
  packages/davinci-client/tsconfig.json
  pnpm-lock.yaml
Labels: docs, davinci-client, test

fix(ci): disable lefthook in publish workflow
  .github/workflows/publish.yml
Labels: CI

chore: migrate-nx
  .gitignore
  nx.json
  package.json
  pnpm-lock.yaml
Labels: none

feat(davinci-client): add support for extension in PhoneNumberCollector (SDKS-4670)
  .changeset/long-singers-do.md
  e2e/davinci-app/components/object-value.ts
  e2e/davinci-suites/src/form-fields.test.ts
  packages/davinci-client/src/lib/collector.types.test-d.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
Labels: docs, test

fix(journey-client): create JourneyLoginFailure step and handle LoginFailure case
  .changeset/journey-loginfailure-on-error-code.md
  e2e/journey-app/main.ts
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
Labels: docs, test

fix(davinci-client): fix challenge polling headers
  packages/davinci-client/src/lib/davinci.api.ts
Labels: none

chore: fix-publish-steps
  .github/actions/publish-beta/action.yml
  .github/actions/publish-release/action.yml
  .github/workflows/publish.yml
  .gitignore
  package.json
Labels: CI

chore: add-lsp-plugin \r https://github.com/microsoft/typescript-go
  .gitignore
  .nxignore
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: none

fix: remove dead inputs.branch guard conditions from snapshot job
  .github/workflows/publish.yml
Labels: CI

fix(journey-client): create JourneyLoginFailure step and handle LoginFailure case
  .changeset/journey-loginfailure-on-error-code.md
  .changeset/whole-mangos-find.md
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/journey.api.ts
Labels: docs, test

feat: add-recognize-proxy
  e2e/recognize-app/eslint.config.mjs
  e2e/recognize-app/package.json
  e2e/recognize-app/src/index.html
  e2e/recognize-app/src/index.ts
  e2e/recognize-app/src/styles.css
  e2e/recognize-app/tsconfig.app.json
  e2e/recognize-app/tsconfig.json
  e2e/recognize-app/vite.config.ts
  packages/recognize/README.md
  packages/recognize/eslint.config.mjs
  packages/recognize/package.json
  packages/recognize/src/index.ts
  packages/recognize/src/lib/recognize-sdk/index.d.ts
  packages/recognize/src/lib/recognize-sdk/index.js
  packages/recognize/src/lib/recognize-sdk/pthreads/wasm.js
  packages/recognize/src/lib/recognize-sdk/pthreads/wasm.wasm
  packages/recognize/src/lib/recognize-sdk/wasm.data
  packages/recognize/src/lib/recognize-sdk/wasm.js
  packages/recognize/src/lib/recognize-sdk/wasm.wasm
  packages/recognize/src/lib/recognize.spec.ts
  packages/recognize/src/lib/recognize.ts
  packages/recognize/src/lib/recognize.types.ts
  packages/recognize/tsconfig.json
  packages/recognize/tsconfig.lib.json
  packages/recognize/tsconfig.spec.json
  packages/recognize/vitest.config.mts
  pnpm-lock.yaml
  tsconfig.json
Labels: docs, test

feat(journey-client): conditional mediation autofill passkey support for webauthn
  .changeset/ready-snakes-sell.md
  e2e/journey-app/components/text-input.ts
  e2e/journey-app/components/validated-username.ts
  e2e/journey-app/components/webauthn-step.ts
  e2e/journey-app/main.ts
  packages/journey-client/api-report/journey-client.webauthn.api.md
  packages/journey-client/src/lib/webauthn/webauthn.test.ts
  packages/journey-client/src/lib/webauthn/webauthn.ts
Labels: docs, test

chore: do-actual-poll
  e2e/davinci-app/components/polling.ts
  e2e/davinci-app/main.ts
  e2e/davinci-app/server-configs.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.types.ts
Labels: docs, test

chore(journey-client): fixing import order
  e2e/journey-app/main.ts
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/journey.api.ts
  packages/journey-client/src/lib/journey.utils.test.ts
  packages/journey-client/src/lib/journey.utils.ts
Labels: test

fix(journey-client): add query param handling back to resume function
  .changeset/good-numbers-act.md
  interface_mapping.md
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
Labels: docs, test

feat(davinci-client): support form agreements with AgreementCollector
  .changeset/silent-ideas-joke.md
  e2e/davinci-app/components/agreement.ts
  e2e/davinci-app/main.ts
  packages/davinci-client/src/lib/collector.types.test-d.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
Labels: docs, test

fix(journey-client): add query param handling back to resume function (#583)
  .changeset/good-numbers-act.md
  interface_mapping.md
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
Labels: docs, test

fix(journey-suites): use mock API for otp-register e2e test
  e2e/journey-suites/src/otp-register.test.ts
Labels: test

fix(davinci-suites): support two phone collectors in form-fields e2e
  e2e/davinci-app/components/object-value.ts
  e2e/davinci-suites/src/form-fields.test.ts
Labels: test

chore(davinci-client): add PhoneNumberExtensionCollector
  e2e/davinci-app/components/object-value.ts
  e2e/davinci-app/main.ts
  e2e/davinci-suites/src/form-fields.test.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/collector.types.test-d.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
Labels: test

chore(davinci-client): add PhoneNumberExtensionCollector
  e2e/davinci-app/components/object-value.ts
  e2e/davinci-app/main.ts
  e2e/davinci-suites/src/form-fields.test.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/collector.types.test-d.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
Labels: test

chore: satisfy eslint-plugin-package-json v0.91 rules
  e2e/mock-api-v2/package.json
  e2e/mock-api-v2/src/schemas/open-id-configuration/open-id-configuration-response.schema.ts
  packages/davinci-client/package.json
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/device-client/package.json
  packages/journey-client/package.json
  packages/oidc-client/package.json
  packages/protect/package.json
  packages/sdk-effects/iframe-manager/package.json
  packages/sdk-effects/logger/package.json
  packages/sdk-effects/oidc/package.json
  packages/sdk-effects/sdk-request-middleware/package.json
  packages/sdk-effects/storage/package.json
  packages/sdk-types/package.json
  packages/sdk-utilities/package.json
  tools/interface-mapping-validator/package.json
  tools/user-scripts/package.json
Labels: davinci-client, device-client, test

chore(davinci-client): regenerate api report for AgreementCollector
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
Labels: docs

feat: support signalsInitializationOptions pass-through config from AM
  .changeset/sdks-4726-signals-init-options.md
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/src/lib/callbacks/ping-protect-initialize-callback.test.ts
  packages/journey-client/src/lib/callbacks/ping-protect-initialize-callback.ts
  packages/protect/src/lib/protect.test.ts
  packages/protect/src/lib/protect.ts
  packages/protect/src/lib/protect.types.ts
  packages/protect/src/lib/signals-sdk.js
Labels: docs, test

feat(davinci-client): add RichContent types to ReadOnlyField
  .changeset/rich-content-links.md
  e2e/davinci-app/components/label.ts
  packages/davinci-client/src/lib/collector.richcontent.test-d.ts
  packages/davinci-client/src/lib/collector.types.test-d.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/mock-data/mock-form-fields.data.ts
Labels: docs, test

chore: nxignore .opensource dir and preserve richtext newlines
  .nxignore
  e2e/davinci-app/components/label.ts
Labels: test

chore: pr-comments
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/collector.richcontent.test-d.ts
  packages/davinci-client/src/lib/collector.types.test-d.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
Labels: docs, test

feat(davinci-client): add ValidatedPasswordCollector with embedded password policy
  .changeset/embed-password-policy-in-component.md
  e2e/davinci-app/components/password.ts
  e2e/davinci-app/main.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/collector.types.test-d.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/davinci.utils.test.ts
  packages/davinci-client/src/lib/mock-data/mock-form-fields.data.ts
  packages/davinci-client/src/lib/mock-data/node.next.mock.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
  packages/davinci-client/src/lib/password-policy.rules.ts
  packages/davinci-client/src/lib/updater-narrowing.types.test-d.ts
Labels: docs, test

feat(davinci-client): add support for extension in PhoneNumberCollector (SDKS-4670)
  .changeset/long-singers-do.md
  e2e/davinci-app/components/object-value.ts
  e2e/davinci-suites/src/form-fields.test.ts
  packages/davinci-client/src/lib/collector.types.test-d.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
Labels: docs, test

chore(davinci-client): add PhoneNumberExtensionCollector
  e2e/davinci-app/components/object-value.ts
  e2e/davinci-app/main.ts
  e2e/davinci-suites/src/form-fields.test.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/collector.types.test-d.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
Labels: test

feat(journey-client): automatic server based mediation and abort controller
  .changeset/ready-snakes-sell.md
  e2e/journey-app/components/webauthn-step.ts
  e2e/journey-suites/src/webauthn-device.test.ts
  packages/journey-client/api-report/journey-client.webauthn.api.md
  packages/journey-client/src/lib/webauthn/interfaces.ts
  packages/journey-client/src/lib/webauthn/webauthn.test.ts
  packages/journey-client/src/lib/webauthn/webauthn.ts
Labels: docs, test

feat(journey-client): webauthn conditional mediation autofill passkey support … (#581)
  .changeset/ready-snakes-sell.md
  e2e/journey-app/components/text-input.ts
  e2e/journey-app/components/validated-username.ts
  e2e/journey-app/components/webauthn-step.ts
  e2e/journey-app/main.ts
  e2e/journey-suites/src/webauthn-device.test.ts
  packages/journey-client/api-report/journey-client.webauthn.api.md
  packages/journey-client/src/lib/webauthn/interfaces.ts
  packages/journey-client/src/lib/webauthn/webauthn.test.ts
  packages/journey-client/src/lib/webauthn/webauthn.ts
Labels: docs, test

chore: update poll naming
  .changeset/lucky-parts-own.md
  e2e/davinci-app/components/polling.ts
  e2e/davinci-app/main.ts
  e2e/davinci-suites/src/phone-number-field.test.ts
  packages/davinci-client/src/lib/client.store.ts
Labels: docs, test

chore: pr revisions
  .changeset/long-singers-do.md
  .gitignore
  e2e/davinci-app/components/object-value.ts
  e2e/davinci-suites/src/form-fields.test.ts
  e2e/davinci-suites/src/phone-number-field.test.ts
  packages/davinci-client/src/lib/collector.types.test-d.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
Labels: docs, test

chore: treeshake-check-cli
  package.json
  packages/davinci-client/package.json
  packages/davinci-client/tsconfig.json
  packages/davinci-client/tsconfig.lib.json
  packages/device-client/package.json
  packages/device-client/tsconfig.lib.json
  packages/journey-client/package.json
  packages/journey-client/tsconfig.lib.json
  packages/oidc-client/package.json
  packages/oidc-client/tsconfig.lib.json
  packages/protect/package.json
  packages/protect/tsconfig.lib.json
  packages/sdk-effects/iframe-manager/package.json
  packages/sdk-effects/logger/package.json
  packages/sdk-effects/logger/tsconfig.lib.json
  packages/sdk-effects/oidc/package.json
  packages/sdk-effects/oidc/tsconfig.lib.json
  packages/sdk-effects/sdk-request-middleware/package.json
  packages/sdk-effects/sdk-request-middleware/tsconfig.lib.json
  packages/sdk-effects/storage/package.json
  packages/sdk-effects/storage/tsconfig.lib.json
  packages/sdk-types/package.json
  packages/sdk-types/tsconfig.lib.json
  packages/sdk-utilities/package.json
  packages/sdk-utilities/tsconfig.lib.json
  tools/treeshake-check/README.md
  tools/treeshake-check/eslint.config.mjs
  tools/treeshake-check/package.json
  tools/treeshake-check/src/index.ts
  tools/treeshake-check/src/lib/analysis.ts
  tools/treeshake-check/src/lib/schemas.ts
  tools/treeshake-check/src/lib/treeshake-check.ts
  tools/treeshake-check/tsconfig.json
  tools/treeshake-check/tsconfig.lib.json
  tools/treeshake-check/tsconfig.spec.json
  tools/treeshake-check/vitest.config.mts
Labels: docs, davinci-client, device-client

test(treeshake-check): add pure-function tests for analysis module
  pnpm-lock.yaml
  tools/treeshake-check/package.json
  tools/treeshake-check/src/lib/analysis.test.ts
Labels: none

test(treeshake-check): register addEqualityTesters and close test coverage gaps
  tools/treeshake-check/src/lib/analysis.test.ts
  tools/treeshake-check/src/test-setup.ts
  tools/treeshake-check/vitest.config.mts
Labels: none

chore: add-lsp-plugin \r https://github.com/microsoft/typescript-go
  .nxignore
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: none
