Repository ForgeRock/ping-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, davinci-client, device-client, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

test:
  - e2e/**/*
  - packages/**/*.test.ts

feat(davinci-client): send FIDO errors to DaVinci (SDKS-4480)
  .changeset/thirty-badgers-lick.md
  e2e/davinci-app/components/fido.ts
  e2e/davinci-suites/src/fido.test.ts
  e2e/davinci-suites/src/password-policy.test.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.types.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/davinci.utils.test.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/fido/fido.test.ts
  packages/davinci-client/src/lib/fido/fido.ts
  packages/davinci-client/src/lib/fido/fido.types.test.ts
  packages/davinci-client/src/lib/fido/fido.types.ts
  packages/davinci-client/src/lib/fido/fido.utils.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/types.ts
Labels: docs, test

chore(davinci-app): migrate FIDO and password policy tests to new env
  .changeset/thirty-badgers-lick.md
  e2e/davinci-app/server-configs.ts
  e2e/davinci-suites/src/fido.test.ts
  e2e/davinci-suites/src/password-policy.test.ts
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
Labels: docs, test

chore(davinci-client): remove logger from fido module
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/fido/fido.test.ts
  packages/davinci-client/src/lib/fido/fido.ts
  packages/davinci-client/src/lib/fido/fido.types.ts
Labels: docs, test

fix(davinci-client): validate config before attaching shared store
  packages/davinci-client/src/lib/client.store.ts
Labels: none

fix(journey-client): validate config before attaching shared store
  packages/journey-client/src/lib/client.store.ts
Labels: none

fix(store): prevent double middleware registration in injectClient
  packages/sdk-effects/store/src/lib/store.effects.test.ts
  packages/sdk-effects/store/src/lib/store.effects.ts
Labels: test

refactor(store): remove unused createStoreExtra export
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/sdk-effects/store/src/index.ts
  packages/sdk-effects/store/src/lib/store.utils.ts
  tasks/plans/2026-07-28-centralize-redux-stores-rework.md
Labels: docs

docs: fix README inaccuracies in davinci, oidc, journey, and sdk-store
  packages/davinci-client/README.md
  packages/journey-client/README.md
  packages/oidc-client/README.md
  packages/oidc-client/src/types.ts
  packages/sdk-effects/store/README.md
Labels: docs, davinci-client

refactor(sdk): centralise invalid-store message and clientExtra defaults
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/journey.api.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/oidc.api.ts
  packages/sdk-effects/store/src/index.ts
  packages/sdk-effects/store/src/lib/store.effects.ts
  packages/sdk-effects/store/src/lib/store.utils.ts
Labels: none

refactor(oidc-client): parse don't validate oidc() arguments
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.types.test.ts
  packages/oidc-client/src/lib/client.store.types.ts
  packages/oidc-client/src/types.ts
Labels: docs, test

chore: update-paths
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/journey-client/src/lib/client.store.test.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/config.slice.test.ts
  packages/journey-client/src/lib/config.slice.ts
Labels: docs, test

feat(journey-client): add-create-journey-step-to-api
  .changeset/tender-signs-crash.md
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/src/index.ts
Labels: docs

fix(journey-client): add back baseUrl & export createJourneyStep for edge cases
  e2e/journey-app/services/delete-webauthn-device.ts
  packages/journey-client/api-report/journey-client._utils.api.md
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/package.json
  packages/journey-client/src/_utils.ts
  packages/journey-client/src/index.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/config.slice.test.ts
  packages/journey-client/src/lib/config.slice.ts
  packages/journey-client/src/lib/config.types.test-d.ts
  packages/journey-client/src/lib/config.types.ts
  packages/sdk-types/src/lib/config.types.ts
  packages/sdk-utilities/src/lib/config/config.test.ts
Labels: docs, test

ci: add-fixtures-and-generate-bundles
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  e2e/bundle-check-app/fixtures/davinci-client-flow.ts
  e2e/bundle-check-app/fixtures/davinci-client.ts
  e2e/bundle-check-app/fixtures/device-client.ts
  e2e/bundle-check-app/fixtures/effect-barrel-option.ts
  e2e/bundle-check-app/fixtures/effect-subpath-option.ts
  e2e/bundle-check-app/fixtures/journey-client-device.ts
  e2e/bundle-check-app/fixtures/journey-client-policy.ts
  e2e/bundle-check-app/fixtures/journey-client-qr-code.ts
  e2e/bundle-check-app/fixtures/journey-client-recovery-codes.ts
  e2e/bundle-check-app/fixtures/journey-client-webauthn.ts
  e2e/bundle-check-app/fixtures/journey-client.ts
  e2e/bundle-check-app/fixtures/journey-full.ts
  e2e/bundle-check-app/fixtures/oidc-client-logout.ts
  e2e/bundle-check-app/fixtures/oidc-client-token.ts
  e2e/bundle-check-app/fixtures/oidc-client.ts
  e2e/bundle-check-app/fixtures/protect.ts
  e2e/bundle-check-app/fixtures/redirect.ts
  e2e/bundle-check-app/package.json
  e2e/bundle-check-app/src/bundle.ts
  e2e/bundle-check-app/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Labels: CI, test

test: add failing tests for validation error cases in reducer
  packages/davinci-client/src/lib/node.reducer.test.ts
Labels: test

fix(davinci-client): replace reducer throws with collector.error state writes
  packages/davinci-client/src/lib/node.reducer.ts
Labels: none

fix(davinci-client): clear stale collector error on successful value update
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
Labels: test

fix(davinci-client): remove try/catch from update dispatch — errors are now state
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
Labels: test

chore: use-either-for-composable-branching
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.effects.test.ts
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/davinci.utils.test.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/updater-narrowing.types.test-d.ts
Labels: docs, test

chore: add-lsp-plugin \r https://github.com/microsoft/typescript-go
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: none

chore: pr-comments
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: none

chore: remove-package
  package.json
  pnpm-lock.yaml
Labels: none

feat: SSR compatibility for journey-client and oidc-client (PoC)
  .gitignore
  e2e/oidc-app/src/utils/oidc-app.ts
  e2e/svelte-app/package.json
  e2e/svelte-app/src/app.html
  e2e/svelte-app/src/lib/config.ts
  e2e/svelte-app/src/routes/+layout.svelte
  e2e/svelte-app/src/routes/+page.server.ts
  e2e/svelte-app/src/routes/+page.svelte
  e2e/svelte-app/src/routes/callback/+page.server.ts
  e2e/svelte-app/src/routes/callback/+page.svelte
  e2e/svelte-app/svelte.config.js
  e2e/svelte-app/tsconfig.json
  e2e/svelte-app/vite.config.ts
  nx.json
  packages/davinci-client/src/lib/davinci.api.ts
  packages/journey-client/src/index.ts
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/config.types.ts
  packages/oidc-client/src/lib/authorize.request.utils.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/exchange.request.ts
  packages/oidc-client/src/lib/exchange.utils.ts
  packages/oidc-client/src/types.ts
  packages/sdk-effects/oidc/src/lib/authorize.effects.ts
  packages/sdk-effects/oidc/src/lib/authorize.test.ts
  packages/sdk-effects/oidc/src/lib/state-pkce.effects.ts
  packages/sdk-effects/storage/src/lib/storage.effects.ts
  pnpm-lock.yaml
Labels: test

fix: use workspace-relative paths for e2e coverage matching, dedupe PR comment
  .github/workflows/ci.yml
  tools/coverage-matrix/scripts/lib/merge.ts
Labels: CI

fix: exclude test fixtures from Nx project graph
  .nxignore
Labels: none

fix: restore missing pnpm catalog entries in lockfile
  pnpm-lock.yaml
Labels: none

chore: remove obsolete E2E coverage note from PR comment
  .github/workflows/ci.yml
Labels: CI

fix: move dashboard deploy to publish workflow, note E2E CI limitation
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Labels: CI

fix: write e2e coverage to project dirs for DTE artifact transfer
  e2e/shared/coverage-fixture.ts
  nx.json
  tools/coverage-matrix/scripts/__tests__/collect-e2e-coverage.test.ts
  tools/coverage-matrix/scripts/lib/collect-e2e-coverage.ts
Labels: test

fix: deploy coverage dashboard from PR workflow
  .github/workflows/ci.yml
Labels: CI

fix: deploy PR dashboard to preview path, use relative base
  .github/workflows/ci.yml
  tools/coverage-matrix/vite.config.ts
Labels: CI

feat(ci): add StackBlitz templates for e2e apps on PR previews
  .github/workflows/ci.yml
Labels: CI

chore(davinci-client): add fido entry point
  packages/davinci-client/api-report/davinci-client.fido.api.md
  packages/davinci-client/package.json
  packages/davinci-client/src/index.ts
  packages/davinci-client/src/lib/fido/fido.types.ts
  packages/davinci-client/src/lib/fido/index.ts
Labels: docs, davinci-client

chore: add explicit client exports in default entry points
  package.json
  packages/device-client/src/index.ts
  packages/oidc-client/src/index.ts
Labels: none

wip: feat(recognize): add PingOneRecognizeCallback and e2e callback test page
  e2e/recognize-app/src/index-callback-test.html
  e2e/recognize-app/src/index-callback-test.ts
  packages/journey-client/src/lib/callbacks/factory.ts
  packages/journey-client/src/lib/callbacks/ping-one-recognize-callback.ts
  packages/journey-client/src/types.ts
  packages/sdk-types/src/lib/am-callback.types.ts
Labels: test

refactor(recognize): rename RecognizeErrorCode to RECOGNIZE_ERROR_CODE
  packages/recognize/src/index.ts
  packages/recognize/src/lib/defs/recognize-error-code.ts
  packages/recognize/src/lib/defs/recognize-sdk-to-recognize-proxy-error-map.ts
  packages/recognize/src/lib/functions/get-recognize-error-code-key.ts
  packages/recognize/src/lib/recognize.test.ts
  packages/recognize/src/lib/recognize.ts
  packages/recognize/src/lib/recognize.types.ts
Labels: test

feat: centralize Redux stores — expose SdkStore from davinci/journey, inject into oidc
  packages/davinci-client/api-report/davinci-client.api.md
  packages/davinci-client/api-report/davinci-client.types.api.md
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/journey-client/api-report/journey-client.api.md
  packages/journey-client/api-report/journey-client.types.api.md
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/oidc-client/api-report/oidc-client.api.md
  packages/oidc-client/api-report/oidc-client.types.api.md
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/shared-store.test.ts
  packages/sdk-effects/wellknown/vite.config.ts
  packages/sdk-types/src/index.ts
  packages/sdk-types/src/lib/store.types.ts
Labels: docs, test

feat: extract wellknownApi to shared @forgerock/sdk-wellknown package
  goals/centralize-redux-store/facts-result.json
  goals/centralize-redux-store/facts-review.json
  goals/centralize-redux-store/facts.md
  goals/centralize-redux-store/facts.meta.json
  goals/centralize-redux-store/goal.md
  goals/centralize-redux-store/interview-result.json
  goals/centralize-redux-store/interview.json
  goals/centralize-redux-store/plan.md
  packages/davinci-client/package.json
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/tsconfig.json
  packages/davinci-client/tsconfig.lib.json
  packages/journey-client/package.json
  packages/journey-client/src/lib/client.store.ts
  packages/journey-client/src/lib/client.store.utils.ts
  packages/journey-client/src/lib/wellknown.api.ts
  packages/journey-client/tsconfig.lib.json
  packages/oidc-client/package.json
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.store.utils.ts
  packages/oidc-client/src/lib/wellknown.api.ts
  packages/oidc-client/tsconfig.lib.json
  packages/sdk-effects/wellknown/eslint.config.mjs
  packages/sdk-effects/wellknown/package.json
  packages/sdk-effects/wellknown/src/index.ts
  packages/sdk-effects/wellknown/src/lib/wellknown.api.ts
  packages/sdk-effects/wellknown/tsconfig.json
  packages/sdk-effects/wellknown/tsconfig.lib.json
  packages/sdk-effects/wellknown/tsconfig.spec.json
  packages/sdk-effects/wellknown/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: docs, davinci-client

fix(oidc): warn when requestMiddleware is silently dropped with sharedStore
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/shared-store.test.ts
Labels: test

fix: replace Effect.sleep with direct setTimeout in polling effects
  packages/davinci-client/src/lib/client.store.effects.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/password-policy.rules.ts
  tools/user-scripts/src/lib/user-scripts.ts
Labels: none
