Repository ForgeRock/ping-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, davinci-client, device-client, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

test:
  - e2e/**/*
  - packages/**/*.test.ts

feat(davinci-client): support prefilled phone field
  .changeset/shiny-crabs-wish.md
  e2e/davinci-app/components/object-value.ts
  e2e/davinci-suites/src/form-fields.test.ts
  e2e/davinci-suites/src/phone-number-field.test.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/node.reducer.ts
Labels: docs, test

feat(oidc-client): add token.revoke method
  .changeset/chubby-chairs-dream.md
  e2e/oidc-app/src/ping-am/index.html
  e2e/oidc-app/src/ping-one/index.html
  e2e/oidc-app/src/utils/oidc-app.ts
  e2e/oidc-suites/src/login.spec.ts
  e2e/oidc-suites/src/token.spec.ts
  e2e/oidc-suites/src/user.spec.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.types.ts
  packages/oidc-client/src/lib/logout.request.test.ts
  packages/oidc-client/src/lib/logout.request.ts
  packages/oidc-client/src/lib/oidc.api.ts
Labels: docs, test

fix(davinci-client): add validation props to collectors
  .changeset/fine-windows-search.md
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
Labels: docs, test

ci: update-code-cov
  .github/workflows/ci.yml
  codecov.yml
  packages/davinci-client/vite.config.ts
  packages/device-client/vite.config.ts
  packages/journey-client/vite.config.ts
  packages/oidc-client/vite.config.ts
  packages/protect/vite.config.ts
  packages/sdk-effects/iframe-manager/vite.config.ts
  packages/sdk-effects/logger/vite.config.ts
  packages/sdk-effects/oidc/vite.config.ts
  packages/sdk-effects/sdk-request-middleware/vite.config.ts
  packages/sdk-effects/storage/vite.config.ts
  packages/sdk-types/vite.config.ts
  packages/sdk-utilities/vite.config.ts
Labels: CI, davinci-client, device-client

refactor(journey-client): rename frstep to journeystep and frcallback to journeycallback
  packages/journey-client/README.md
  packages/journey-client/src/lib/callbacks/attribute-input-callback.ts
  packages/journey-client/src/lib/callbacks/choice-callback.ts
  packages/journey-client/src/lib/callbacks/confirmation-callback.ts
  packages/journey-client/src/lib/callbacks/device-profile-callback.ts
  packages/journey-client/src/lib/callbacks/factory.test.ts
  packages/journey-client/src/lib/callbacks/factory.ts
  packages/journey-client/src/lib/callbacks/fr-auth-callback.test.ts
  packages/journey-client/src/lib/callbacks/hidden-value-callback.ts
  packages/journey-client/src/lib/callbacks/index.ts
  packages/journey-client/src/lib/callbacks/kba-create-callback.ts
  packages/journey-client/src/lib/callbacks/metadata-callback.ts
  packages/journey-client/src/lib/callbacks/name-callback.ts
  packages/journey-client/src/lib/callbacks/password-callback.ts
  packages/journey-client/src/lib/callbacks/ping-protect-evaluation-callback.ts
  packages/journey-client/src/lib/callbacks/ping-protect-initialize-callback.ts
  packages/journey-client/src/lib/callbacks/polling-wait-callback.ts
  packages/journey-client/src/lib/callbacks/recaptcha-callback.ts
  packages/journey-client/src/lib/callbacks/recaptcha-enterprise-callback.ts
  packages/journey-client/src/lib/callbacks/redirect-callback.ts
  packages/journey-client/src/lib/callbacks/select-idp-callback.ts
  packages/journey-client/src/lib/callbacks/terms-and-conditions-callback.ts
  packages/journey-client/src/lib/callbacks/text-input-callback.ts
  packages/journey-client/src/lib/callbacks/text-output-callback.ts
  packages/journey-client/src/lib/callbacks/validated-create-password-callback.ts
  packages/journey-client/src/lib/callbacks/validated-create-username-callback.ts
  packages/journey-client/src/lib/fr-qrcode/fr-qrcode.test.ts
  packages/journey-client/src/lib/fr-qrcode/fr-qrcode.ts
  packages/journey-client/src/lib/fr-recovery-codes/index.ts
  packages/journey-client/src/lib/fr-recovery-codes/recovery-codes.test.ts
  packages/journey-client/src/lib/fr-webauthn/fr-webauthn.test.ts
  packages/journey-client/src/lib/fr-webauthn/index.ts
  packages/journey-client/src/lib/journey-client.test.ts
  packages/journey-client/src/lib/journey-client.ts
  packages/journey-client/src/lib/journey-step.test.ts
  packages/journey-client/src/lib/journey-step.ts
Labels: docs, test

refactor(journey-client): rename fr-webauthn to journey-webauthn and other fr prefixes to journey
  packages/journey-client/src/lib/fr-recovery-codes/index.ts
  packages/journey-client/src/lib/fr-recovery-codes/recovery-codes.test.ts
  packages/journey-client/src/lib/journey-client.ts
  packages/journey-client/src/lib/journey-login-failure.ts
  packages/journey-client/src/lib/journey-login-success.ts
  packages/journey-client/src/lib/journey-qrcode/journey-qr-code.mock.data.ts
  packages/journey-client/src/lib/journey-qrcode/journey-qrcode.test.ts
  packages/journey-client/src/lib/journey-qrcode/journey-qrcode.ts
  packages/journey-client/src/lib/journey-webauthn/enums.ts
  packages/journey-client/src/lib/journey-webauthn/helpers.mock.data.ts
  packages/journey-client/src/lib/journey-webauthn/helpers.test.ts
  packages/journey-client/src/lib/journey-webauthn/helpers.ts
  packages/journey-client/src/lib/journey-webauthn/index.ts
  packages/journey-client/src/lib/journey-webauthn/interfaces.ts
  packages/journey-client/src/lib/journey-webauthn/journey-webauthn.mock.data.ts
  packages/journey-client/src/lib/journey-webauthn/journey-webauthn.test.ts
  packages/journey-client/src/lib/journey-webauthn/script-parser.test.ts
  packages/journey-client/src/lib/journey-webauthn/script-parser.ts
  packages/journey-client/src/lib/journey-webauthn/script-text.mock.data.ts
Labels: test

revert(journey-client): revert header changes
  packages/journey-client/src/lib/callbacks/device-profile-callback.ts
  packages/journey-client/src/lib/callbacks/validated-create-username-callback.ts
Labels: none

refactor(journey-client): rename fr-device, fr-policy, and fr-recovery-codes modules
  packages/journey-client/src/lib/journey-client.test.ts
  packages/journey-client/src/lib/journey-device/defaults.ts
  packages/journey-client/src/lib/journey-device/device-profile.mock.data.ts
  packages/journey-client/src/lib/journey-device/device-profile.test.ts
  packages/journey-client/src/lib/journey-device/index.ts
  packages/journey-client/src/lib/journey-device/interfaces.ts
  packages/journey-client/src/lib/journey-device/sample-profile.json
  packages/journey-client/src/lib/journey-login-failure.ts
  packages/journey-client/src/lib/journey-policy/index.ts
  packages/journey-client/src/lib/journey-policy/interfaces.ts
  packages/journey-client/src/lib/journey-policy/journey-policy.test.ts
  packages/journey-client/src/lib/journey-policy/message-creator.ts
  packages/journey-client/src/lib/recovery-codes/index.ts
  packages/journey-client/src/lib/recovery-codes/recovery-codes.test.ts
  packages/journey-client/src/lib/recovery-codes/script-parser.test.ts
  packages/journey-client/src/lib/recovery-codes/script-parser.ts
  packages/journey-client/src/lib/recovery-codes/script-text.mock.data.ts
  packages/sdk-effects/oidc/src/lib/state-pkce.effects.ts
  packages/sdk-types/src/lib/legacy-config.types.ts
Labels: test

test(sdk-oidc): add tests to oidc effects package
  .changeset/icy-olives-make.md
  packages/sdk-effects/oidc/src/index.ts
  packages/sdk-effects/oidc/src/lib/authorize.test.ts
  packages/sdk-effects/oidc/src/lib/index.ts
  packages/sdk-effects/oidc/src/lib/state-pkce.effects.ts
  packages/sdk-effects/oidc/src/lib/state-pkce.test.ts
Labels: docs, test

fix(davinci-client): add validation props to collectors
  .changeset/fine-windows-search.md
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
Labels: docs, test

refactor(journey-client): rename fr-device, fr-policy, and fr-recovery-codes modules
  eslint.config.mjs
  packages/journey-client/src/lib/fr-device/index.ts
  packages/journey-client/src/lib/journey-client.test.ts
  packages/journey-client/src/lib/journey-device/defaults.ts
  packages/journey-client/src/lib/journey-device/device-profile.mock.data.ts
  packages/journey-client/src/lib/journey-device/device-profile.test.ts
  packages/journey-client/src/lib/journey-device/index.ts
  packages/journey-client/src/lib/journey-device/interfaces.ts
  packages/journey-client/src/lib/journey-device/sample-profile.json
  packages/journey-client/src/lib/journey-login-failure.ts
  packages/journey-client/src/lib/journey-policy/index.ts
  packages/journey-client/src/lib/journey-policy/interfaces.ts
  packages/journey-client/src/lib/journey-policy/journey-policy.test.ts
  packages/journey-client/src/lib/journey-policy/message-creator.ts
  packages/journey-client/src/lib/recovery-codes/index.ts
  packages/journey-client/src/lib/recovery-codes/recovery-codes.test.ts
  packages/journey-client/src/lib/recovery-codes/script-parser.test.ts
  packages/journey-client/src/lib/recovery-codes/script-parser.ts
  packages/journey-client/src/lib/recovery-codes/script-text.mock.data.ts
  packages/sdk-effects/oidc/src/lib/state-pkce.effects.ts
  packages/sdk-types/src/lib/legacy-config.types.ts
Labels: test

refactor(journey-client): refactor journey-step and related modules to functional API
  packages/journey-client/src/lib/journey-client.test.ts
  packages/journey-client/src/lib/journey-client.ts
  packages/journey-client/src/lib/journey-login-failure.ts
  packages/journey-client/src/lib/journey-login-failure.utils.test.ts
  packages/journey-client/src/lib/journey-login-failure.utils.ts
  packages/journey-client/src/lib/journey-login-success.ts
  packages/journey-client/src/lib/journey-login-success.utils.test.ts
  packages/journey-client/src/lib/journey-login-success.utils.ts
  packages/journey-client/src/lib/journey-qrcode/journey-qrcode.test.ts
  packages/journey-client/src/lib/journey-qrcode/journey-qrcode.ts
  packages/journey-client/src/lib/journey-step.test.ts
  packages/journey-client/src/lib/journey-step.ts
  packages/journey-client/src/lib/journey-step.utils.ts
  packages/journey-client/src/lib/journey-webauthn/index.ts
  packages/journey-client/src/lib/journey-webauthn/journey-webauthn.test.ts
  packages/journey-client/src/lib/journey.utils.ts
  packages/journey-client/src/lib/recovery-codes/index.ts
  packages/journey-client/src/lib/recovery-codes/recovery-codes.test.ts
Labels: test

refactor(journey-client): refactor journey-step and related modules to functional API
  packages/journey-client/src/lib/journey-client.test.ts
  packages/journey-client/src/lib/journey-client.ts
  packages/journey-client/src/lib/journey-login-failure.utils.test.ts
  packages/journey-client/src/lib/journey-login-success.utils.test.ts
  packages/journey-client/src/lib/journey-login-success.utils.ts
  packages/journey-client/src/lib/journey-step.utils.ts
  packages/sdk-effects/oidc/src/lib/state-pkce.effects.ts
Labels: test

ci: use-trusted-publishers
  .github/workflows/publish.yml
  .github/workflows/snapshot.yml
Labels: CI

ci: change-event-for-publish-snapshot
  .github/workflows/publish.yml
Labels: CI

ci: move-to-one-file
  .github/workflows/publish.yml
  .github/workflows/snapshot.yml
Labels: CI

ci: update-npm-cli
  .github/workflows/publish.yml
Labels: CI

chore: update-pnpm-workspace
  .npmrc
  package.json
  pnpm-workspace.yaml
Labels: none

chore(storage): improve storage client type
  .changeset/slow-teeth-melt.md
  packages/oidc-client/src/lib/client.store.test.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.types.ts
  packages/oidc-client/src/lib/logout.request.test.ts
  packages/oidc-client/src/lib/logout.request.ts
  packages/sdk-effects/storage/src/lib/storage.effects.test.ts
  packages/sdk-effects/storage/src/lib/storage.effects.ts
  packages/sdk-types/src/lib/tokens.types.ts
Labels: docs, test

chore: abstract-class-refactor
  packages/journey-client/src/lib/journey-device/device-profile.test.ts
  packages/journey-client/src/lib/journey-device/index.ts
  packages/oidc-client/tsconfig.json
Labels: test

chore(storage): improve storage client type
  .changeset/slow-teeth-melt.md
  packages/oidc-client/src/lib/client.store.test.ts
  packages/oidc-client/src/lib/client.store.ts
  packages/oidc-client/src/lib/client.types.ts
  packages/oidc-client/src/lib/logout.request.test.ts
  packages/oidc-client/src/lib/logout.request.ts
  packages/sdk-effects/storage/src/lib/storage.effects.test.ts
  packages/sdk-effects/storage/src/lib/storage.effects.ts
  packages/sdk-types/src/lib/tokens.types.ts
Labels: docs, test

chore: export-modules-for-jc
  packages/journey-client/package.json
Labels: none

chore: add-patch-release-docs-and-workflow
  .github/workflows/ci.yml
  .github/workflows/patch-release.yml
  contributing_docs/releases.md
Labels: CI, docs

chore: add-continuous-publish
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  README.md
  e2e/oidc-suites/src/logout.spec.ts
  package.json
  pnpm-lock.yaml
Labels: CI, docs, test

chore: init-nix-local
  .envrc
  .gitignore
  flake.lock
  flake.nix
Labels: none

chore: fix-slackbot
  .github/workflows/publish.yml
Labels: CI

chore: refactor
  .github/actions/publish-beta/action.yml
  .github/actions/publish-release/action.yml
  .github/actions/setup/action.yml
  .github/workflows/publish.yml
Labels: CI

chore: refactor
  .github/actions/setup/action.yml
  .github/workflows/publish.yml
Labels: CI

fix(github-actions): address review comments for publish workflows
  .github/actions/publish-beta/action.yml
  .github/actions/publish-release/action.yml
  .github/actions/setup/action.yml
Labels: CI

fix(ci): correct pnpm config setup and codecov token
  .github/actions/setup/action.yml
Labels: CI

feat: add fork-safe CI workflow
  .github/workflows/ci-fork.yml
Labels: CI

chore: migrate-old-mock-api
  e2e/am-mock-api/.babelrc
  e2e/am-mock-api/.eslintrc.json
  e2e/am-mock-api/package.json
  e2e/am-mock-api/project.json
  e2e/am-mock-api/src/app/.gitkeep
  e2e/am-mock-api/src/app/app.auth.js
  e2e/am-mock-api/src/app/constants.js
  e2e/am-mock-api/src/app/env.config.js
  e2e/am-mock-api/src/app/response.registration.js
  e2e/am-mock-api/src/app/responses.js
  e2e/am-mock-api/src/app/routes.auth.js
  e2e/am-mock-api/src/app/routes.resource.js
  e2e/am-mock-api/src/app/wait.js
  e2e/am-mock-api/src/assets/.gitkeep
  e2e/am-mock-api/src/environments/environment.prod.ts
  e2e/am-mock-api/src/environments/environment.ts
  e2e/am-mock-api/src/index.js
  e2e/am-mock-api/tsconfig.app.json
  e2e/am-mock-api/tsconfig.json
  e2e/am-mock-api/tsconfig.spec.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Labels: test

chore: fix-lint
  pnpm-lock.yaml
Labels: none

chore: change-dep-check-to-warn
  packages/sdk-effects/sdk-request-middleware/eslint.config.mjs
Labels: none

chore: change-dep-check-to-warn
  packages/davinci-client/eslint.config.mjs
  packages/device-client/eslint.config.mjs
  packages/journey-client/eslint.config.mjs
  packages/oidc-client/eslint.config.mjs
  packages/protect/eslint.config.mjs
  packages/sdk-effects/iframe-manager/eslint.config.mjs
  packages/sdk-effects/logger/eslint.config.mjs
  packages/sdk-effects/oidc/eslint.config.mjs
  packages/sdk-effects/storage/eslint.config.mjs
  packages/sdk-types/eslint.config.mjs
  packages/sdk-utilities/eslint.config.mjs
  tools/user-scripts/eslint.config.mjs
Labels: davinci-client, device-client

chore: fix-e2e
  e2e/oidc-suites/src/token.spec.ts
Labels: test

chore: fix-test
  packages/journey-client/src/lib/journey-client.test.ts
Labels: test

feat(davinci-client): add fido2 collectors
  .changeset/tired-melons-wish.md
  package.json
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/collector.types.test-d.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.types.test-d.ts
  packages/davinci-client/src/lib/node.types.ts
  packages/davinci-client/src/types.ts
Labels: docs, test

chore: update-flakey-tests
  e2e/davinci-suites/src/basic.test.ts
  e2e/davinci-suites/src/phone-number-field.test.ts
  e2e/oidc-suites/src/logout.spec.ts
Labels: test

test(oidc): playwright updates v1
  e2e/oidc-app/src/index.ts
  e2e/oidc-app/src/ping-am/index.html
  e2e/oidc-app/src/ping-am/main.ts
  e2e/oidc-app/src/ping-one/index.html
  e2e/oidc-app/src/utils/oidc-app.ts
  e2e/oidc-suites/eslint.config.mjs
  e2e/oidc-suites/src/login.spec.ts
  e2e/oidc-suites/src/token.spec.ts
  e2e/oidc-suites/src/utils/async-events.ts
  package.json
  pnpm-lock.yaml
Labels: test
